<div class="w-100 p-0" style="background-color: #424242;">
    <ul class="footer-floor">
        <li class="logotipo-footer">
            <img class="img-responsive" src="/images/icon-bookersnap.png">
            </img>
        </li>
        <li>
            <button class="btn btn-default-red btn-sm text-center pull-left" type="button" ui-sref="mesas.reservation-new({date : '{{vm.fecha_actual}}'})">
                <i class="tm-icon zmdi zmdi-notifications zmdi-hc-2x">
                </i>
                <div class="f-12">
                    Reservación
                </div>
            </button>
            <ul class="f-btn-notas">
                <li class="dropdown dropup" uib-dropdown="">
                    <button aria-expanded="false" aria-haspopup="true" class="btn btn-default-blue btn-sm text-center dropdown-toggle waves-effect m-l-5 m-r-5" ng-click="vm.openNotes()" type="button">
                        <span class="zmdi zmdi-book zmdi-hc-2x">
                        </span>
                        <div class="f-12">
                            Notas turnos
                        </div>
                    </button>
                    <div class="box-tab-notas" ng-show="vm.notesBox">
                        <tabset active="activeJustified">
                            <tab disable="turn.turn==null" heading="{{turn.name}}" index="$index" ng-repeat="turn in vm.typeTurns">
                                <textarea class="form-control" ng-keyup="vm.saveNotes(turn)" ng-model="turn.notes.texto" placeholder="Notas" rows="8">
                                </textarea>
                            </tab>
                        </tabset>
                    </div>
                </li>
            </ul>
            <button class="btn btn-default-blue btn-sm text-center" type="button" ui-sref="mesas.floor.block({date : '{{vm.fecha_actual}}'})">
                <span class="zmdi zmdi-lock-open zmdi-hc-2x">
                </span>
                <div class="f-12">
                    Bloqueos  mesas
                </div>
            </button>
        </li>
        <li class="dropdown dropup ultimo-btn-right pull-right" uib-dropdown="">
            <button aria-expanded="false" aria-haspopup="true" class="btn btn-default-red btn-sm text-center dropdown-toggle waves-effect" type="button" uib-dropdown-toggle="">
                MESA RAPIDA
                <span class="caret">
                </span>
            </button>
            <ul class="dropdown-menu">
                <li class="listado-table" ng-mousedown="vm.eventEstablish('create')">
                    <div class="listado-row">
                        <div class="listado-column" id="num1" data-quantity="1" ng-drag-num-people="" table-filter-fn="vm.tableFilter(1)" table-filter-clear-fn="vm.tableFilterClear()">
                            1
                        </div>
                        <div class="listado-column" id="num2" data-quantity="2" ng-drag-num-people="" table-filter-fn="vm.tableFilter(2)" table-filter-clear-fn="vm.tableFilterClear()">
                            2
                        </div>
                        <div class="listado-column" id="num3" data-quantity="3" ng-drag-num-people="" table-filter-fn="vm.tableFilter(3)" table-filter-clear-fn="vm.tableFilterClear()">
                            3
                        </div>
                    </div>
                    <div class="listado-row">
                        <div class="listado-column" id="num4" data-quantity="4" ng-drag-num-people="" table-filter-fn="vm.tableFilter(4)" table-filter-clear-fn="vm.tableFilterClear()">
                            4
                        </div>
                        <div class="listado-column" id="num5" data-quantity="5" ng-drag-num-people="" table-filter-fn="vm.tableFilter(5)" table-filter-clear-fn="vm.tableFilterClear()">
                            5
                        </div>
                        <div class="listado-column" id="num6" data-quantity="6" ng-drag-num-people="" table-filter-fn="vm.tableFilter(6)" table-filter-clear-fn="vm.tableFilterClear()">
                            6
                        </div>
                    </div>
                    <div class="listado-row">
                        <div class="listado-column" id="num7" data-quantity="7" ng-drag-num-people="" table-filter-fn="vm.tableFilter(7)" table-filter-clear-fn="vm.tableFilterClear()">
                            7
                        </div>
                        <div class="listado-column" id="num8" data-quantity="8" ng-drag-num-people="" table-filter-fn="vm.tableFilter(8)" table-filter-clear-fn="vm.tableFilterClear()">
                            8
                        </div>
                        <div class="listado-column" id="num9" data-quantity="9" ng-drag-num-people="" table-filter-fn="vm.tableFilter(9)" table-filter-clear-fn="vm.tableFilterClear()">
                            9
                        </div>
                    </div>
                    <div class="listado-row">
                        <div class="listado-column" id="num10" data-quantity="10" ng-drag-num-people="" table-filter-fn="vm.tableFilter(10)" table-filter-clear-fn="vm.tableFilterClear()">
                            10
                        </div>
                        <div class="listado-column" id="num11" data-quantity="11" ng-drag-num-people="" table-filter-fn="vm.tableFilter(11)" table-filter-clear-fn="vm.tableFilterClear()">
                            11
                        </div>
                        <div class="listado-column" id="num12" data-quantity="12" ng-drag-num-people="" table-filter-fn="vm.tableFilter(12)" table-filter-clear-fn="vm.tableFilterClear()">
                            12
                        </div>
                    </div>
                    <div class="listado-row">
                        <div class="listado-column" id="num13" data-quantity="13" ng-drag-num-people="" table-filter-fn="vm.tableFilter(13)" table-filter-clear-fn="vm.tableFilterClear()">
                            13
                        </div>
                        <div class="listado-column" id="num14" data-quantity="14" ng-drag-num-people="" table-filter-fn="vm.tableFilter(14)" table-filter-clear-fn="vm.tableFilterClear()">
                            14
                        </div>
                        <div class="listado-column" id="num15" data-quantity="15" ng-drag-num-people="" table-filter-fn="vm.tableFilter(15)" table-filter-clear-fn="vm.tableFilterClear()">
                            15
                        </div>
                    </div>
                </li>
            </ul>
        </li>
    </ul>
</div>
