<header data-current-skin="{{mactrl.currentSkin}}" data-ng-controller="headerCtrl as hctrl" data-ng-include="'/template/header.html'" id="header">
</header>
<section class="h-100vh" id="main">
    <aside data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }" data-ng-include="'/template/sidebar-left.html'" id="sidebar">
    </aside>
    <aside data-ng-class="{ 'toggled': mactrl.sidebarToggle.right === true }" data-ng-include="'/template/chat.html'" id="chat">
    </aside>
    <section id="content">
        <div class="container w-100 p-section-reservation p-r-0">
            <div class="reservation-content-header">
                <div class="pull-left">
                    <button class="btn bgm-bluegray" ng-click="prevZone()">
                        <i class="zmdi zmdi-arrow-back">
                        </i>
                    </button>
                    <button class="btn bgm-bluegray" ng-click="nextZone()">
                        <i class="zmdi zmdi-arrow-forward">
                        </i>
                    </button>
                    <label class="control-label">
                        {{ zoneName }}
                    </label>
                </div>
                <div class="pull-right">
                    <button class="btn bgm-bluegray" ng-click="selectAllTables()">
                        Seleccionar todo
                    </button>
                    <button class="btn bgm-bluegray" ng-click="unselectAllTables()">
                        Seleccionar niguno
                    </button>
                </div>
            </div>
            <!--
            <div class="reservation-content-header">
                <div class="pull-left">
                    <select  ng-model="zone" ng-options="item.name for item in zones" ng-change="selectZone(zone)">
                        <option value="" disabled="disabled" selected="true">Select Zone</option>
                    </select>
                </div>
                <div class="pull-right">
                    <div class="input-group fg-float">
                        <button class="btn btn-primary" ng-click="selectAllTables()">Select All</button>
                        &nbsp;&nbsp;&nbsp;  
                        <button class="btn btn-primary" ng-click="unselectAllTables()">Select None</button>
                    </div>
                </div>
            </div>-->
            <div class="box-zone-create p-t-15 p-b-15">
                <div class="box-lienzo-zone-v2">
                    <div class="lienzo-v2" id="lienzo" ng-click="onLienzo()" ng-drop="false" ng-drop-success="onDropComplete($data,$event)" ng-style="{width: size, height: size}">
                        <div class="item-drag-table {{obj.classBloqueado}} {{obj.class}} rt{{obj.rotate}} {{obj.shape}} {{obj.size}}-relative shape-table table-zone" id="tb-item{{$index}}" ng-drag="false" ng-drag-data="obj" ng-repeat="obj in itemTables" ng-select-table="" ng-style="{top: (obj.top/675)*100 + '%', left: (obj.left/675)*100 + '%'}" on-click-fn="activarTableOptions($index,this)" on-deselect-fn="desactivarTable($index,obj)" on-selected-fn="activarTableOptions($index,obj)" option="edit">
                            <div class="table-label top" ng-bind="obj.name" ng-click="$event.stopPropagation()">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
<section class="section-left-reservation">
    <div class="card form-drag" style="height: 100%; overflow-y:auto; overflow-x: hidden;">
        <div class="card-header p-l-10 p-r-10" style="text-align: center; line-height: 30px; color: #FFF;">
            <button class="btn btn-default pull-left">
                Cancelar
            </button>
            Crear Bloqueo
            <button class="btn btn-primary pull-right" ng-click="saveZone('create')">
                Guardar
            </button>
        </div>
        <div class="card-body">
            <div class="card m-b-5">
                <form class="form-horizontal" role="form">
                    <div class="card-body drag-border">
                        <div class="form-group">
                            <label class="col-xs-2 control-label" for="date">
                                Fecha
                            </label>
                            <div class="col-xs-10 date-picker" ng-class="{ 'is-opened': opened == true }">
                                <div class="fg-line" ng-class="{'fg-toggled': opened == true}">
                                    <input class="form-control" close-text="Close" is-open="opened" min-date="minDate" ng-click="openCalendar($event, 'opened')" ng-model="date" ng-required="true" placeholder="Select Date" show-weeks="false" type="text" uib-datepicker-popup="{{format}}"/>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-2 control-label" for="shift">
                                Turno
                            </label>
                            <div class="col-xs-10">
                                <div class="fg-line">
                                    <div class="select">
                                        <select class="form-control" ng-change="changueRange(shift)" ng-model="shift" ng-options=" shift.name for shift in shifts">
                                            <option disabled="disabled" selected="true" value="">
                                                Seleccione
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-2 control-label" for="startTime">
                                Inicia
                            </label>
                            <div class="col-xs-10">
                                <div class="fg-line">
                                    <div class="select">
                                        <select class="form-control" ng-model="startTime" ng-options="startTime.hour12 for startTime in startTimes">
                                            <option disabled="disabled" selected="true" value="">
                                                Seleccione
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-2 control-label" for="endTime">
                                Termina
                            </label>
                            <div class="col-xs-10">
                                <div class="fg-line">
                                    <div class="select">
                                        <select class="form-control" ng-change="loadBlockTables()" ng-model="endTime" ng-options="endTime.hour12 for endTime in endTimes">
                                            <option disabled="disabled" selected="true" value="">
                                                Seleccione
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group tables-selected">
                            <label class="col-xs-2 control-label">
                                Mesas
                            </label>
                            <div class="col-xs-10 control-label">
                                <div class="tags" data-ng-bind-html="someSafeContent">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="popover-demo">
                <div class="popover right bgm-amber" ng-repeat="conflict in conflicts track by $index" style="display: block; margin: 0 0 5px 0 !important;  /*max-width: 100%;*/">
                    <div class="arrow">
                    </div>
                    <h3 class="popover-title" style="padding: 5px; background: transparent;">
                        Conflicto en mesa - {{ conflict.name}}
                    </h3>
                    <div class="popover-content" style="padding: 0 0 5px 5px;">
                        <p>
                            mesa  demasiado grande.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--<footer id="footer" data-ng-include="'/template/footer.html'"></footer>-->
