@import 'main.mixins.styl';

.bg-transparent 
	background transparent !important
.bg-white 
	background-color #fff !important
.no-box-shadow
	box-shadow none

.scroll-x-hidden 
	overflow-x hidden
.scroll-y 
	height 100%
	overflow-y scroll

.block-header
	padding-bottom 13px
#main 
	padding-top 70px
.header-inner
	z-index 9
.container 
	//width 100%
	//padding 0git a
.menu-section
	//padding-top 70px
	//margin-bottom 15px
	background-color $color_secundario
	border-bottom 1px solid $color_principal
.ha-menu>ul>li.active>:not(ul)
	box-shadow: inset 0 -3px 0 0 #fff;
.main-menu
	&>li
		&>a
			font-size 1em
			color #fff
			&:hover,&:active
				color #000
				&:before
					color #000	
			& i 
				font-size 23px
.sub-menu
	&>a
		&:before,&:after
			color #fff
	& ul 
		& li 
			& a 
				color rgba(255,255,255,.6)
				&.active 
					color #fff
				&:hover 
					color #fff
.sidebar-inner 
	background-color $color_principal
		
/*.btn-primary
	background-color #757575
	&:hover:hover
		background-color #757575*/
.btn-warning
	background-color #FB8C00
	&:hover:hover
		background-color #F57C00
.btn-danger
	background-color #D32F2F
	&:hover:hover
		background-color #C62828
	&:focus:focus
		background-color #E53935
.btn-addon

		
.table>tbody>tr>td:last-child, 
.table>tbody>tr>th:last-child, 
.table>tfoot>tr>td:last-child, 
.table>tfoot>tr>th:last-child, 
.table>thead>tr>td:last-child, 
.table>thead>tr>th:last-child
	padding-right 2px
		
[data-current-skin="gray-win"] 
	background-color $color_principal
	& .ss-icon 
		color $color_principal
.bgm-gray-win
	background-color $color_principal
.h-100vh
	height 100vh
.p-section-right
	padding-right 400px
.section-right-floor
	width 400px
	top 0
	right 0
	position fixed
	height 100vh
	background #424242
	padding-top 70px

.p-section-reservation
	padding-left 400px;

.section-left-reservation
	width 400px
	top 0
	left 0
	position fixed
	height 100vh
	background #424242
	padding-top 70px
	color #fff
.w-100-px
	width 100px
.w-40-px
	width 40px
.m-l-3-i
	margin-left -3px
.min-h-200-px
	min-height 200px
.min-h-100-px
	min-height 100px
.preloader
	&.pls-white
		& .plc-path
			stroke #FFFFFF
.center-content
	display -webkit-box  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
	display -ms-flexbox  /* TWEENER - IE 10 */
	display -webkit-flex /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
	display flex
	justify-content center
	align-items center

