$color_principal = #424242
$color_secundario = #616161 

placeholder-text(color_text)
	&::-moz-placeholder
		color color_text
	&:-ms-input-placeholder 
		color color_text
	&::-webkit-input-placeholder
		color color_text    