$color_principal = #424242
$color_secundario = #616161 

.block-header
	padding-bottom 13px
#main 
	padding-top 70px
#content 
	//padding 0
.container 
	//width 100%
	//padding 0git a
.menu-section
	//padding-top 70px
	margin-bottom 15px
	background-color $color_secundario
	border-bottom 1px solid $color_principal
.ha-menu>ul>li.active>:not(ul)
	box-shadow: inset 0 -3px 0 0 #fff;
.main-menu
	&>li
		&>a
			font-size 1.1em
			& i 
				font-size 23px
		
/*.btn-primary
	background-color #757575
	&:hover:hover
		background-color #757575*/
.btn-warning
	background-color #FB8C00
	&:hover:hover
		background-color #F57C00
.btn-danger
	background-color #D32F2F
	&:hover:hover
		background-color #C62828
	&:focus:focus
		background-color #E53935
		
		
.table>tbody>tr>td:last-child, 
.table>tbody>tr>th:last-child, 
.table>tfoot>tr>td:last-child, 
.table>tfoot>tr>th:last-child, 
.table>thead>tr>td:last-child, 
.table>thead>tr>th:last-child
	padding-right 2px
		
[data-current-skin="gray-win"] 
	background-color $color_principal
	& .ss-icon 
		color $color_principal
.bgm-gray-win
	background-color $color_principal
.h-100vh
	height 100vh
.p-section-right
	padding-right 400px;
.section-right-floor
	width 400px
	top 0
	right 0
	position fixed
	height 100vh
	background #424242
	padding-top 70px
	padding-bottom 85px
