<section class="bgm-gray-win menu-section" id="content">
    <div class="w-100 p-0">
        <nav class="ha-menu">
            <ul>
                <li class="waves-effect" ng-if="$index < 4" ng-repeat="tab in vm.zones">
                    <button class="btn btn-menu w-100-px {{vm.flagSelectedZone==$index ? 'btn-primary-nav': 'btn-default-nav'}}" data-ng-click="vm.tabSelectedZone($index)" ng-drop-tab-zones="" on-droppedd-fn="vm.tabSelectedZone($index)">
                        {{tab.name}}
                        <span class="num-orden-zona">
                            {{$index+1}}
                        </span>
                    </button>
                </li>
                <li class="dropdown" ng-if="vm.flagSelectedZone > 4" uib-dropdown="">
                    <button aria-expanded="false" aria-haspopup="true" class="btn btn-menu m-l-3-i w-40-px dropdown-toggle waves-effect {{vm.flagSelectedZone >= 4 ? 'btn-primary-nav': 'btn-default-nav'}}" type="button" uib-dropdown-toggle="">
                        <span class="zmdi zmdi-caret-right zmdi-hc-fw zmdi-hc-3x">
                        </span>
                    </button>
                    <ul class="dropdown-menu">
                        <li ng-if="$index >= 4" ng-repeat="tab in vm.zones">
                            <a data-ng-click="vm.tabSelectedZone($index)">
                                {{tab.name}}
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown open pull-right tab-tiempo" uib-dropdown="">
                    <button aria-expanded="true" aria-haspopup="true" class="btn btn-menu w-100-px btn-default-nav waves-effect dropdown-toggle item-txt-time" uib-dropdown-toggle="">
                        <i class="zmdi zmdi-time zmdi-hc-3x yellow-time">
                        </i>
                        <span class="txt-time">
                            Tiempo
                            <span class="caret">
                            </span>
                        </span>
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <a>
                                Ocultar tiempo
                            </a>
                        </li>
                        <li>
                            <a>
                                Tiempo sentado
                            </a>
                        </li>
                        <li>
                            <a>
                                Tiempo restante
                            </a>
                        </li>
                        <li>
                            <a>
                                Siguiente reservacion
                            </a>
                        </li>
                        <li>
                            <a>
                                Siguiente segunda reservacion
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="waves-effect pull-right">
                    <button class="btn btn-menu w-100-px btn-default-nav">
                        <i class="zmdi zmdi-case-check zmdi-hc-3x">
                        </i>
                        <span>
                            R.P
                        </span>
                    </button>
                </li>
                <li class="clearfix">
                </li>
            </ul>
        </nav>
    </div>
</section>

<div class="box-zone-create bg-window-floor">
    <div class="box-lienzo-zone-v2 p-t-10">
        <div class="lienzo-v2" id="lienzo" ng-style="{width: vm.size, height: vm.size, fontSize:vm.fontSize}" ng-repeat="tab in vm.zones" ng-show="$index == vm.flagSelectedZone">
            <div class="item-drag-table rt{{obj.rotate}} shape-table table-zone" ng-class="[obj.shape, obj.size, {'selected-table': obj.selected, 'block-table': obj.block,'occupied-table': obj.occupied}]" ng-style="{top: obj.top, left: obj.left, border: obj.server.reservation || obj.server.default}" ng-detail-table="" color="{{obj.color}}" id="el{{obj.table_id}}" num="vm.numpeople" on-click-fn="vm.mostrarDetail($parent.$index,obj)" on-dropped-fn="vm.handConfiguration(obj)" ng-repeat="obj in tab.tables">
                <div class="icon-available">
                </div>
                <div class="table-label top">
                    <span ng-bind="obj.name">
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>