<section class="bgm-gray-win menu-section" id="content">
    <div class="w-100 p-0">
        <nav class="ha-menu">
            <ul>
                <li class="waves-effect" ng-if="$index < 4" ng-repeat="tab in vm.zones">
                    <button class="btn btn-menu w-100-px {{vm.flagSelectedZone==$index ? 'btn-primary-nav': 'btn-default-nav'}}" data-ng-click="vm.tabSelectedZone($index)" ng-drop-tab-zones="" on-droppedd-fn="vm.tabSelectedZone($index)">
                        {{tab.name}}
                        <span class="num-orden-zona">
                            {{$index+1}}
                        </span>
                    </button>
                </li>
                <li class="dropdown" ng-if="vm.flagSelectedZone > 4" uib-dropdown="">
                    <button aria-expanded="false" aria-haspopup="true" class="btn btn-menu m-l-3-i w-40-px dropdown-toggle waves-effect {{vm.flagSelectedZone >= 4 ? 'btn-primary-nav': 'btn-default-nav'}}" type="button" uib-dropdown-toggle="">
                        <span class="zmdi zmdi-caret-right zmdi-hc-fw zmdi-hc-3x">
                        </span>
                    </button>
                    <ul class="dropdown-menu">
                        <li ng-if="$index >= 4" ng-repeat="tab in vm.zones">
                            <a data-ng-click="vm.tabSelectedZone($index)">
                                {{tab.name}}
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown open pull-right tab-tiempo" uib-dropdown="">
                    <button aria-expanded="true" aria-haspopup="true" class="btn btn-menu w-100-px btn-default-nav waves-effect dropdown-toggle item-txt-time" uib-dropdown-toggle="">
                        <i class="zmdi zmdi-time zmdi-hc-3x yellow-time">
                        </i>
                        <span class="txt-time">
                            Tiempo
                            <span class="caret">
                            </span>
                        </span>
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="javascript:void(0)" ng-click="vm.hideTimes()">
                                Ocultar tiempo
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" ng-click="vm.showTimeSeated()">
                                Tiempo sentado
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" ng-click="vm.showTimeToComplete()">
                                Tiempo restante
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" ng-click="vm.showTimeNextTime()">
                                Siguiente reservacion
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" ng-click="vm.showTimeNextTimeAll()">
                                Siguiente segunda reservacion
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="waves-effect pull-right">
                    <button class="btn btn-menu w-100-px btn-default-nav">
                        <i class="zmdi zmdi-case-check zmdi-hc-3x">
                        </i>
                        <span>
                            R.P
                        </span>
                    </button>
                </li>
                <li class="clearfix">
                </li>
            </ul>
        </nav>
    </div>
</section>

<div class="box-zone-create bg-window-floor">
    <div class="box-lienzo-zone-v2 p-t-10">
        <div class="lienzo-v2" id="lienzo" ng-style="{width: vm.size, height: vm.size, fontSize:vm.fontSize}" ng-repeat="tab in vm.zones" ng-show="$index == vm.flagSelectedZone">
            <div class="item-drag-table rt{{obj.rotate}} shape-table table-zone" ng-class="[obj.shape, obj.size, {'selected-table': obj.selected, 'block-table': obj.block}]" ng-style="{top: obj.top, left: obj.left, border: obj.server.reservation || obj.server.default}" ng-detail-table="" num="vm.numpeople" on-click-fn="vm.mostrarDetail($parent.$index,obj)" on-dropped-fn="vm.handConfiguration(obj)" ng-repeat="obj in tab.tables">
                <div class="table-label top" ng-bind="obj.name"></div>
                <div class="item-drag-cover" ng-hide="obj.suggested || obj.occupied || obj.class.name || !vm.filter">{{ obj.minCover }}-{{ obj.maxCover }}</div>
                <div class="box-icon item-suggested" ng-show="obj.suggested"></div>
                <div class="box-icon item-occupied" ng-show="obj.occupied"></div>
                <div ng-class="[obj.class.name]" ng-drag-mv-reservation ng-show="obj.class.name"></div>
                <div class="item-drag-time" ng-style="{background: obj.time.color}" ng-if="obj.time.text && vm.showTime">{{ obj.time.text }}</div>
                <div class="item-drag-time next-time-all"  ng-class="{'nex-time-top' : obj.grouptime.length > 1}" ng-if="obj.grouptime.length && vm.showTime" ng-repeat="time in obj.grouptime">{{ time.text }}</div>

            </div>
        </div>
    </div>
</div>