    <section class="bgm-gray-win menu-section" id="content">
    <div class="w-100 p-0">
        <nav class="ha-menu">
            <ul>
                <li class="waves-effect" ng-repeat="tab in vm.zonas" ng-if="$index < 4">
                    <button class="btn btn-menu w-100-px {{vm.flagSelectedZone==$index ? 'btn-primary-nav': 'btn-default-nav'}}" data-ng-click="vm.tabSelectedZone($index)">
                        {{tab.name}} <span class="num-orden-zona">{{$index+1}}</span>
                    </button>
                </li>


                <li class="dropdown" uib-dropdown="" > 
                    <button type="button" class="btn btn-menu m-l-3-i w-40-px dropdown-toggle waves-effect {{vm.flagSelectedZone >= 4 ? 'btn-primary-nav': 'btn-default-nav'}}" uib-dropdown-toggle="" aria-haspopup="true" aria-expanded="false">
                            ...
                            <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li ng-repeat="tab in vm.zonas" ng-if="$index >= 4">
                        <a data-ng-click="vm.tabSelectedZone($index)">{{tab.name}}</a></li>
                    </ul>
                </li>
                
                <li class="dropdown open pull-right tab-tiempo" uib-dropdown="">
                    <div class="waves-effect dropdown-toggle item-txt-time" uib-dropdown-toggle="" aria-haspopup="true" aria-expanded="true"><i class="zmdi zmdi-time zmdi-hc-2x yellow-time"></i><span class="txt-time">&nbsp;Tiempo <span class="caret"></span></span></div>
                    <ul class="dropdown-menu">
                        <li><a>Ocultar tiempo</a></li>
                        <li><a>Tiempo sentado</a></li>
                        <li><a>Tiempo restante</a></li>
                        <li><a>Siguiente reservacion</a></li>
                        <li><a>Siguiente segunda reservacion</a></li>
                    </ul>
                </li>
                <li class="waves-effect pull-right tab-rp">
                    <a href=""><i class="zmdi zmdi-case-check"></i> <span> R.P</span></a>
                </li>
                
            </ul>
        </nav>
    </div>
    </section>
    <div ng-repeat="tab in vm.zonas" ng-if="vm.flagSelectedZone==$index" >
            <div style=" background: #eee; width: 100%; text-align: center;">
            <div class="zoneArea" style="position:relative; ">
                <div class="border {{obj.shape}} {{obj.size}} rt{{obj.rotate}} bg-white" color="{{obj.color}}" id="el{{obj.id}}" ng-detail-table="" ng-repeat="obj in tab.table" on-click-fn="vm.mostrarDetail($index,obj)" x="{{obj.left}}" y="{{obj.top}}" on-dropped-fn="vm.handConfiguration()">
                    <div class="txtcenter">
                        <div class="name-table">
                            {{obj.name}}
                        </div>
                        <div class="box-status {{obj.res_reservation_status_id | statusOnlySeated}} icon-status-table">
                        </div>
                    </div>
                </div>
            </div>
            </div>
    </div>

