<br>
        <div class="tab-reservation-floor">
            <div class="input-group">
                <div class="fg-line">
                    <input type="text" class="form-control" placeholder="Buscar por nombre, mesa u horario" ng-show="!rm.search.show" id="fadeingEntrances2" ng-model="rm.busqueda">
                    <button type="button" class="btn btn-default-blue btn-block text-center waves-effect animated" ng-show="rm.search.show" id="fadeingEntrances">
                        <i class="zmdi zmdi-notifications zmdi-hc-fw zmdi-hc-lg"></i>
                        <span>CREAR RESERVACIÓN</span>
                    </button>
                </div>
                <span class="input-group-addon last" >
                    <button type="button" class="btn waves-effect" ng-click="rm.searchReservation()">
                        <i class="zmdi zmdi-search" ng-show="rm.search.show"></i>
                        <i class="zmdi zmdi-close" ng-show="!rm.search.show"></i>
                    </button>
                </span>
            </div>
            <tabset justified="true">
                <tab heading="Por llegar" active="tab.active">
                    <div class="scrolltablef">
                        <table class="table-listado" cellpadding="0" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>
                                        <table class="table-listado">
                                           <tr>
                                                <th>HORA</th>
                                                <th>PAX</th>
                                                <th>NOMBRE</th>
                                                <th>SALON</th>
                                                <th>MESA</th>
                                                <th>ESTADO</th>
                                           </tr> 
                                        </table>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="listado-column" id="num{{ value.num_people }}" ng-drag-up-coming ng-mousedown="rm.selectReservation(value)" ng-repeat="value in rm.res_listado | filter:rm.busqueda | peopleSel:rm.filter_people">
                                    <td>
                                        <table class="table-listado">
                                            <tr>
                                                <td>{{value.start_time}}</td>
                                                <td>{{value.num_people}}</td>
                                                <td>{{value.first_name}} {{value.last_name}}</td>
                                                <td>{{value.zone_indice}}</td>
                                                <td>{{value.name}}</td>
                                                <td><div class="box-estado-res bg-green">Espera</div></td>
                                            </tr>
                                            <tr class="line-row">
                                                <td colspan="4">
                                                    <ul class="actions p-0 m-0">
                                                        <li class="dropdown" uib-dropdown="">
                                                            <a href="" uib-dropdown-toggle="" class="dropdown-toggle" aria-haspopup="true" aria-expanded="false"><i class="zmdi zmdi-info-outline"></i></a>
                                                            <ul class="dropdown-menu dropdown-menu-right">
                                                            <li><a href="">Eleccion primera</a></li>
                                                            <li><a href="">Segunda eleccion</a></li>
                                                            </ul>
                                                        </li>
                                                        <li class="icon-people"><a href="">
                                                            <i class="zmdi zmdi-male-alt"></i>
                                                            <span class="num_people">{{value.num_people_1}}</span>
                                                        </a></li>
                                                        <li class="icon-people"><a href="">
                                                            <i class="zmdi zmdi-female"></i>
                                                            <span class="num_people">{{value.num_people_2}}</span>
                                                        </a></li>
                                                        <li class="icon-people"><a href="">
                                                            <i class="zmdi zmdi-face"></i>
                                                            <span class="num_people">{{value.num_people_3}}</span>
                                                        </a></li>
                                                        <li class="icon-people"><a href=""><i class="zmdi zmdi-email"></i></a></li>
                                                    </ul>
                                                </td>
                                                <td><div class="box-estado-res">MENU</div></td>
                                                <td><div class="box-estado-res">Directo</div></td>
                                            </tr>
                                        </table>
                                    </td> 
                                </tr>
                                
                            </tbody>
                        </table>
                        
                    </div>

                </tab>
                <tab heading="Sentados">
                    <ul class="list-group">
                        <li class="list-group-item" ng-repeat="value in rm.res_listado|filter:rm.busqueda|statusSeated">
                            <div class="pull-right">
                                <span class="box-status {{value.res_reservation_status_id | statusReservation}}"></span>
                            </div>
                            <div class="lv-title ng-scope" ><i class="zmdi zmdi-calendar-note"></i>
                            Mesa: {{value.name}} - {{value.first_name}} {{value.last_name}}</div>
                            <div>{{value.start_time}} - {{value.end_time}}</br>
                            {{value.num_people}} personas</div>
                        </li>
                    </ul>
                </tab>
                <tab heading="Todos">
                    <div class="scrolltablef">
                     <table class="table-listado" cellpadding="0" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>
                                        <table class="table-listado">
                                           <tr>
                                                <th>HORA</th>
                                                <th>PAX</th>
                                                <th>NOMBRE</th>
                                                <th>SALON</th>
                                                <th>MESA</th>
                                                <th>ESTADO</th>
                                           </tr> 
                                        </table>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="listado-column" id="num1" ng-drag-up-coming ng-mousedown="vm.eventEstablished = 1" ng-repeat="value in rm.res_listado | filter:rm.busqueda | peopleSel:rm.filter_people">
                                    <td>
                                        <table class="table-listado">
                                            <tr>
                                                <td>{{value.start_time}}</td>
                                                <td>{{value.num_people}}</td>
                                                <td>{{value.first_name}} {{value.last_name}}</td>
                                                <td>{{value.zone_indice}}</td>
                                                <td>{{value.name}}</td>
                                                <td><div class="box-estado-res bg-green">Espera</div></td>
                                            </tr>
                                            <tr class="line-row">
                                                <td colspan="4">
                                                    <ul class="actions p-0 m-0">
                                                        <li class="dropdown" uib-dropdown="">
                                                            <a href="" uib-dropdown-toggle="" class="dropdown-toggle" aria-haspopup="true" aria-expanded="false"><i class="zmdi zmdi-info-outline"></i></a>
                                                            <ul class="dropdown-menu dropdown-menu-right">
                                                            <li><a href="">Eleccion primera</a></li>
                                                            <li><a href="">Segunda eleccion</a></li>
                                                            </ul>
                                                        </li>
                                                        <li class="icon-people"><a href="">
                                                            <i class="zmdi zmdi-male-alt"></i>
                                                            <span class="num_people">{{value.num_people_1}}</span>
                                                        </a></li>
                                                        <li class="icon-people"><a href="">
                                                            <i class="zmdi zmdi-female"></i>
                                                            <span class="num_people">{{value.num_people_2}}</span>
                                                        </a></li>
                                                        <li class="icon-people"><a href="">
                                                            <i class="zmdi zmdi-face"></i>
                                                            <span class="num_people">{{value.num_people_3}}</span>
                                                        </a></li>
                                                        <li class="icon-people"><a href=""><i class="zmdi zmdi-email"></i></a></li>
                                                    </ul>
                                                </td>
                                                <td><div class="box-estado-res">MENU</div></td>
                                                <td><div class="box-estado-res">Directo</div></td>
                                            </tr>
                                        </table>
                                    </td> 
                                </tr>
                                
                            </tbody>
                        </table>
                    </div>
                </tab>           
            </tabset>
        </div>

        <ul class="listado-filtros">
            <li class="dropdown dropup" uib-dropdown="">
            <button type="button" class="btn dropdown-toggle waves-effect" uib-dropdown-toggle="" aria-haspopup="true" aria-expanded="false">
                TURNOS
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="">Desayuno</a></li>
                <li><a href="">Comida</a></li>
                <li><a href="">Cena</a></li>
                <li><a href="">Bar</a></li>
            </ul>
            </li>

            <li class="dropdown dropup" uib-dropdown="">
            <button type="button" class="btn dropdown-toggle waves-effect" uib-dropdown-toggle="" aria-haspopup="true" aria-expanded="false">
                RESERVAS
                <span class="caret"></span>
                <span class="rounded">20</span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="">Web</a></li>
                <li><a href="">Telefono</a></li>
                <li><a href="">Portal</a></li>
                <li><a href="">Rp</a></li>
            </ul>
            </li>

            <li class="dropdown dropup" uib-dropdown="">
            <button type="button" class="btn dropdown-toggle waves-effect" uib-dropdown-toggle="" aria-haspopup="true" aria-expanded="false">
                VISITAS
                <span class="caret"></span>
                <span class="rounded">{{rm.total_visitas}}</span>
            </button>
            <ul class="dropdown-menu">
                <li ng-repeat="categoria in rm.categorias_people">
                <a href="" ng-click="rm.select_people(categoria)" ng-class="rm.isActivePeople(categoria)">{{categoria.nombre}}</a>
                </li>
            </ul>
            </li>

        </ul>
