<br>
        <div class="input-group">
            <span class="input-group-addon"><i class="zmdi zmdi-search"></i></span>
            <div class="fg-line">
                <input type="text" class="form-control" ng-model="rm.busqueda" placeholder="Buscar por huésped u horario...">
            </div> 
        </div>
        <br>
        <tabset justified="true">
            <tab heading="Pendientes" active="tab.active" class="f-11">
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="value in rm.listado|filter:rm.busqueda|statusCondicion">
                        <div class="pull-right">
                            <span class="box-status {{value.res_reservation_status_id | statusReservation}}"></span>
                        </div>
                        <div class="lv-title ng-scope" ><i class="zmdi zmdi-calendar-note"></i>
                        Mesa: {{value.name}} - {{value.first_name}} {{value.last_name}}</div>
                        <div>{{value.start_time}} - {{value.end_time}}</br>
                        {{value.num_people}} personas</div>
                    </li>
                </ul>
            </tab>
            <tab heading="En mesa" class="f-11">
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="value in rm.listado|filter:rm.busqueda|statusSeated">
                        <div class="pull-right">
                            <span class="box-status {{value.res_reservation_status_id | statusReservation}}"></span>
                        </div>
                        <div class="lv-title ng-scope" ><i class="zmdi zmdi-calendar-note"></i>
                        Mesa: {{value.name}} - {{value.first_name}} {{value.last_name}}</div>
                        <div>{{value.start_time}} - {{value.end_time}}</br>
                        {{value.num_people}} personas</div>
                    </li>
                </ul>
            </tab>
            <tab heading="Todos" class="f-11">
                <div class="listview lv-bordered lv-lg">
                 
                  <div class="lv-body">
                  <ion-scroll zooming="true" direction="y">
                    <div ng-repeat="item in rm.listado|filter:rm.busqueda|orderBy:item.first_name" ng-class="item.block_id ? 'lv-item media border-left-amber':'lv-item media border-left-green'" >
                      <div class="pull-right" ng-if="item.reservation_id">
                        <span class="box-status {{item.res_reservation_status_id | statusReservation}}"></span>
                      </div>
                      <div class="media-body">
                        <div class="lv-title" ng-if="item.block_id"><i class="zmdi zmdi-block-alt"></i> Mesa {{item.name}} bloqueada</div>
                        <div class="lv-title" ng-if="item.reservation_id"><i class="zmdi zmdi-calendar-note"></i> Mesa: {{item.name}} <br>{{item.first_name}} {{item.last_name}}</div>
                        <ul class="lv-attrs">
                          <li><i class="zmdi zmdi-time"></i> {{item.start_time}} - {{item.end_time}}</li>
                          <li ng-if="item.reservation_id"><i class="zmdi zmdi-account-o"></i> {{item.num_people}} personas</li>
                        </ul>
                      </div>
                    </div>
                    <div class="not-information" ng-if="vmd.itemReservations==''">
                      No existe mesas reservadas o bloqueadas
                    </div>
                    </ion-scroll>
                  </div>
                </div>
            </tab>           
        </tabset>
