<br>
        <!--
        <div class="btn-group">
            <label class="btn btn-primary" ng-model="radioModel" uib-btn-radio="'1'">Por llegar</label>
            <label class="btn btn-primary" ng-model="radioModel" uib-btn-radio="'2'">Sentados</label>
            <label class="btn btn-primary" ng-model="radioModel" uib-btn-radio="'3'">Todos</label>
        </div>
        <div ng-if="radioModel==1">
            ver 01
        </div>
        -->
        

        <div class="tab-reservation-floor">
            <div class="input-group">
                <div class="fg-line">
                    <input type="text" class="form-control" placeholder="Buscar por nombre u horario">
                </div>
                <span class="input-group-addon last"><i class="zmdi zmdi-search"></i></span>
            </div>
        <tabset justified="true">
            <tab heading="Por llegar" active="tab.active">

                <table class="table-listado" cellpadding="0" cellspacing="0">
                <thead>
                <tr>
                  <th>HORA</th>
                  <th>PAX</th>
                  <th>NOMBRE</th>
                  <th>SALON</th>
                  <th>MESA</th>
                  <th>ESTADO</th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>08.30</td>
                        <td>10</td>
                        <td>Charly Parra</td>
                        <td>1</td>
                        <td>A15</td>
                        <td><div class="box-estado-res bg-green">Espera</div></td>
                    </tr>
                    <tr class="line-row">
                        <td colspan="4">
                            <ul class="actions p-0 m-0">
                                <li class="dropdown" uib-dropdown="">
                                    <a href="" uib-dropdown-toggle="" class="dropdown-toggle" aria-haspopup="true" aria-expanded="false"><i class="zmdi zmdi-info-outline"></i></a>
                                    <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="">Eleccion primera</a></li>
                                    <li><a href="">Segunda eleccion</a></li>
                                    </ul>
                                </li>
                                <li><a href=""><i class="zmdi zmdi-male-alt"></i></a></li>
                                <li><a href=""><i class="zmdi zmdi-female"></i></a></li>
                                <li><a href=""><i class="zmdi zmdi-face"></i></a></li>
                                <li><a href=""><i class="zmdi zmdi-email"></i></a></li>
                            </ul>
                        </td>
                        <td><div class="box-estado-res">MENU</div></td>
                        <td><div class="box-estado-res">Directo</div></td>
                    </tr>
                    <tr>
                        <td>12:30</td>
                        <td>12</td>
                        <td>Salma Hayek</td>
                        <td>2</td>
                        <td>S/M</td>
                        <td><div class="box-estado-res bg-orange">Reservado</div></td>
                    </tr>
                    <tr class="line-row">
                        <td colspan="4">
                            <ul class="actions p-0 m-0">
                                <li class="dropdown" uib-dropdown="">
                                    <a href="" uib-dropdown-toggle="" class="dropdown-toggle" aria-haspopup="true" aria-expanded="false"><i class="zmdi zmdi-info-outline"></i></a>
                                    <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="">Eleccion primera</a></li>
                                    <li><a href="">Segunda eleccion</a></li>
                                    </ul>
                                </li>
                                <li><a href=""><i class="zmdi zmdi-male-alt"></i></a></li>
                                <li><a href=""><i class="zmdi zmdi-female"></i></a></li>
                                <li><a href=""><i class="zmdi zmdi-face"></i></a></li>
                                <li><a href=""><i class="zmdi zmdi-email"></i></a></li>
                            </ul>
                        </td>
                        <td><div class="box-estado-res">BUFFET</div></td>
                        <td><div class="box-estado-res">Directo</div></td>
                    </tr>
                    <tr>
                        <td>02:30</td>
                        <td>10</td>
                        <td>Nicolas Cage</td>
                        <td>3</td>
                        <td>A15</td>
                        <td><div class="box-estado-res bg-beige">Confirmado</div></td>
                    </tr>
                    <tr class="line-row">
                        <td colspan="4">
                            <ul class="actions p-0 m-0">
                                <li class="dropdown" uib-dropdown="">
                                    <a href="" uib-dropdown-toggle="" class="dropdown-toggle" aria-haspopup="true" aria-expanded="false"><i class="zmdi zmdi-info-outline"></i></a>
                                    <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="">Eleccion primera</a></li>
                                    <li><a href="">Segunda eleccion</a></li>
                                    </ul>
                                </li>
                                <li><a href=""><i class="zmdi zmdi-male-alt"></i></a></li>
                                <li><a href=""><i class="zmdi zmdi-female"></i></a></li>
                                <li><a href=""><i class="zmdi zmdi-face"></i></a></li>
                                <li><a href=""><i class="zmdi zmdi-email"></i></a></li>
                            </ul>
                        </td>
                        <td><div class="box-estado-res">VIP</div></td>
                        <td><div class="box-estado-res">RP</div></td>
                    </tr>
                    <tr>
                        <td>03:30</td>
                        <td>12</td>
                        <td>Scarlett Johansson</td>
                        <td>2</td>
                        <td>S/M</td>
                        <td><div class="box-estado-res bg-pink">Cancelado</div></td>
                    </tr>
                    <tr class="line-row">
                        <td colspan="4">
                            <ul class="actions p-0 m-0">
                                <li class="dropdown" uib-dropdown="">
                                    <a href="" uib-dropdown-toggle="" class="dropdown-toggle" aria-haspopup="true" aria-expanded="false"><i class="zmdi zmdi-info-outline"></i></a>
                                    <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="">Eleccion primera</a></li>
                                    <li><a href="">Segunda eleccion</a></li>
                                    </ul>
                                </li>
                                <li><a href=""><i class="zmdi zmdi-male-alt"></i></a></li>
                                <li><a href=""><i class="zmdi zmdi-female"></i></a></li>
                                <li><a href=""><i class="zmdi zmdi-face"></i></a></li>
                                <li><a href=""><i class="zmdi zmdi-email"></i></a></li>
                            </ul>
                        </td>
                        <td><div class="box-estado-res">MENU</div></td>
                        <td><div class="box-estado-res">Directo</div></td>
                    </tr>
                    <tr>
                        <td>04:30</td>
                        <td>10</td>
                        <td>James Hetfield</td>
                        <td>3</td>
                        <td>A15</td>
                        <td><div class="box-estado-res bg-green">Espera</div></td>
                    </tr>
                    <tr class="line-row">
                        <td colspan="4">
                            <ul class="actions p-0 m-0">
                                <li class="dropdown" uib-dropdown="">
                                    <a href="" uib-dropdown-toggle="" class="dropdown-toggle" aria-haspopup="true" aria-expanded="false"><i class="zmdi zmdi-info-outline"></i></a>
                                    <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="">Eleccion primera</a></li>
                                    <li><a href="">Segunda eleccion</a></li>
                                    </ul>
                                </li>
                                <li><a href=""><i class="zmdi zmdi-male-alt"></i></a></li>
                                <li><a href=""><i class="zmdi zmdi-female"></i></a></li>
                                <li><a href=""><i class="zmdi zmdi-face"></i></a></li>
                                <li><a href=""><i class="zmdi zmdi-email"></i></a></li>
                            </ul>
                        </td>
                        <td><div class="box-estado-res">MENU</div></td>
                        <td><div class="box-estado-res">WEB</div></td>
                    </tr>
                    <tr>
                        <td>12.30</td>
                        <td>12</td>
                        <td>Salma Hayek</td>
                        <td>1</td>
                        <td>S/M</td>
                        <td><div class="box-estado-res bg-orange">Reservado</div></td>
                    </tr>
                    <tr class="line-row">
                        <td colspan="4">
                            <ul class="actions p-0 m-0">
                                <li class="dropdown" uib-dropdown="">
                                    <a href="" uib-dropdown-toggle="" class="dropdown-toggle" aria-haspopup="true" aria-expanded="false"><i class="zmdi zmdi-info-outline"></i></a>
                                    <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="">Eleccion primera</a></li>
                                    <li><a href="">Segunda eleccion</a></li>
                                    </ul>
                                </li>
                                <li><a href=""><i class="zmdi zmdi-male-alt"></i></a></li>
                                <li><a href=""><i class="zmdi zmdi-female"></i></a></li>
                                <li><a href=""><i class="zmdi zmdi-face"></i></a></li>
                                <li><a href=""><i class="zmdi zmdi-email"></i></a></li>
                            </ul>
                        </td>
                        <td><div class="box-estado-res">MENU</div></td>
                        <td><div class="box-estado-res">Directo</div></td>
                    </tr>
                    <tr>
                        <td>08.30</td>
                        <td>10</td>
                        <td>Charly Parra</td>
                        <td>3</td>
                        <td>A15</td>
                        <td><div class="box-estado-res bg-green">Espera</div></td>
                    </tr>
                    <tr class="line-row">
                        <td colspan="4">
                            <ul class="actions p-0 m-0">
                                <li class="dropdown" uib-dropdown="">
                                    <a href="" uib-dropdown-toggle="" class="dropdown-toggle" aria-haspopup="true" aria-expanded="false"><i class="zmdi zmdi-info-outline"></i></a>
                                    <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="">Eleccion primera</a></li>
                                    <li><a href="">Segunda eleccion</a></li>
                                    </ul>
                                </li>
                                <li><a href=""><i class="zmdi zmdi-male-alt"></i></a></li>
                                <li><a href=""><i class="zmdi zmdi-female"></i></a></li>
                                <li><a href=""><i class="zmdi zmdi-face"></i></a></li>
                                <li><a href=""><i class="zmdi zmdi-email"></i></a></li>
                            </ul>
                        </td>
                        <td><div class="box-estado-res">MENU</div></td>
                        <td><div class="box-estado-res">PORTAL</div></td>
                    </tr>
                    <tr>
                        <td>12.30</td>
                        <td>12</td>
                        <td>Salma Hayek</td>
                        <td>2</td>
                        <td>S/M</td>
                        <td><div class="box-estado-res bg-orange">Reservado</div></td>
                    </tr>
                    <tr class="line-row">
                        <td colspan="4">
                            <ul class="actions p-0 m-0">
                                <li class="dropdown" uib-dropdown="">
                                    <a href="" uib-dropdown-toggle="" class="dropdown-toggle" aria-haspopup="true" aria-expanded="false"><i class="zmdi zmdi-info-outline"></i></a>
                                    <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="">Eleccion primera</a></li>
                                    <li><a href="">Segunda eleccion</a></li>
                                    </ul>
                                </li>
                                <li><a href=""><i class="zmdi zmdi-male-alt"></i></a></li>
                                <li><a href=""><i class="zmdi zmdi-female"></i></a></li>
                                <li><a href=""><i class="zmdi zmdi-face"></i></a></li>
                                <li><a href=""><i class="zmdi zmdi-email"></i></a></li>
                            </ul>
                        </td>
                        <td><div class="box-estado-res">MENU</div></td>
                        <td><div class="box-estado-res">Directo</div></td>
                    </tr>
                </tbody>
                </table>
                
                <!--<ul class="list-group">
                    <li class="list-group-item" ng-repeat="value in rm.listado|filter:rm.busqueda|statusCondicion">
                        <div class="pull-right">
                            <span class="box-status {{value.res_reservation_status_id | statusReservation}}"></span>
                        </div>
                        
                        <div class="lv-title ng-scope" ><i class="zmdi zmdi-calendar-note"></i>
                        Mesa: {{value.name}} - {{value.first_name}} {{value.last_name}}</div>
                        <div>{{value.start_time}} - {{value.end_time}}</br>
                        {{value.num_people}} personas</div>
                    </li>
                </ul>
                -->
            </tab>
            <tab heading="Sentados">
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="value in rm.listado|filter:rm.busqueda|statusSeated">
                        <div class="pull-right">
                            <span class="box-status {{value.res_reservation_status_id | statusReservation}}"></span>
                        </div>
                        <div class="lv-title ng-scope" ><i class="zmdi zmdi-calendar-note"></i>
                        Mesa: {{value.name}} - {{value.first_name}} {{value.last_name}}</div>
                        <div>{{value.start_time}} - {{value.end_time}}</br>
                        {{value.num_people}} personas</div>
                    </li>
                </ul>
            </tab>
            <tab heading="Todos">
                <div class="listview lv-bordered lv-lg">
                 
                  <div class="lv-body">
                  <ion-scroll zooming="true" direction="y">
                    <div ng-repeat="item in rm.listado|filter:rm.busqueda|orderBy:item.first_name" ng-class="item.block_id ? 'lv-item media border-left-amber':'lv-item media border-left-green'" >
                      <div class="pull-right" ng-if="item.reservation_id">
                        <span class="box-status {{item.res_reservation_status_id | statusReservation}}"></span>
                      </div>
                      <div class="media-body">
                        <div class="lv-title" ng-if="item.block_id"><i class="zmdi zmdi-block-alt"></i> Mesa {{item.name}} bloqueada</div>
                        <div class="lv-title" ng-if="item.reservation_id"><i class="zmdi zmdi-calendar-note"></i> Mesa: {{item.name}} <br>{{item.first_name}} {{item.last_name}}</div>
                        <ul class="lv-attrs">
                          <li><i class="zmdi zmdi-time"></i> {{item.start_time}} - {{item.end_time}}</li>
                          <li ng-if="item.reservation_id"><i class="zmdi zmdi-account-o"></i> {{item.num_people}} personas</li>
                        </ul>
                      </div>
                    </div>
                    <div class="not-information" ng-if="vmd.itemReservations==''">
                      No existe mesas reservadas o bloqueadas
                    </div>
                    </ion-scroll>
                  </div>
                </div>
            </tab>           
        </tabset>
        </div>

        <ul class="listado-filtros">
            <li class="dropdown dropup" uib-dropdown="">
            <button type="button" class="btn dropdown-toggle waves-effect" uib-dropdown-toggle="" aria-haspopup="true" aria-expanded="false">
                TURNOS
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="">Desayuno</a></li>
                <li><a href="">Comida</a></li>
                <li><a href="">Cena</a></li>
                <li><a href="">Bar</a></li>
            </ul>
            </li>

            <li class="dropdown dropup" uib-dropdown="">
            <button type="button" class="btn dropdown-toggle waves-effect" uib-dropdown-toggle="" aria-haspopup="true" aria-expanded="false">
                RESERVAS
                <span class="caret"></span>
                <span class="rounded">20</span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="">Web</a></li>
                <li><a href="">Telefono</a></li>
                <li><a href="">Portal</a></li>
                <li><a href="">Rp</a></li>
            </ul>
            </li>

            <li class="dropdown dropup" uib-dropdown="">
            <button type="button" class="btn dropdown-toggle waves-effect" uib-dropdown-toggle="" aria-haspopup="true" aria-expanded="false">
                VISITAS
                <span class="caret"></span>
                <span class="rounded">82</span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="">Niños</a></li>
                <li><a href="">Mujeres</a></li>
                <li><a href="">Hombres</a></li>
            </ul>
            </li>

        </ul>
