<div class="col-sm-12 m-b-20">
    <button class="btn btn-success">New Server</button>
    <p class="f-500 m-b-20 c-black">Servers register</p>
    <ul class="list-group">
        <li class="list-group-item" ng-repeat="server in sm.servers">
            <span class="badge" style="background-color:{{server.color}} !important "> &nbsp</span>
            {{server.name}}
        </li>
    </ul>
</div>

<div class="col-sm-12 m-b-20" id="form_new_server">
    <h3>New Server</h3>
    <div class="input-group">
        <span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
        <div class="fg-line">
            <input type="text" class="form-control" placeholder="Server">
        </div>
    </div>

    <div class="js-available-color-group">
    <div class="Form-nestedLabel">Available Colors</div>
    <div class="Form-field Form-field--smallSpacing">
    <div class="js-available-color-group">
    <div class="Form-nestedLabel">Available Colors</div>
    <div class="Form-field Form-field--smallSpacing">
        <div class="ServerColor-previewContainer">
            <label class="ServerColor-preview" for="color_hex_9f7421" style="background-color: rgb(159, 116, 33);">
                <input type="radio" name="color_hex" class="u-visuallyHidden" value="9f7421" id="color_hex_9f7421">
            </label>
            <label class="ServerColor-preview" for="color_hex_82d1d3" style="background-color: rgb(130, 209, 211);">
                <input type="radio" name="color_hex" class="u-visuallyHidden" value="82d1d3" id="color_hex_82d1d3">
            </label>
            <label class="ServerColor-preview" for="color_hex_7c004c" style="background-color: rgb(124, 0, 76);">
                <input type="radio" name="color_hex" class="u-visuallyHidden" value="7c004c" id="color_hex_7c004c">
            </label>
            <label class="ServerColor-preview" for="color_hex_e176ce" style="background-color: rgb(225, 118, 206);">
                <input type="radio" name="color_hex" class="u-visuallyHidden" value="e176ce" id="color_hex_e176ce">
            </label>
            <label class="ServerColor-preview" for="color_hex_7e3c91" style="background-color: rgb(126, 60, 145);">
                <input type="radio" name="color_hex" class="u-visuallyHidden" value="7e3c91" id="color_hex_7e3c91">
            </label>
            <label class="ServerColor-preview" for="color_hex_b30011" style="background-color: rgb(179, 0, 17);">
                <input type="radio" name="color_hex" class="u-visuallyHidden" value="b30011" id="color_hex_b30011">
            </label>
            <label class="ServerColor-preview" for="color_hex_1e9084" style="background-color: rgb(30, 144, 132);">
                <input type="radio" name="color_hex" class="u-visuallyHidden" value="1e9084" id="color_hex_1e9084">
            </label>
            <label class="ServerColor-preview" for="color_hex_ffffe8" style="background-color: rgb(255, 255, 232);">
                <input type="radio" name="color_hex" class="u-visuallyHidden" value="ffffe8" id="color_hex_ffffe8">
            </label>
            <label class="ServerColor-preview" for="color_hex_eead00" style="background-color: rgb(238, 173, 0);">
                <input type="radio" name="color_hex" class="u-visuallyHidden" value="eead00" id="color_hex_eead00">
            </label>
            <label class="ServerColor-preview" for="color_hex_ff6138" style="background-color: rgb(255, 97, 56);">
                <input type="radio" name="color_hex" class="u-visuallyHidden" value="ff6138" id="color_hex_ff6138">
            </label>
            <label class="ServerColor-preview" for="color_hex_007fff" style="background-color: rgb(0, 127, 255);">
                <input type="radio" name="color_hex" class="u-visuallyHidden" value="007fff" id="color_hex_007fff">
            </label>
            <label class="ServerColor-preview" for="color_hex_ffc4b5" style="background-color: rgb(255, 196, 181);">
                <input type="radio" name="color_hex" class="u-visuallyHidden" value="ffc4b5" id="color_hex_ffc4b5">
            </label>
            <label class="ServerColor-preview" for="color_hex_a9d4ff" style="background-color: rgb(169, 212, 255);">
                <input type="radio" name="color_hex" class="u-visuallyHidden" value="a9d4ff" id="color_hex_a9d4ff">
            </label>
            <label class="ServerColor-preview" for="color_hex_30c6bd" style="background-color: rgb(48, 198, 189);">
                <input type="radio" name="color_hex" class="u-visuallyHidden" value="30c6bd" id="color_hex_30c6bd">
            </label>
            <label class="ServerColor-preview" for="color_hex_5fefe7" style="background-color: rgb(95, 239, 231);">
                <input type="radio" name="color_hex" class="u-visuallyHidden" value="5fefe7" id="color_hex_5fefe7">
            </label>
            <label class="ServerColor-preview" for="color_hex_ffc26b" style="background-color: rgb(255, 194, 107);">
                <input type="radio" name="color_hex" class="u-visuallyHidden" value="ffc26b" id="color_hex_ffc26b">
            </label>
            <label class="ServerColor-preview" for="color_hex_00aeef" style="background-color: rgb(0, 174, 239);">
                <input type="radio" name="color_hex" class="u-visuallyHidden" value="00aeef" id="color_hex_00aeef">
            </label>
            <label class="ServerColor-preview" for="color_hex_cdc3ff" style="background-color: rgb(205, 195, 255);">
                <input type="radio" name="color_hex" class="u-visuallyHidden" value="cdc3ff" id="color_hex_cdc3ff">
            </label><label class="ServerColor-preview" for="color_hex_9be4ff" style="background-color: rgb(155, 228, 255);">
                <input type="radio" name="color_hex" class="u-visuallyHidden" value="9be4ff" id="color_hex_9be4ff">
            </label>
            <label class="ServerColor-preview" for="color_hex_aa0d71" style="background-color: rgb(170, 13, 113);">
                <input type="radio" name="color_hex" class="u-visuallyHidden" value="aa0d71" id="color_hex_aa0d71">
            </label>
            <label class="ServerColor-preview" for="color_hex_e891d7" style="background-color: rgb(232, 145, 215);">
                <input type="radio" name="color_hex" class="u-visuallyHidden" value="e891d7" id="color_hex_e891d7">
            </label>
            <label class="ServerColor-preview" for="color_hex_fc00ff" style="background-color: rgb(252, 0, 255);">
                <input type="radio" name="color_hex" class="u-visuallyHidden" value="fc00ff" id="color_hex_fc00ff">
            </label>
            <label class="ServerColor-preview" for="color_hex_901eac" style="background-color: rgb(144, 30, 172);">
                <input type="radio" name="color_hex" class="u-visuallyHidden" value="901eac" id="color_hex_901eac">
            </label>
            <label class="ServerColor-preview" for="color_hex_c41200" style="background-color: rgb(196, 18, 0);">
                <input type="radio" name="color_hex" class="u-visuallyHidden" value="c41200" id="color_hex_c41200">
            </label>
            <label class="ServerColor-preview" for="color_hex_ffffff" style="background-color: rgb(255, 255, 255);">
                <input type="radio" name="color_hex" class="u-visuallyHidden" value="ffffff" id="color_hex_ffffff">
            </label>
            <label class="ServerColor-preview" for="color_hex_2c3e50" style="background-color: rgb(44, 62, 80);">
                <input type="radio" name="color_hex" class="u-visuallyHidden" value="2c3e50" id="color_hex_2c3e50">
            </label>
            <label class="ServerColor-preview" for="color_hex_ab7714" style="background-color: rgb(171, 119, 20);">
                <input type="radio" name="color_hex" class="u-visuallyHidden" value="ab7714" id="color_hex_ab7714">
            </label>
            <label class="ServerColor-preview" for="color_hex_755e33" style="background-color: rgb(117, 94, 51);">
                <input type="radio" name="color_hex" class="u-visuallyHidden" value="755e33" id="color_hex_755e33">
            </label>
            <label class="ServerColor-preview" for="color_hex_83ff5a" style="background-color: rgb(131, 255, 90);">
                <input type="radio" name="color_hex" class="u-visuallyHidden" value="83ff5a" id="color_hex_83ff5a">
            </label>
            <label class="ServerColor-preview" for="color_hex_2085d8" style="background-color: rgb(32, 133, 216);">
                <input type="radio" name="color_hex" class="u-visuallyHidden" value="2085d8" id="color_hex_2085d8">
            </label>
        </div>
    </div>
</div>
</div>