<div class="row">
    <div class="col-xs-3">
        <p class="f-16">Detalle de reservaciones</p>
        <ul class="tab-nav">
            <li class="btn-wave" data-ui-sref-active="active"><a data-ui-sref="floor.reservation" class="f-11">Reservation</a></li>
            <li class="btn-wave" data-ui-sref-active="active"><a data-ui-sref="floor.walkin" class="f-11">Waitlist</a></li>
            <li class="btn-wave" data-ui-sref-active="active"><a data-ui-sref="floor.server.create" class="f-11">Server</a></li>
        </ul>
        <data ui-view></data>
    </div>
</div>