</br>
<div class="tab-reservation-floor">
	<div class="input-group">
	    <div class="fg-line">
	        <input type="text" class="form-control" placeholder="Buscar por nombre u horario">
	    </div>
	    <span class="input-group-addon last"><i class="zmdi zmdi-search"></i></span>
	</div>
	<div class="p-r-10 p-l-10 m-b-10">
		<button type="button" class="btn btn-default-blue btn-block text-center  waves-effect">
			<i class="zmdi zmdi-time-countdown zmdi-hc-fw zmdi-hc-lg"></i>
			<span>AGREGAR ESPERA</span>
        </button>
	</div>
	<div class="scrolltablef">
		<div style="height: auto;">
			<table class="table-listado" cellpadding="0" cellspacing="0">
	        <thead>
		        <tr>
		          <th>PAX</th>
		          <th>NOMBRE</th>
		          <th>SALON</th>
		          <th>MESA</th>
		          <th>TIEMPO E.</th>
		        </tr>
	        </thead>
	        <tbody >
	            <tr>
	                <td>&nbsp;10</td>
	                <td>Charly Parra</td>
	                <td>1</td>
	                <td>A15</td>
	                <td rowspan="2">
	                	<div class="label label-success f-13">
	                		<strong>85 min</strong>
	                	</div>
	                </td>
	            </tr>
	            <tr class="line-row">
	                <td colspan="3">
	                    <ul class="actions p-0 m-0">
	                        <li class="dropdown" uib-dropdown="">
	                            <a href="" uib-dropdown-toggle="" class="dropdown-toggle" aria-haspopup="true" aria-expanded="false"><i class="zmdi zmdi-info-outline"></i></a>
	                            <ul class="dropdown-menu dropdown-menu-right">
	                            <li><a href="">Eleccion primera</a></li>
	                            <li><a href="">Segunda eleccion</a></li>
	                            </ul>
	                        </li>
	                        <li><a href=""><i class="zmdi zmdi-email"></i></a></li>
	                    </ul>
	                </td>
	                <td><div class="box-estado-res">MENU</div></td>
	            </tr>

	            <tr>
	                <td>&nbsp;2</td>
	                <td>Carlos Norta</td>
	                <td>3</td>
	                <td>A15</td>
	                <td rowspan="2">
	                	<div class="label label-success f-13">
	                		<strong>35 min</strong>
	                	</div>
	                </td>
	            </tr>
	            <tr class="line-row">
	                <td colspan="3">
	                    <ul class="actions p-0 m-0">
	                        <li class="dropdown" uib-dropdown="">
	                            <a href="" uib-dropdown-toggle="" class="dropdown-toggle" aria-haspopup="true" aria-expanded="false"><i class="zmdi zmdi-info-outline"></i></a>
	                            <ul class="dropdown-menu dropdown-menu-right">
	                            <li><a href="">Eleccion primera</a></li>
	                            <li><a href="">Segunda eleccion</a></li>
	                            </ul>
	                        </li>
	                        <li><a href=""><i class="zmdi zmdi-email"></i></a></li>
	                    </ul>
	                </td>
	                <td><div class="box-estado-res">MENU</div></td>
	            </tr>


	            <tr>
	                <td>&nbsp;10</td>
	                <td>Gregory House</td>
	                <td>4</td>
	                <td>A15</td>
	                <td rowspan="2">
	                	<div class="label label-success f-13">
	                		<strong>45 min</strong>
	                	</div>
	                </td>
	            </tr>
	            <tr class="line-row">
	                <td colspan="3">
	                    <ul class="actions p-0 m-0">
	                        <li class="dropdown" uib-dropdown="">
	                            <a href="" uib-dropdown-toggle="" class="dropdown-toggle" aria-haspopup="true" aria-expanded="false"><i class="zmdi zmdi-info-outline"></i></a>
	                            <ul class="dropdown-menu dropdown-menu-right">
	                            <li><a href="">Eleccion primera</a></li>
	                            <li><a href="">Segunda eleccion</a></li>
	                            </ul>
	                        </li>
	                        <li><a href=""><i class="zmdi zmdi-email"></i></a></li>
	                    </ul>
	                </td>
	                <td><div class="box-estado-res">MENU</div></td>
	            </tr>


	            <tr>
	                <td>5</td>
	                <td>Lisa Cudy</td>
	                <td>1</td>
	                <td>A15</td>
	                <td rowspan="2">
	                	<div class="label label-danger f-13">
	                		<strong>10 min</strong>
	                	</div>
	                </td>
	            </tr>
	            <tr class="line-row">
	                <td colspan="3">
	                    <ul class="actions p-0 m-0">
	                        <li class="dropdown" uib-dropdown="">
	                            <a href="" uib-dropdown-toggle="" class="dropdown-toggle" aria-haspopup="true" aria-expanded="false"><i class="zmdi zmdi-info-outline"></i></a>
	                            <ul class="dropdown-menu dropdown-menu-right">
	                            <li><a href="">Eleccion primera</a></li>
	                            <li><a href="">Segunda eleccion</a></li>
	                            </ul>
	                        </li>
	                        <li><a href=""><i class="zmdi zmdi-email"></i></a></li>
	                    </ul>
	                </td>
	                <td><div class="box-estado-res">MENU</div></td>
	            </tr>


	            <tr>
	                <td>10</td>
	                <td>Josep Foreman</td>
	                <td>2</td>
	                <td>A15</td>
	                <td rowspan="2">
	                	<div class="label label-danger f-13">
	                		<strong>5 min</strong>
	                	</div>
	                </td>
	            </tr>
	            <tr class="line-row">
	                <td colspan="3">
	                    <ul class="actions p-0 m-0">
	                        <li class="dropdown" uib-dropdown="">
	                            <a href="" uib-dropdown-toggle="" class="dropdown-toggle" aria-haspopup="true" aria-expanded="false"><i class="zmdi zmdi-info-outline"></i></a>
	                            <ul class="dropdown-menu dropdown-menu-right">
	                            <li><a href="">Eleccion primera</a></li>
	                            <li><a href="">Segunda eleccion</a></li>
	                            </ul>
	                        </li>
	                        <li><a href=""><i class="zmdi zmdi-email"></i></a></li>
	                    </ul>
	                </td>
	                <td><div class="box-estado-res">MENU</div></td>
	            </tr>


	            <tr>
	                <td>8</td>
	                <td>Milagros Gutierrez</td>
	                <td>3</td>
	                <td>A15</td>
	                <td rowspan="2">
	                	<div class="label label-success f-13">
	                		<strong>75 min</strong>
	                	</div>
	                </td>
	            </tr>
	            <tr class="line-row">
	                <td colspan="3">
	                    <ul class="actions p-0 m-0">
	                        <li class="dropdown" uib-dropdown="">
	                            <a href="" uib-dropdown-toggle="" class="dropdown-toggle" aria-haspopup="true" aria-expanded="false"><i class="zmdi zmdi-info-outline"></i></a>
	                            <ul class="dropdown-menu dropdown-menu-right">
	                            <li><a href="">Eleccion primera</a></li>
	                            <li><a href="">Segunda eleccion</a></li>
	                            </ul>
	                        </li>
	                        <li><a href=""><i class="zmdi zmdi-email"></i></a></li>
	                    </ul>
	                </td>
	                <td><div class="box-estado-res">MENU</div></td>
	            </tr>

	            <tr>
	                <td>8</td>
	                <td>Milagros Gutierrez</td>
	                <td>3</td>
	                <td>A15</td>
	                <td rowspan="2">
	                	<div class="label label-success f-13">
	                		<strong>75 min</strong>
	                	</div>
	                </td>
	            </tr>
	            <tr class="line-row">
	                <td colspan="3">
	                    <ul class="actions p-0 m-0">
	                        <li class="dropdown" uib-dropdown="">
	                            <a href="" uib-dropdown-toggle="" class="dropdown-toggle" aria-haspopup="true" aria-expanded="false"><i class="zmdi zmdi-info-outline"></i></a>
	                            <ul class="dropdown-menu dropdown-menu-right">
	                            <li><a href="">Eleccion primera</a></li>
	                            <li><a href="">Segunda eleccion</a></li>
	                            </ul>
	                        </li>
	                        <li><a href=""><i class="zmdi zmdi-email"></i></a></li>
	                    </ul>
	                </td>
	                <td><div class="box-estado-res">MENU</div></td>
	            </tr>

	            <tr>
	                <td>8</td>
	                <td>Milagros Gutierrez</td>
	                <td>3</td>
	                <td>A15</td>
	                <td rowspan="2">
	                	<div class="label label-success f-13">
	                		<strong>75 min</strong>
	                	</div>
	                </td>
	            </tr>
	            <tr class="line-row">
	                <td colspan="3">
	                    <ul class="actions p-0 m-0">
	                        <li class="dropdown" uib-dropdown="">
	                            <a href="" uib-dropdown-toggle="" class="dropdown-toggle" aria-haspopup="true" aria-expanded="false"><i class="zmdi zmdi-info-outline"></i></a>
	                            <ul class="dropdown-menu dropdown-menu-right">
	                            <li><a href="">Eleccion primera</a></li>
	                            <li><a href="">Segunda eleccion</a></li>
	                            </ul>
	                        </li>
	                        <li><a href=""><i class="zmdi zmdi-email"></i></a></li>
	                    </ul>
	                </td>
	                <td><div class="box-estado-res">MENU</div></td>
	            </tr>

	            <tr>
	                <td>8</td>
	                <td>Milagros Gutierrez</td>
	                <td>3</td>
	                <td>A15</td>
	                <td rowspan="2">
	                	<div class="label label-success f-13">
	                		<strong>75 min</strong>
	                	</div>
	                </td>
	            </tr>
	            <tr class="line-row">
	                <td colspan="3">
	                    <ul class="actions p-0 m-0">
	                        <li class="dropdown" uib-dropdown="">
	                            <a href="" uib-dropdown-toggle="" class="dropdown-toggle" aria-haspopup="true" aria-expanded="false"><i class="zmdi zmdi-info-outline"></i></a>
	                            <ul class="dropdown-menu dropdown-menu-right">
	                            <li><a href="">Eleccion primera</a></li>
	                            <li><a href="">Segunda eleccion</a></li>
	                            </ul>
	                        </li>
	                        <li><a href=""><i class="zmdi zmdi-email"></i></a></li>
	                    </ul>
	                </td>
	                <td><div class="box-estado-res">MENU</div></td>
	            </tr>

	            <tr>
	                <td>8</td>
	                <td>Milagros Gutierrez</td>
	                <td>3</td>
	                <td>A15</td>
	                <td rowspan="2">
	                	<div class="label label-success f-13">
	                		<strong>75 min</strong>
	                	</div>
	                </td>
	            </tr>
	            <tr class="line-row">
	                <td colspan="3">
	                    <ul class="actions p-0 m-0">
	                        <li class="dropdown" uib-dropdown="">
	                            <a href="" uib-dropdown-toggle="" class="dropdown-toggle" aria-haspopup="true" aria-expanded="false"><i class="zmdi zmdi-info-outline"></i></a>
	                            <ul class="dropdown-menu dropdown-menu-right">
	                            <li><a href="">Eleccion primera</a></li>
	                            <li><a href="">Segunda eleccion</a></li>
	                            </ul>
	                        </li>
	                        <li><a href=""><i class="zmdi zmdi-email"></i></a></li>
	                    </ul>
	                </td>
	                <td><div class="box-estado-res">MENU</div></td>
	            </tr>

	            <tr>
	                <td>8</td>
	                <td>Milagros Gutierrez</td>
	                <td>3</td>
	                <td>A15</td>
	                <td rowspan="2">
	                	<div class="label label-success f-13">
	                		<strong>75 min</strong>
	                	</div>
	                </td>
	            </tr>
	            <tr class="line-row">
	                <td colspan="3">
	                    <ul class="actions p-0 m-0">
	                        <li class="dropdown" uib-dropdown="">
	                            <a href="" uib-dropdown-toggle="" class="dropdown-toggle" aria-haspopup="true" aria-expanded="false"><i class="zmdi zmdi-info-outline"></i></a>
	                            <ul class="dropdown-menu dropdown-menu-right">
	                            <li><a href="">Eleccion primera</a></li>
	                            <li><a href="">Segunda eleccion</a></li>
	                            </ul>
	                        </li>
	                        <li><a href=""><i class="zmdi zmdi-email"></i></a></li>
	                    </ul>
	                </td>
	                <td><div class="box-estado-res">MENU</div></td>
	            </tr>

	            <tr>
	                <td>8</td>
	                <td>Milagros Gutierrez</td>
	                <td>3</td>
	                <td>A15</td>
	                <td rowspan="2">
	                	<div class="label label-success f-13">
	                		<strong>75 min</strong>
	                	</div>
	                </td>
	            </tr>
	            <tr class="line-row">
	                <td colspan="3">
	                    <ul class="actions p-0 m-0">
	                        <li class="dropdown" uib-dropdown="">
	                            <a href="" uib-dropdown-toggle="" class="dropdown-toggle" aria-haspopup="true" aria-expanded="false"><i class="zmdi zmdi-info-outline"></i></a>
	                            <ul class="dropdown-menu dropdown-menu-right">
	                            <li><a href="">Eleccion primera</a></li>
	                            <li><a href="">Segunda eleccion</a></li>
	                            </ul>
	                        </li>
	                        <li><a href=""><i class="zmdi zmdi-email"></i></a></li>
	                    </ul>
	                </td>
	                <td><div class="box-estado-res">MENU</div></td>
	            </tr>

	            <tr>
	                <td>8</td>
	                <td>Milagros Gutierrez</td>
	                <td>3</td>
	                <td>A15</td>
	                <td rowspan="2">
	                	<div class="label label-success f-13">
	                		<strong>75 min</strong>
	                	</div>
	                </td>
	            </tr>
	            <tr class="line-row">
	                <td colspan="3">
	                    <ul class="actions p-0 m-0">
	                        <li class="dropdown" uib-dropdown="">
	                            <a href="" uib-dropdown-toggle="" class="dropdown-toggle" aria-haspopup="true" aria-expanded="false"><i class="zmdi zmdi-info-outline"></i></a>
	                            <ul class="dropdown-menu dropdown-menu-right">
	                            <li><a href="">Eleccion primera</a></li>
	                            <li><a href="">Segunda eleccion</a></li>
	                            </ul>
	                        </li>
	                        <li><a href=""><i class="zmdi zmdi-email"></i></a></li>
	                    </ul>
	                </td>
	                <td><div class="box-estado-res">MENU</div></td>
	            </tr>

	            <tr>
	                <td>8</td>
	                <td>Milagros Gutierrez</td>
	                <td>3</td>
	                <td>A15</td>
	                <td rowspan="2">
	                	<div class="label label-success f-13">
	                		<strong>75 min</strong>
	                	</div>
	                </td>
	            </tr>
	            <tr class="line-row">
	                <td colspan="3">
	                    <ul class="actions p-0 m-0">
	                        <li class="dropdown" uib-dropdown="">
	                            <a href="" uib-dropdown-toggle="" class="dropdown-toggle" aria-haspopup="true" aria-expanded="false"><i class="zmdi zmdi-info-outline"></i></a>
	                            <ul class="dropdown-menu dropdown-menu-right">
	                            <li><a href="">Eleccion primera</a></li>
	                            <li><a href="">Segunda eleccion</a></li>
	                            </ul>
	                        </li>
	                        <li><a href=""><i class="zmdi zmdi-email"></i></a></li>
	                    </ul>
	                </td>
	                <td><div class="box-estado-res">MENU</div></td>
	            </tr>

	            <tr>
	                <td>8</td>
	                <td>Milagros Gutierrez</td>
	                <td>3</td>
	                <td>A15</td>
	                <td rowspan="2">
	                	<div class="label label-success f-13">
	                		<strong>75 min</strong>
	                	</div>
	                </td>
	            </tr>
	            <tr class="line-row">
	                <td colspan="3">
	                    <ul class="actions p-0 m-0">
	                        <li class="dropdown" uib-dropdown="">
	                            <a href="" uib-dropdown-toggle="" class="dropdown-toggle" aria-haspopup="true" aria-expanded="false"><i class="zmdi zmdi-info-outline"></i></a>
	                            <ul class="dropdown-menu dropdown-menu-right">
	                            <li><a href="">Eleccion primera</a></li>
	                            <li><a href="">Segunda eleccion</a></li>
	                            </ul>
	                        </li>
	                        <li><a href=""><i class="zmdi zmdi-email"></i></a></li>
	                    </ul>
	                </td>
	                <td><div class="box-estado-res">MENU</div></td>
	            </tr>
	        </tbody>
	        </table>
		</div>
    </div>
</div>
<ul class="listado-filtros">
    <li class="dropdown dropup" uib-dropdown="">
    <button type="button" class="btn dropdown-toggle waves-effect" uib-dropdown-toggle="" aria-haspopup="true" aria-expanded="false">
        TURNOS
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li><a href="">Desayuno</a></li>
        <li><a href="">Comida</a></li>
        <li><a href="">Cena</a></li>
        <li><a href="">Bar</a></li>
    </ul>
    </li>

    <li class="dropdown dropup" uib-dropdown="">
    <button type="button" class="btn dropdown-toggle waves-effect" uib-dropdown-toggle="" aria-haspopup="true" aria-expanded="false">
        RESERVAS
        <span class="caret"></span>
        <span class="rounded">20</span>
    </button>
    <ul class="dropdown-menu">
        <li><a href="">Web</a></li>
        <li><a href="">Telefono</a></li>
        <li><a href="">Portal</a></li>
        <li><a href="">Rp</a></li>
    </ul>
    </li>

    <li class="dropdown dropup" uib-dropdown="">
    <button type="button" class="btn dropdown-toggle waves-effect" uib-dropdown-toggle="" aria-haspopup="true" aria-expanded="false">
        VISITAS
        <span class="caret"></span>
        <span class="rounded">82</span>
    </button>
    <ul class="dropdown-menu">
        <li><a href="">Niños</a></li>
        <li><a href="">Mujeres</a></li>
        <li><a href="">Hombres</a></li>
    </ul>
    </li>

</ul>
