</br>
<div class="tab-reservation-floor">
	<div class="input-group">
                <div class="fg-line">
                    <input type="text" class="form-control" placeholder="Buscar por nombre u horario" ng-show="!wm.search.show">
                    <button type="button" class="btn btn-default-blue btn-block text-center waves-effect animated" ng-show="wm.search.show">
                        <i class="zmdi zmdi-time-countdown zmdi-hc-fw zmdi-hc-lg"></i>
                        <span>AGREGAR ESPERA</span>
                    </button>
                </div>
                <span class="input-group-addon last" >
                    <button type="button" class="btn waves-effect" ng-click="wm.searchReservation()">
                        <i class="zmdi zmdi-search" ng-show="wm.search.show"></i>
                        <i class="zmdi zmdi-close" ng-show="!wm.search.show"></i>
                    </button>
                </span>
    </div>

	<div>
		<table class="table-listado" cellpadding="0" cellspacing="0">
			<thead>
		        <tr>
		          <th>PAX</th>
		          <th>NOMBRE</th>
		          <th>SALON</th>
		          <th>MESA</th>
		          <th>TIEMPO E.</th>
		        </tr>
		    </thead>
		</table>
		<div style="height: 100vh;padding-bottom: 280px;">
	    	<div style="height: 100%;">
	        	<div class="scrollbar-inner">
					<table cellpadding="0" cellspacing="0" class="table-listado">
		                <tbody>
		                    <tr class="listado-column">
		                        <td>
		                            <table class="table-listado">
		                                <tr>
		                                    <td>
		                                        10
		                                    </td>
		                                    <td>
		                                        Carlos Nores
		                                    </td>
		                                    <td>
		                                        1
		                                    </td>
		                                    <td>
		                                        A15 <span>+</span>
		                                    </td>
		                                    
		                                    <td rowspan="2">
		                                        <div class="label label-success f-12">
		                                            85min
		                                        </div>
		                                    </td>
		                                </tr>
		                                <tr class="line-row">
		                                    <td colspan="3">
		                                        <ul class="actions p-0 m-0">
		                                            <li class="dropdown" uib-dropdown="">
		                                                <a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle" href="" uib-dropdown-toggle="">
		                                                    <i class="zmdi zmdi-info-outline">
		                                                    </i>
		                                                </a>
		                                                <ul class="dropdown-menu dropdown-menu-left">
		                                                    <li>
		                                                        <a href="">
		                                                            Eleccion primera
		                                                        </a>
		                                                    </li>
		                                                    <li>
		                                                        <a href="">
		                                                            Segunda eleccion
		                                                        </a>
		                                                    </li>
		                                                </ul>
		                                            </li>
		                                            <li class="icon-people">
		                                                <a href="">
		                                                    <i class="zmdi zmdi-email">
		                                                    </i>
		                                                </a>
		                                            </li>
		                                        </ul>
		                                    </td>
		                                    <td>
		                                        <div class="box-estado-res">
		                                            Menu
		                                        </div>
		                                    </td>
		                                    <td></td>
		                                </tr>
		                            </table>
		                            
		                        </td>
		                    </tr>
		                </tbody>
                    </table>
				</div>
			</div>
		</div>
    </div>
</div>
