<div  bs-loading-overlay>
    <header id="header" data-current-skin={{mactrl.currentSkin}} data-ng-include src="'/template/header.html'"
            data-ng-controller="headerCtrl as hctrl"></header>

    <section id="main">
        <aside id="sidebar" data-ng-include src="'/template/sidebar-left.html'"
               data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>

        <aside id="chat" data-ng-include src="'/template/chat.html'"
               data-ng-class="{ 'toggled': mactrl.sidebarToggle.right === true }"></aside>

        <section id="content" class="page-view" ui-view="">
            <div class="container">
                <div class="block-header">
                    <h3>Listado de Roles</h3>
                </div>
                <div class="card">
                    <div class="card-header">
                        <div class="row" ng-show="vm.can.createRole">
                            <div class="col-md-5" ng-class="(vm.roleError.name.length>0?'has-error':'')">

                                <div class="row">
                                    <form ng-submit="vm.registerRole()">
                                        <div class="col-md-8 form-group fg-float">
                                            <div class="fg-line">
                                                <input type="text" ng-model="vm.role.name"
                                                       class="form-control input-sm">
                                                <label class="control-label fg-label">
                                                    Nuevo Rol
                                                </label>
                                            </div>
                                            <small class="help-block"
                                                   ng-show="vm.roleError.name.length>0">
                                                <span ng-repeat="error in vm.roleError.name">{{error}}</span>
                                            </small>
                                        </div>
                                        <div class="col-md-4">
                                            <button class="btn btn-sm btn-primary">Registrar</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="card-body" >

                        <div class="table-responsive">
                            <table ng-table="vm.tableRoles" class="table table-striped table-vmiddle"
                                   show-filter="true">
                                <tr ng-repeat="item in $data" ng-class="{ 'active': item.$edit }">
                                    <td data-title="'N°'">
                                        <span ng-if="!item.$edit">{{ item.id }}</span>
                                    </td>
                                    <td data-title="'Rol'" filter="{ 'name': 'text' }">
                                        <span ng-if="!item.$edit">{{ item.name }}</span>

                                        <div ng-if="item.$edit" class="fg-line">
                                            <input class="form-control input-sm" type="text" ng-model="item.name"/>
                                        </div>

                                        <small class="help-block"
                                               ng-show="item.$errors.name.length>0 && item.$edit == true">
                                            <span ng-repeat="error in item.$errors.name">{{error}}</span>
                                        </small>
                                    </td>
                                    <td data-title="'Estado'">
                                        <div class="btn-group" ng-if="!item.$edit" ng-show="vm.can.editRole">
                                            <!--<label class="btn" ng-class="item.status==1?'btn-primary':''"-->
                                            <!--ng-model="item.status" uib-btn-radio="1"-->
                                            <!--ng-change="vm.changeRoleStatus(item)">ON</label>-->
                                            <!--<label class="btn" ng-class="item.status==0?'btn-primary':''"-->
                                            <!--ng-model="item.status" uib-btn-radio="0"-->
                                            <!--ng-change="vm.changeRoleStatus(item)">OFF</label>-->


                                        </div>
                                        <div class="toggle-switch" data-ts-color="blue">
                                            <input id="ts{{item.id}}" ng-disabled="!vm.can.editRole"
                                                   ng-model="item.status" ng-true-value="1" ng-false-value="0"
                                                   type="checkbox" hidden="hidden"
                                                   ng-change="vm.changeRoleStatus(item)">
                                            <label for="ts{{item.id}}" class="ts-helper"></label>
                                        </div>
                                    </td>
                                    <td data-title="'Acciones'">
                                        <button type="button" class="btn btn-default" ng-if="!item.$edit"
                                                ng-show="vm.can.editRole"
                                                ng-click="vm.editRole(item)"><i class="zmdi zmdi-edit"></i></button>
                                        <button type="button" class="btn btn-success" ng-if="item.$edit"
                                                ng-show="vm.can.editRole"
                                                ng-click="vm.updateRole(item)"><i class="zmdi zmdi-check"></i></button>
                                        <button type="button" class="btn btn-danger" ng-if="item.$edit"
                                                ng-show="vm.can.editRole"
                                                ng-click="vm.discardEditRole(item)"><i class="zmdi zmdi-close"></i>
                                        </button>

                                        <button ui-sref="roles-privileges({ id: item.id})"
                                                type="button" class="btn btn-default" ng-if="!item.$edit">
                                            <i class="zmdi zmdi-settings zmdi-hc-fw"></i>
                                        </button>


                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="4"
                                        ng-show="$data.length == 0 && !vm.flags.isLoading"
                                        class="text-center">
                                        No se encontraron resultados
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="4"
                                        ng-show="vm.flags.isLoading"
                                        class="text-center">
                                        Cargando lista de roles...
                                    </td>
                                </tr>
                            </table>
                        </div>

                    </div>
                </div>
            </div>

        </section>

    </section>

    <footer id="footer" data-ng-include src="'/template/footer.html'"></footer>

</div>