.float-right
	float right
.box-zone-create
	& .header-zone-create
		padding 8px
		border 1px solid #DEDEDE
		border-radius 5px
	& .box-lienzo-zone
		padding-left 0
		& .lienzo 
			background-color #eee
			min-height 540px
	& .box-tables
		padding-left 7px
		padding-rigth 12px
		& .descripcion 
			padding 0 14px
			& h3 
				font-size 1.5em
		& .item
			border-bottom 1px solid #ccc
			&.title
				padding 4px 10px
				font-size 1.1em
				background-color #eee
		& .item-table-box
			padding-top 7px
			text-align center
			padding-bottom 8px
			border-bottom 1px solid #ccc
			&.last
				border-bottom 0
			& .col-md-4
				padding-left 0
			& .title-table
				font-size 1em
			& .table-box
				text-align center
				display inline-block
				& .round
					border-radius 50%
				& .border
					border 1px solid #ccc
				& .round-tables-stool
					width 30px
					height 30px
				& .round-tables-2
					width 50px 
					height 50px 
				& .round-tables-4
					width 75px
					height 75px
				& .rec-tables-1
					width 45px
					height 27px
				& .rec-tables-2
					width 60px 
					height 32px 
				& .rec-tables-4
					width 75px
					height 48px
					