<ion-view view-title="Lista de promociones">
    <ion-content>
        <section id="main">
            <aside id="sidebar" data-ng-include="'/template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
            <aside id="chat" data-ng-include="'/template/chat.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.right === true }"></aside>
            <section id="content">
                <div class="container">
                    <div class="card wrapper-promotion" id="turno-main">
                        <div ui-view="promotion"></div>
                        <div ui-view="flyer"></div>
                    </div>
                </div>
            </section>
        </section>
    </ion-content>
</ion-view>
