<section class="bgm-gray-win menu-section" id="content">
    <div class="container">
        <nav class="ha-menu ng-scope">
            <ul id="menu-config">
                <li class="waves-effect">
                    <a data-ui-sref="zone.active" href="">
                        Zonas
                    </a>
                </li>
                <li class="waves-effect">
                    <div class="waves-effect" data-ui-sref="turn">
                        Turnos
                    </div>
                </li>
                <li class="waves-effect">
                    <a data-ui-sref="typography" href="#/typography">
                        Calendario
                    </a>
                </li>
                <li class="waves-effect">
                    <div aria-expanded="false" aria-haspopup="true" class="waves-effect">
                        Widgets
                    </div>
                </li>
            </ul>
        </nav>
    </div>
</section>
