<section class="bgm-gray-win menu-section" id="content">
    <div class="container">
        <nav class="ha-menu ng-scope">
            <ul id="menu-config">
                <li class="waves-effect">
                    <a data-ui-sref="mesas.zone.active" href="">
                        Zonas
                    </a>
                </li>
                <li class="waves-effect">
                    <div class="waves-effect" data-ui-sref="mesas.turn.active">
                        Turnos
                    </div>
                </li>
                <li class="waves-effect">
                    <a data-ui-sref="mesas.calendar">
                        Calendario
                    </a>
                </li>
                <li class="waves-effect">
                    <div class="waves-effect"  data-ui-sref="mesas.widget">
                        Widgets
                    </div>
                </li>
                <li class="waves-effect">
                    <div class="waves-effect" data-ui-sref="mesas.configuration.basic">
                        Ajustes
                    </div>
                </li>
                <li class="waves-effect">
                    <div class="waves-effect" data-ui-sref="mesas.customtag">
                        Etiquetas
                    </div>
                </li>
               <!--  <li class="waves-effect">
                    <div class="waves-effect" data-ui-sref="mesas.availability">
                        Availability
                    </div>
                </li> -->
            </ul>
        </nav>
    </div>
</section>
