<section class="bgm-gray-win menu-section" id="content">
    <div class="container">
        <nav class="ha-menu ng-scope">
            <ul id="menu-config">
                <li class="waves-effect" ng-class="{disabled: !prvctrl.ms.exists('zone-show')}">
                    <div class="waves-effect" data-ui-sref="mesas.zone.active">
                        Zonas
                    </div>
                </li>
                <li class="waves-effect" ng-class="{disabled: !prvctrl.ms.exists('turn-show')}">
                    <div class="waves-effect" data-ui-sref="mesas.turn.active">
                        Turnos
                    </div>
                </li>
                <li class="waves-effect" ng-class="{disabled: !prvctrl.ms.exists('calendar-update')}">
                    <div class="waves-effect" data-ui-sref="mesas.calendar">
                        Calendario
                    </div>
                </li>
                <li class="waves-effect">
                    <div class="waves-effect"  data-ui-sref="mesas.widget">
                        Widgets
                    </div>
                </li>
                <li class="waves-effect" ng-class="{disabled: !prvctrl.ms.contains('configurationRes-show','configurationGuest-update','configurationCodes-show','configurationUser-show')}">
                    <div class="waves-effect" data-ui-sref="mesas.configuration.basic" >
                        Ajustes
                    </div>
                </li>
                <li class="waves-effect" ng-class="{disabled: !prvctrl.ms.contains('reservationTag-show', 'guestTag-show')}">
                    <div class="waves-effect" data-ui-sref="mesas.customtag">
                        Etiquetas
                    </div>
                </li>
               <!--  <li class="waves-effect">
                    <div class="waves-effect" data-ui-sref="mesas.availability">
                        Availability
                    </div>
                </li> -->
            </ul>
        </nav>
    </div>
</section>
