<style type="text/css">

</style>
<div class="w-100 p-0" style="background-color: #424242;">
    <ul class="footer-floor">
        <li class="logotipo-footer">
            <img src="http://web.aplication.bookersnap/images/icon-bookersnap.png">
        </li>
        <li>
            <button type="button" class="btn btn-default-red btn-sm text-center pull-left btn-space">
                <i class="tm-icon zmdi zmdi-notifications zmdi-hc-2x"></i>
                <br>Reservación
            </button>
            <button type="button" class="btn btn-default-blue btn-sm text-center pull-left btn-space "><span class="zmdi zmdi-book zmdi-hc-2x"></span>
                <br>Notas turnos</button>
            <button type="button" class="btn btn-default-blue btn-sm text-center pull-left btn-space "><span class="zmdi zmdi-lock-open zmdi-hc-2x"></span>
                <br>Bloqueos mesas
            </button>
        </li>
        <li class="dropdown dropup open" uib-dropdown="">
            <div class="waves-effect dropdown-toggle select-todas" uib-dropdown-toggle="" aria-haspopup="true" aria-expanded="true"> &nbsp; Todas <span class="caret"></span></div>

            <ul class="dropdown-menu">
                <li><a>Opcion 01</a></li>
                <li><a>Opcion 02</a></li>
            </ul>
        </li>
        <li>
            <ul class="people-information">
                <li><div>Pax asistencia</div><span class="numpax">120</span></li>
                <li><div>Reservaciones</div> <span class="numpax">15</span></li>
                <li><div>Pax esperadas</div> <span class="numpax">120</span></li>
            </ul>
        </li>
        <li>
            <ul class="people-information">
                <li><i class="zmdi zmdi-male-alt"></i> <span class="rounded">18</span></li>
                <li><i class="zmdi zmdi-female"></i> <span class="rounded">20</span></li>
                <li><i class="zmdi zmdi-face"></i> <span class="rounded">10</span></li>
            </ul>
        </li>
        
        
        <li class="num-people pull-right">
            <div >
                <button type="button" class="btn btn-default-grey btn-sm btn-space ">
                    <i class="tm-icon zmdi zmdi-account zmdi-hc-3x"></i>
                    <i class="tmn-counts-floor">1</i>
                </button>
                <button type="button" class="btn btn-default-grey btn-sm btn-space ">
                    <i class="zmdi zmdi-account-add zmdi-accounts zmdi-hc-3x"></i>
                    <i class="tmn-counts-floor">2</i>
                </button>
                <button type="button" class="btn btn-default-grey btn-sm btn-space ">
                    <i class="zmdi zmdi-account-add zmdi-accounts zmdi-hc-3x"></i>
                    <i class="tmn-counts-floor">3</i>
                </button>
                <button type="button" class="btn btn-default-grey btn-sm btn-space ">
                    <i class="zmdi zmdi-account-add zmdi-accounts zmdi-hc-3x"></i>
                    <i class="tmn-counts-floor">4</i>
                </button>
                <button type="button" class="btn btn-default-grey btn-sm btn-space ">
                    <i class="zmdi zmdi-account-add zmdi-accounts zmdi-hc-3x"></i>
                    <i class="tmn-counts-floor">5</i>
                </button>
            </div>
        </li>

    </ul>
</div>
