<style type="text/css">

</style>
<div class="container-non-responsive" style="background-color: #454545;">
    <div class="row" style="height: 75px;">
        <div class="col-xs-5">
            <div class="m-l-20">
                <button type="button" class="btn btn-default-red btn-sm text-center pull-left btn-space">
                    <i class="tm-icon zmdi zmdi-notifications zmdi-hc-2x"></i>
                    <br>Reservación
                </button>
                <button type="button" class="btn btn-default-blue btn-sm text-center pull-left btn-space "><span class="zmdi zmdi-book zmdi-hc-2x"></span>
                    <br>Notas turnos</button>
                <button type="button" class="btn btn-default-blue btn-sm text-center pull-left btn-space "><span class="zmdi zmdi-lock-open zmdi-hc-2x"></span>
                    <br>Bloqueos mesas
                </button>
            </div>
        </div>
        <div class="col-xs-2">
        <!--
            <button class="btn btn-default-blue sin-borde button-size-unique" style="padding-top: 25px; padding-bottom: 10px">
                <label class="f-20"> HOY </label>
            </button>
            <button class="btn btn-default-grey sin-borde button-size-pagination-date" style="padding-top: 25px; padding-bottom: 10px">
                <label class="f-20">
                    < </label>
            </button>
            <button class="btn btn-default-grey sin-borde button-size-unique" style="padding-top: 25px; padding-bottom: 10px">
                <label class="f-15"> LUN
                    <br/> 18
                    <br/> ABR </label>
            </button>
            <button class="btn btn-default-grey sin-borde button-size-unique" style="padding-top: 25px; padding-bottom: 10px">
                <label class="f-15"> MAR
                    <br/> 19
                    <br/> ABR </label>
            </button>
            <button class="btn btn-default-grey sin-borde button-size-unique" style="padding-top: 25px; padding-bottom: 10px">
                <label class="f-15"> MIE
                    <br/> 20
                    <br/> ABR </label>
            </button>
            <button class="btn btn-default-blue sin-borde button-size-unique" style="padding-top: 25px; padding-bottom: 10px">
                <label class="f-15"> JUE
                    <br/> 21
                    <br/> ABR </label>
            </button>
            <button class="btn btn-default-grey sin-borde button-size-unique" style="padding-top: 25px; padding-bottom: 10px">
                <label class="f-15"> VIE
                    <br/> 22
                    <br/> ABR </label>
            </button>
            <button class="btn btn-default-grey sin-borde button-size-unique" style="padding-top: 25px; padding-bottom: 10px">
                <label class="f-15"> SAB
                    <br/> 24
                    <br/> ABR </label>
            </button>
            <button class="btn btn-default-grey sin-borde button-size-unique" style="padding-top: 25px; padding-bottom: 10px">
                <label class="f-15"> DOM
                    <br/> 25
                    <br/> ABR </label>
            </button>
            <button class="btn btn-default-grey sin-borde button-size-pagination-date" style="padding-top: 25px; padding-bottom: 10px">
                <label class="f-20"> ></label>
            </button>
            <button class="btn btn-default-grey sin-borde button-size-unique" style="padding-top: 25px; padding-bottom: 10px">
                <label class="f-20"> MES</label>
            </button>
            <button class="btn btn-default-grey sin-borde button-size-unique" style="padding-top: 25px; padding-bottom: 10px">
                <i class="tm-icon zmdi zmdi-calendar-alt zmdi-hc-4x"></i>
                <br/>
                <label class="f-10"> Calendario</label>
            </button>
            <button class="btn btn-default-grey sin-borde button-size-unique" style="padding-top: 25px; padding-bottom: 10px">
                <i class="tm-icon zmdi zmdi-chart-donut zmdi-hc-4x"></i>
                <br/>
                <label class="f-10"> Zonas</label>
            </button>
            <button class="btn btn-default-grey sin-borde button-size-unique" style="padding-top: 25px; padding-bottom: 10px">
                <label class="f-15"> HORA
                    <br/> 22:30 </label>
            </button>
            -->
        </div>
        <div class="col-xs-5">
            <div class=" pull-right">
                <button type="button" class="btn btn-default-grey btn-sm text-center pull-left btn-space ">
                    <i class="tm-icon zmdi zmdi-account zmdi-hc-3x"></i>
                    <i class="tmn-counts-floor">1</i>
                </button>
                <button type="button" class="btn btn-default-grey btn-sm text-center pull-left btn-space ">
                    <i class="zmdi zmdi-account-add zmdi-accounts zmdi-hc-3x"></i>
                    <i class="tmn-counts-floor">2</i>
                </button>
                <button type="button" class="btn btn-default-grey btn-sm text-center pull-left btn-space ">
                    <i class="zmdi zmdi-account-add zmdi-accounts zmdi-hc-3x"></i>
                    <i class="tmn-counts-floor">3</i>
                </button>
                <button type="button" class="btn btn-default-grey btn-sm text-center pull-left btn-space ">
                    <i class="zmdi zmdi-account-add zmdi-accounts zmdi-hc-3x"></i>
                    <i class="tmn-counts-floor">4</i>
                </button>
                <button type="button" class="btn btn-default-grey btn-sm text-center pull-left btn-space ">
                    <i class="zmdi zmdi-account-add zmdi-accounts zmdi-hc-3x"></i>
                    <i class="tmn-counts-floor">5</i>
                </button>
            </div>
        </div>
    </div>
</div>
