<div class="w-100 p-0" style="background-color: #424242;">
    <ul class="footer-floor">
        <li class="logotipo-footer">
            <img src="http://web.aplication.bookersnap/images/icon-bookersnap.png">
        </li>
        <li>
            <button type="button" class="btn btn-default-red btn-sm text-center">
                <i class="tm-icon zmdi zmdi-notifications zmdi-hc-2x"></i>
                <div class="f-12">Reservación</div>
            </button>
            <button type="button" class="btn btn-default-blue btn-sm text-center"><span class="zmdi zmdi-book zmdi-hc-2x"></span>
                <div class="f-12">Notas turnos</div>
            </button>
            <button type="button" class="btn btn-default-blue btn-sm text-center "><span class="zmdi zmdi-lock-open zmdi-hc-2x"></span>
                <div class="f-12">Bloqueos  mesas</div>
            </button>
        </li>
        <!--
        <li class="dropdown dropup open" uib-dropdown="">
            <div class="waves-effect dropdown-toggle select-todas" uib-dropdown-toggle="" aria-haspopup="true" aria-expanded="true"> &nbsp; <strong>Todas </strong><span class="caret"></span></div>

            <ul class="dropdown-menu">
                <li><a>Opcion 01</a></li>
                <li><a>Opcion 02</a></li>
            </ul>
        </li>
        <li>
            <ul class="people-information">
                <li><div><strong>Pax asistencia</strong></div><span class="numpax">120</span></li>
                <li><div><strong>Reservaciones</strong></div> <span class="numpax">15</span></li>
                <li><div><strong>Pax esperadas</strong></div> <span class="numpax">120</span></li>
            </ul>
        </li>
        <li>
            <ul class="people-information info-guest">
                <li><i class="zmdi zmdi-male-alt"></i> <span class="rounded">18</span></li>
                <li><i class="zmdi zmdi-female"></i> <span class="rounded">20</span></li>
                <li><i class="zmdi zmdi-face"></i> <span class="rounded">10</span></li>
            </ul>
        </li>
        -->
        
        
        <li class="dropdown dropup ultimo-btn-right pull-right" uib-dropdown="">
            <button type="button" class="btn btn-default-red btn-sm text-center dropdown-toggle waves-effect" uib-dropdown-toggle="" aria-haspopup="true" aria-expanded="false">
                MESA RAPIDA
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li class="listado-table">
                    <div class="listado-row">
                        <div class="listado-column">1</div>
                        <div class="listado-column">2</div>
                        <div class="listado-column">3</div>
                    </div>
                    <div class="listado-row">
                        <div class="listado-column">4</div>
                        <div class="listado-column">5</div>
                        <div class="listado-column">6</div>
                    </div>
                    <div class="listado-row">
                        <div class="listado-column">7</div>
                        <div class="listado-column">8</div>
                        <div class="listado-column">9</div>
                    </div>
                    <div class="listado-row">
                        <div class="listado-column">10</div>
                        <div class="listado-column">11</div>
                        <div class="listado-column">12</div>
                    </div>
                    <div class="listado-row">
                        <div class="listado-column">13</div>
                        <div class="listado-column">14</div>
                        <div class="listado-column">15</div>
                    </div>
                </li>
            </ul>
        </li>

    </ul>
</div>
