<ul class="header-inner clearfix">
    <li data-model-left="mactrl.sidebarToggle.left" data-ng-class="{ 'open': mactrl.sidebarToggle.left === true }" data-target="mainmenu" data-toggle-sidebar="" id="menu-trigger">
        <div class="line-wrap">
            <div class="line top">
            </div>
            <div class="line center">
            </div>
            <div class="line bottom">
            </div>
        </div>
    </li>
    <li class="logo hidden-xs">
        <a data-ng-click="mactrl.sidebarStat($event)" data-ui-sref="home">
            Bookersnap
        </a>
    </li>
    <li class="pull-right" data-ng-controller="notificationCtrl as nctrl">
        <ul class="top-menu">

            <li class="dropdown" uib-dropdown="" ng-click="nctrl.clearNotifications()">
                <a href="" uib-dropdown-toggle="">
                    <i class="tm-icon zmdi zmdi-notifications"></i>
                    <i class="tmn-counts" ng-bind="nctrl.notification_count"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-lg stop-propagate pull-right">
                    <div class="listview" id="notifications">
                        <div class="lv-header">
                            Notificaciones
                        </div>
                        <div id="notif-body">
                            <a class="lv-item" ng-href="" ng-repeat="re in nctrl.reservations">
                                <div class="media">
                                    <div class="media-body">
                                        <div class="lv-title c-red"><strong>{{ re.guest.first_name+ ' '+ re.guest.last_name }}</strong>
                                        </div>
                                        <div class="f-12">
                                            Hizo una reserva para día <spam class="c-green">{{ re.date_reservation+' '+re.hours_duration | latamDate }}</spam> para <spam class="c-red">{{ re.num_guest }}</spam> personas
                                        </div>
                                        <small class="lv-small text-right">
                                            {{ re.date_add }}
                                        </small>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="clearfix"></div>
                        <a class="lv-footer" href="javascipt:void(0)" ng-click="nctrl.prevReserves()">
                            Ver Notificaciones Previas
                        </a>
                    </div>
                </div>
            </li>
        </ul>
    </li>
</ul>

<audio id="audio_notipromocion">
    <source src="/media/Arpeggio.ogg" type="audio/ogg">
</audio>