<ul class="header-inner clearfix">
    <li data-model-left="mactrl.sidebarToggle.left" data-ng-class="{ 'open': mactrl.sidebarToggle.left === true }" data-target="mainmenu" data-toggle-sidebar="" id="menu-trigger">
        <div class="line-wrap">
            <div class="line top">
            </div>
            <div class="line center">
            </div>
            <div class="line bottom">
            </div>
        </div>
    </li>
    <li class="logo hidden-xs">
        <a data-ng-click="mactrl.sidebarStat($event)" data-ui-sref="home">
            Bookersnap
        </a>
    </li>
    <li class="pull-right" data-ng-controller="notificationCtrl as nctrl">
        <ul class="top-menu">

            <li class="dropdown" uib-dropdown="">
                <a href="" uib-dropdown-toggle="">
                    <i class="tm-icon zmdi zmdi-notifications"></i>
                    <i class="tmn-counts">9</i>
                </a>
                <div class="dropdown-menu dropdown-menu-lg stop-propagate pull-right">
                    <div class="listview" id="notifications">
                        <div class="lv-header">
                            Notification {{ nctrl.title }}
                            <ul class="actions">
                                <li>
                                    <a data-ng-click="hctrl.clearNotification($event)" href="">
                                        <i class="zmdi zmdi-check-all"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="lv-body">
                            <a class="lv-item" ng-href="" ng-repeat="w in hctrl.messageResult.list">
                                <div class="media">
                                    <div class="pull-left">
                                        <img alt="" class="lv-img-sm" ng-src="/img/profile-pics/{{ w.img }}"/>
                                    </div>
                                    <div class="media-body">
                                        <div class="lv-title">
                                            {{ w.user }}
                                        </div>
                                        <small class="lv-small">
                                            {{ w.text }}
                                        </small>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="clearfix"></div>
                        <a class="lv-footer" href="">
                            Ver Notificaciones Previas
                        </a>
                    </div>
                </div>
            </li>
        </ul>
    </li>
</ul>
