<div class="sidebar-inner c-overflow">
    <!--
    <div class="profile-menu">
        <a href="" toggle-submenu="">
            <div class="profile-pic">
                <img alt="" src="/img/profile-pics/1.jpg">
                </img>
            </div>
            <div class="profile-info">
                Josue Diaz
                <i class="zmdi zmdi-caret-down">
                </i>
            </div>
        </a>
        <ul class="main-menu">
            <li>
                <a data-ng-click="mactrl.sidebarStat($event)" data-ui-sref="pages.profile.profile-about">
                    <i class="zmdi zmdi-account">
                    </i>
                    Ver Perfil
                </a>
            </li>
            <li>
                <a href="">
                    <i class="zmdi zmdi-input-antenna">
                    </i>
                    Seguridad
                </a>
            </li>
            <li>
                <a href="">
                    <i class="zmdi zmdi-settings">
                    </i>
                    Configuración
                </a>
            </li>
            <li>
                <a href="">
                    <i class="zmdi zmdi-time-restore">
                    </i>
                    Salir
                </a>
            </li>
        </ul>
    </div>-->
    <ul class="main-menu">
        <li data-ui-sref-active="active">
            <a data-ng-click="mactrl.sidebarStat($event)" data-ui-sref="home">
                <i class="zmdi zmdi-home">
                </i>
                Home
            </a>
        </li>
        <li class="sub-menu" data-ng-class="{ 'active toggled': mactrl.$state.includes('headers') }">
            <a href="" toggle-submenu="">
                <i class="zmdi zmdi-labels zmdi-hc-fw">
                </i>
                Mesas
            </a>
            <ul>
                <li>
                    <a data-ng-click="mactrl.sidebarStat($event)" data-ui-sref="calendar">
                        Configuración
                    </a>
                    <li>
                        <a data-ng-click="mactrl.sidebarStat($event)" data-ui-sref="guest">
                            Huesped
                        </a>
                    </li>
                    <li>
                        <a data-ng-click="mactrl.sidebarStat($event)" data-ui-sref="turn">
                            Turno
                        </a>
                    </li>
                    <li>
                        <a data-ng-click="mactrl.sidebarStat($event)" data-ui-sref="zone.active">
                            Zonas
                        </a>
                    </li>
                    <li>
                        <a data-ng-click="mactrl.sidebarStat($event)" data-ui-sref="book">
                            Book
                        </a>
                    </li>
                    <li>
                        <a data-ng-click="mactrl.sidebarStat($event)" data-ui-sref="floor.reservation">
                            Floor
                        </a>
                    </li>
                    <li>
                        <a data-ng-click="mactrl.sidebarStat($event)" data-ui-sref="reservation-new">
                            Reservation
                        </a>
                    </li>
                </li>
            </ul>
        </li>
        <li class="sub-menu" data-ng-class="{ 'active toggled': mactrl.$state.includes('headers') }">
            <a href="" toggle-submenu="">
                <i class="zmdi zmdi-view-compact">
                </i>
                Reservaciones
            </a>
            <ul>
                <li>
                    <a data-ng-click="mactrl.sidebarStat($event)" data-ui-sref="promotion" data-ui-sref-active="active">
                        Promociones
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</div>
