.modal-header
	text-align center
.modal-footer
	text-align center
	
.list-table
	padding 0 25px
	& .table-responsive
		padding 15px 0

.float-right
	float right
.padding-left-none
	padding-left 0
.zone-container
	width 940px !important
	& .container
		max-width none !important
	& .card 
		width 940px !important
.box-zone-create
	& .form-group
		&.text-rotate
			text-align left
		&.group-btn-rotate
			& .btn-rotate
				padding 4px 12px
				& i 
					font-size 1.2em
					margin-top 4px
			& .shape 
				padding 10px 20px
				&:nth-child(2)
					border-left 1px solid rgba(0,0,0,.16)
				&:nth-child(3)
					border-left 1px solid rgba(0,0,0,.16)
				& > i 
					float left
					background-color #777
					&.round-btn-shape
						width 20px
						height 20px
					&.square-btn-shape
						width 20px
						height 20px
					&.recta-btn-shape
						width 35px
						height 20px
				
	& .selected-table
		& .border
			border 2px solid #011A52!important
			background-color #0639AF
			opacity 0.5
	& .round
		border-radius 50%
	& .rt45
		-moz-transform rotate(45deg)
		-ms-transform rotate(45deg)
		-webkit-transform rotate(45deg)
		transform rotate(45deg)
	& .shape-table
		background-color #fff
	& .border
		border 1px solid #ccc
		z-index 100
		&.round.small
			width 30px
			height 30px
		&.round.medium
			width 50px 
			height 50px
		&.round.large
			width 75px
			height 75px
		&.square.small
			width 30px
			height 30px
		&.square.medium
			width 50px 
			height 50px
		&.square.large
			width 75px
			height 75px
		&.recta.small
			width 45px
			height 27px
		&.recta.medium
			width 60px 
			height 32px 
		&.recta.large
			width 75px
			height 48px
			
	& .header-zone-create
		padding 8px
		border 1px solid #DEDEDE
		border-radius 5px
	& .box-lienzo-zone
		padding-left 0
		width 675px !important
		& .lienzo 
			background-color #eee
			min-height 740px
			overflow hidden
	& .box-tables
		padding-left 7px
		padding-rigth 12px
		& .descripcion 
			padding 0 14px
			& h3 
				font-size 1.5em
		& .item
			border-bottom 1px solid #ccc
			&.title
				padding 4px 10px
				font-size 1.1em
				background-color #eee
				font-weight bold
				&.no-background
					background-color transparent
		& .item-table-box
			padding-top 7px
			text-align center
			padding-bottom 8px
			border-bottom 1px solid #ccc
			& .box-buttons-item-table
				margin-top 25px
				float left
			&.last
				border-bottom 0
			& .col-md-4
				padding-left 0
			& .title-table
				font-size 1em
			& .table-box
				text-align center
				display inline-block
					

/*Create zone drag and drop*/
[ng-drag]
	-moz-user-select -moz-none
	-khtml-user-select none
	-webkit-user-select none
	-ms-user-select none
	user-select none
	cursor move
	&.drag-over
		border solid 1px rgba(255, 0, 0, 0.5)
	&.dragging
		opacity 0.5
		border solid 1px rgba(255, 0, 0, 0.5)
		background rgba(255, 0, 0, 0.5)
[ng-drop]
	background rgba(0, 255, 0, 0.5)
	text-align center
	display block
	//margin 20px auto
	position relative
	& div
		position relative
		z-index 2