$color_principal = #424242
$color_secundario = #616161 

.modal-header
	text-align center
.modal-footer
	text-align center
	
.list-table
	padding 0 25px
	& .table-responsive
		padding 15px 0

.float-right
	float right
.padding-left-none
	padding-left 0
.zone-container
	width 940px !important
	& .container
		max-width none !important
	& .card 
		width 940px !important
.box-zone-create
	& .form-group
		&.text-rotate
			text-align left
		&.group-btn-rotate
			& .btn-rotate
				padding 4px 12px
				& i 
					font-size 1.2em
					margin-top 4px
			& .shape 
				padding 10px 20px
				&:nth-child(2)
					border-left 1px solid rgba(0,0,0,.16)
				&:nth-child(3)
					border-left 1px solid rgba(0,0,0,.16)
				& > i 
					float left
					background-color #777
					&.round-btn-shape
						width 20px
						height 20px
					&.square-btn-shape
						width 20px
						height 20px
					&.recta-btn-shape
						width 35px
						height 20px
				
	& .selected-table
		border 2px solid #2196f3!important
		background-color #57b3f1!important
	& .selected-table-2
		& .border
			border 5px solid red!important
			opacity 0.3		
	& .round
		border-radius 50%
	& .rt45
		transform rotate(45deg)
		&.recta
			transform-origin bottom left
			-moz-transform translateY(-14.64466px) rotate(45deg)
			-ms-transform translateY(-14.64466px) rotate(45deg)
			-webkit-transform translateY(-14.64466px) rotate(45deg)
			transform translateY(-14.64466px) rotate(45deg)
			
	& .rt90 
		transform rotate(90deg)
	& .rt135
		-moz-transform rotate(135deg)
		-ms-transform rotate(135deg)
		-webkit-transform rotate(135deg)
		transform rotate(135deg)
		&.recta
			transform-origin bottom left
			-moz-transform translateY(-23.43146px) rotate(45deg)
			-ms-transform translateY(-23.43146px) rotate(45deg)
			-webkit-transform translateY(-23.43146px) rotate(45deg)
			transform translateY(-23.43146px) rotate(45deg)
		
	& .table-zone
		display block
		position absolute
		cursor pointer
		z-index 1
		transform-style preserve-3d
		background #f5f5f5
		border 1px #777 solid
		/*border-radius 2px
		box-sizing border-box*/
			
		&.rt45
			& .table-label.top
				-moz-transform translate(-50%,-100%) rotate(-45deg)
				-ms-transform translate(-50%,-100%) rotate(-45deg)
				-webkit-transform translate(-50%,-100%) rotate(-45deg)
				transform translate(-50%,-100%) rotate(-45deg)
			& .table-label.left
				-moz-transform translate(-100%,-50%) rotate(-45deg)
				-ms-transform translate(-100%,-50%) rotate(-45deg)
				-webkit-transform translate(-100%,-50%) rotate(-45deg)
				transform translate(-100%,-50%) rotate(-45deg)
			& .table-label.right
				-moz-transform translate(100%,-50%) rotate(-45deg)
				-ms-transform translate(100%,-50%) rotate(-45deg)
				-webkit-transform translate(100%,-50%) rotate(-45deg)
				transform translate(100%,-50%) rotate(-45deg)
			& .table-label.bottom
				-moz-transform translate(-50%,100%) rotate(-45deg)
				-ms-transform translate(-50%,100%) rotate(-45deg)
				-webkit-transform translate(-50%,100%) rotate(-45deg)
				transform translate(-50%,100%) rotate(-45deg)
				
		& .table-label
			position absolute
			font-weight bold
			//width 100% 
			//text-align center
			&.top
				left 50%
				top -11px
				transform translate(-50%,-100%)		
			&.right 
				right -11px
				top 50% 
				transform translate(100%,-50%)
				text-align left	
			&.left
				left -11px
				top 50%
				transform translate(-100%,-50%)
				text-align right
			&.bottom 
				bottom -11px 
				left 50%
				transform translate(-50%,100%)
							
	& .table-zone.round.small-relative
		width 4.054055054054054%
		height  4.054055054054054%
	& .table-zone.round.medium-relative
		width 6.756756756756757%
		height 6.756756756756757%
	& .table-zone.round.large-relative
		width 10.13513513513514%
		height 10.13513513513514%
	& .table-zone.square.small-relative
		width  4.054055054054054%
		height  4.054055054054054%
	& .table-zone.square.medium-relative
		width 6.756756756756757%
		height 6.756756756756757%
	& .table-zone.square.large-relative
		width 10.13513513513514%
		height 10.13513513513514%
	& .table-zone.recta.small-relative
		width 6.081081081081081%
		height 3.648648648648649%
	& .table-zone.recta.medium-relative
		width 8.108108108108108% 
		height 4.324324324324324% 
	& .table-zone.recta.large-relative
		width 10.13513513513514%
		height 6.486486486486486%
	& .shape-table
		background-color #fff
	& .border
		border 1px solid #ccc
		//z-index 100
		&.round.small
			width 30px
			height 30px
		&.round.medium
			width 50px 
			height 50px
		&.round.large
			width 75px
			height 75px
		&.square.small
			width 30px
			height 30px
		&.square.medium
			width 50px 
			height 50px
		&.square.large
			width 75px
			height 75px
		&.recta.small
			width 45px
			height 27px
		&.recta.medium
			width 60px 
			height 32px 
		&.recta.large
			width 75px
			height 48px			
	& .header-zone-create
		padding 8px
		border 1px solid #DEDEDE
		border-radius 5px
	& .box-lienzo-zone
		padding-left 0
		//width 675px !important
		& .lienzo 
			background-color #eee
			min-height 740px
			overflow hidden
			&.drag 
				background-image url("../../../img/cuadro.png")
				background-repeat repeat
	& .box-tables
			padding-left 7px
			padding-rigth 12px
			& .descripcion 
				padding 0 14px
				& h3 
					font-size 1.5em
			& .item
				border-bottom 1px solid #ccc
				&.title
					padding 4px 10px
					font-size 1.1em
					background-color #eee
					font-weight bold
					&.no-background
						background-color transparent
			& .item-table-box
				padding-top 7px
				text-align center
				padding-bottom 8px
				border-bottom 1px solid #ccc
				& .box-buttons-item-table
					margin-top 25px
					float left
				&.last
					border-bottom 0
				& .col-md-4
					padding-left 0
				& .title-table
					font-size 1em
				& .table-box
					text-align center
					display inline-block
	& .box-lienzo-zone-v2
		padding-left 0
		& .lienzo-v2
			background-color #CCC
			width 740px
			height 740px
			overflow hidden
			margin 0 auto
			-webkit-user-select none
			-khtml-user-select none
			-moz-user-select none
			-o-user-select none
			-ms-user-select none
			user-select none
			& .item-drag-table
				position absolute
				& .item-drag-cover
					background-color #ccc
					color black
					font-weight bold
				& .item-suggested
					background-image url(../../../img/table-suggested.svg)
					background-repeat no-repeat
					background-position-x 50%
					background-position-y 50%
					width 75%
					height 75%
					min-width 16px
					min-height 16px
					max-width 36px
					max-height 36px
					top 0
					bottom 0
					left 0
					right 0
					margin auto auto
					position absolute
				&.block-table
					background #424242 !important
				& .item-occupied
					background-image url(../../../img/alert.svg)
					background-repeat no-repeat
					background-position-x 50%
					background-position-y 50%
					width 75%
					height 75%
					min-width 16px
					min-height 16px
					max-width 36px
					max-height 36px
					top 0
					bottom 0
					left 0
					right 0
					margin auto auto
					position absolute
				

/*Create zone drag and drop*/
[ng-drag]
	-moz-user-select -moz-none
	-khtml-user-select none
	-webkit-user-select none
	-ms-user-select none
	user-select none
	cursor move
	&.drag-over
		border solid 1px rgba(255, 0, 0, 0.5)
	&.dragging
		opacity 0.5
		border solid 1px rgba(255, 0, 0, 0.5)
		background rgba(255, 0, 0, 0.5)
[ng-drop]
	background rgba(0, 255, 0, 0.5)
	text-align center
	display block
	//margin 20px auto
	position relative
	& div
		position relative
		z-index 2
		
/*--------------BOOK------------------*/

.container-book
	& .lv-body
		& .lv-item
			cursor pointer
			//background-color #e6f3dc
			border-left 4px solid #2196f3
			&:first-child 
				border-top 1px solid #ccc
			&:not(:last-child)
				border-bottom 1px dashed #ccc
	& .calendar-box
		list-style none
		display inline-block
		margin 0 
		padding 0
		&>li 
			display inline-block
			vertical-align top
			& i.calendar-btn 
				font-size 5em
				color #ccc
		& .date-picker
			width 200px
	& .pagination.search-guest
		& li 
			&.active .btn
				background-color #00bcd4
				color #fff
			& .btn
				&:hover
					background-color #00bcd4
					color #fff
		& .dropdown-menu.guest-list
			left -55px
			border-radius 7px
			&:before
				content " "
				top -20px
				left 64px
				position absolute
				border-width 10px
				border-bottom-color #fff
				border-style solid
				color transparent
			&>li
				text-align center
		

/*--------------GUEST------------------*/

.p-section-guest 
	padding-left 400px
.profile-main , #profile-main
	min-height 800px
	& .txt-search
		background-color transparent
		padding 25px 
		color #fff
	& hr 
		border-top 1px dashed #ccc
	& .box-tags 
		& hr 
			border-top 1px solid #ccc
		& .label
			margin-right 5px
			font-size 0.9em
			display inline-block
			cursor pointer
	& .header-view-profile
		padding-right 16px
		padding-top 15px
	& .header-list-reservation
		padding 0 53px
	& .listview
		& .lv-item
			& .media-body
				//border-bottom 1px solid #E5E5E5
				& .lv-title
					color #fff!important
			& .notes 
				padding 10px 15px
			&:not(:last-child)
				border-bottom 1px dashed #ccc
			& .label 
				font-size 85%
	& .footer-paginador
		padding 0 40px
/*--------------TURNOS------------------*/
$background-tables-head = #eee

.box-turno-create
	& hr 
		border-top 1px dashed #ccc
	& .box-zones
		transition all linear 0.5s
		& .table>thead>tr>th
			background-color $background-tables-head
	& .box-tables
		transition all linear 0.3s
		& .header-rule
			border 1px solid #ccc
			border-radius 5px
			padding 7px 9px
			& label 
				margin-bottom 0
		& .table>thead>tr>th
			background-color $background-tables-head
	& .ng-hide
		opacity 0
	& .ng-show
		opacity 1
	& .table .rules
		& span
			font-weight bold
		&.disabled
			color #f44336
		&.local
			color #9E9E9E
		&.online
			color #2196F3
			
/*--------------Calendario------------------*/
					
.event-disabled
	opacity .5
	
#calendar 
	& a:not(.event-disabled)
		cursor pointer
	& a.event-disabled
		cursor context-menu
	& .fc-toolbar
		background-color $color_principal

	
/*--------------Floor------------------*/
.border-left-green
	border-left 3px solid rgba(76,175,80,0.7);
.border-left-amber
	border-left 3px solid rgba(255,152,0,0.7);
.not-information
	padding 10px
	background #eee
.zoneArea
	background #eee
	margin 0 auto
	&.minheight
		min-height 600px
		width 800px
	&.transparente
		background transparent
	& .selected-table
		&.border
			border 1px solid #011A52!important
			background-color #0639AF
			opacity 0.5
			color #fff
			/*
			&.border-red
				border 2px solid #dc614d!important
			&.border-orange
				border 2px solid #ff9800!important
			&.border-green
				border 2px solid #4caf50!important
			&.border-yellow
				border 2px solid #fcce18!important
			&.border-blue
				border 2px solid #03a9f4!important
			&.border-gray
				border 2px solid #c1bfbf!important
			*/
	& .border
		border 1px solid #ccc
		//z-index 100
		&.border-red
			border 2px solid #dc614d
		&.border-orange
			border 2px solid #ff9800
		&.border-green
			border 2px solid #4caf50
		&.border-yellow
			border 2px solid #fcce18
		&.border-blue
			border 2px solid #03a9f4
		&.border-gray
			border 2px solid #c1bfbf		
		& .txtcenter
			top 34%
			text-align center
			position relative
			& .name-table
				margin-top -44px
			& .icon-status-table
				margin-top 18px
				margin-left 8px
		& .txtmoneda
			text-align center
			position relative
			bottom -30px
		&.round.small
			width 30px
			height 30px
			& .txtcenter
				top 26%
			& .txtmoneda
				bottom -13px
		&.round.medium
			width 50px 
			height 50px
		&.round.large
			width 75px
			height 75px
			& .txtmoneda
				bottom -57px
		&.square.small
			width 30px
			height 30px
			& .txtcenter
				top 20%
			& .txtmoneda
				bottom -13px
		&.square.medium
			width 50px 
			height 50px
		&.square.large
			width 75px
			height 75px
			& .txtcenter
				text-align center
				& .name-table
					margin-top 126px
			& .txtmoneda
				bottom -57px
		&.recta
			& .txtcenter
				top 24%
		&.recta.small
			width 45px
			height 27px
			& .txtmoneda
				bottom -10px
		&.recta.medium
			width 60px 
			height 32px
			& .txtmoneda
				bottom -13px 
		&.recta.large
			width 75px
			height 48px
	& .definite-table
		&.border
			border 1px solid #479d4b!important
			background-color #4caf50
			opacity 0.8
			color #fff
			& .txtmoneda
				color #242424
	& .bg-white
		background #fff
.box-status
	width 32px
	height 32px
	display block
	background-repeat no-repeat
	&.icon-status-table
		position absolute
		top 31px
		left -3px
	&.size20px
		background-size 20px 20px
	&.not-confirmed
		background-image url('../../../img/status/not-confirmed.svg')
	&.confirmed
		background-image url('../../../img/status/confirmed.svg')
	&.left-message
		background-image url('../../../img/status/left-message.svg')
	&.no-answer
		background-image url('../../../img/status/no-answer.svg')
	&.wrong-number
		background-image url('../../../img/status/wrong-number.svg')
	&.partially-arrived
		background-image url('../../../img/status/partially-arrived.svg')
	&.all-arrived
		background-image url('../../../img/status/all-arrived.svg')	
	&.paged
		background-image url('../../../img/status/paged.svg')
	&.running-late
		background-image url('../../../img/status/running-late.svg')
	&.finished
		background-image url('../../../img/status/finished.svg')
	&.canceled-guest
		background-image url('../../../img/status/canceled-guest.svg')
	&.canceled-restaurant
		background-image url('../../../img/status/canceled-restaurant.svg')
	&.no-show
		background-image url('../../../img/status/no-show.svg')
	&.seated
		background-image url('../../../img/status/seated.svg')
	&.partially-seated
		background-image url('../../../img/status/partially-seated.svg')
	&.entree
		background-image url('../../../img/status/entree.svg')
	&.dessert
		background-image url('../../../img/status/dessert.svg')
	&.table-cleared
		background-image url('../../../img/status/table-cleared.svg')
	&.appetizer
		background-image url('../../../img/status/appetizer.svg')
	&.check-dropped
		background-image url('../../../img/status/check-dropped.svg')
	&.check-paid
		background-image url('../../../img/status/check-paid.svg')
.p-t-main
	padding-top 72px
	
.table-listado
	font-size 0.9em
	background transparent
	color #fff
	width 100%
	& thead tr th
		background #005581
		color #fff		
	& thead > tr > th, & tbody > tr > td, & tbody > tr:last-child >td
		border-top 0
		border-bottom 0
		padding 2px 0px 2px 4px
	& thead > tr > th
		padding 4px 0px 4px 4px
	& thead > tr, & tbody > tr
		&.line-row
			border-bottom 1px solid #767676
			td > ul.actions > li
				width 38px
				a
				height 0px
				padding 0px
.box-estado-res
	background #575757
	width 90%
	padding 1px 10px
	text-align center
	&.bg-green
		background #4caf50
	&.bg-orange
		background #f5a600
	&.bg-beige
		background #00ad97
	&.bg-pink
		background #ff76cb

.btn-menu
	margin-right 5px
	border-radius 0px
	padding 4px !important
	white-space normal
	min-height 50px
	box-shadow none !important
	font-weight bold
.btn-primary-nav
	background-color #005581
	padding-left 15px!important
	padding-right 15px!important
.btn-default-nav
	background-color #575757
.tab-tiempo
	background #575757
	padding-right 430px	
.tab-rp
	width 130px
	background #575757
	margin-right 5px
	margin-top -0.5em
	i
		font-size 2em
	span
		display inline-block
		margin-left 4px
.item-txt-time
	margin-top -0.2em
	& .yellow-time
		color #e6c610
	& .txt-time
		margin-top -22px
		display block
		padding-left 22px
.num-orden-zona
	position absolute
	top 0
	left 0
.tab-menu-floor
	li
		background #575757
		border-left 5px solid #424242
		a
			font-size 12px
			color rgba(255,255,255,0.6)
			font-weight bold
	//li:first-child
	//	border-left none
.tab-menu-floor:not(.tn-vertical) > li.active > a
	color rgba(255,255,255,0.6)
.tab-menu-floor:not(.tn-vertical) > li.active
	background #005581
	border-left 5px solid #424242
//.tab-menu-floor:not(.tn-vertical) > li:first-child.active
//	border-left none
.tab-menu-floor:not(.tn-vertical):not([data-tab-color])>li>a:after
	background none

.tab-reservation-floor
	margin-top -10px
	& .tab-nav
		li
			background #575757
			border-left 5px solid #424242
			a
				font-size 12px
				color rgba(255,255,255,0.6)
				padding 4px 0px
	& .tab-nav:not(.tn-vertical) > li.active > a
		color rgba(255,255,255,0.6)
	& .tab-nav:not(.tn-vertical) > li.active
		background #005581
		border-left 5px solid #424242
	& .tab-nav:not(.tn-vertical):not([data-tab-color])>li>a:after
		background none
	& .tab-content
		padding-top 8px
	& .input-group
		padding 10px
		& .form-control
			background #424242
			padding 10px
			color #fff
		& .input-group-addon
			color #fff
ul.modal-listado-num-people
	list-style none
	li
		display block
		border 1px solid #e4e4e4
		margin-bottom 8px
		& .btn
			box-shadow none
			background #575757
			color rgba(255,255,255,0.6)
			border-radius 0
			font-size 2em
			margin-left 2px
			padding 12px 0px
			width 42px
			&.btn-active
				background #005581
		&.lst-women, &.lst-men, &.lst-children
			& .box-gender
				color #575757
				width 42px
				height 61px
				text-align center
				float left
				i
					font-size 3em
					line-height 1.5em
			& .box-count
				height 61px
				//border 1px solid #e4e4e4
				text-align center
				padding-right 10px
				& .btn
					display inline-block
					height 40px
					padding 0px
					margin 10px 2px 0px 2px
					float left
				& .box-count-value
					background #575757
					width 46px
					height 40px
					font-size 2em
					line-height 1.5em
					float left
					margin-top 10px
					color rgba(255,255,255,0.6)
					text-align center
					&.btn-active
						background #005581
.box-result
	text-align center
	color #005581
	font-size 2em
	& .box-total
		background #575757
		padding 0px 32px
		color rgba(255,255,255,0.6)
		line-height 1.5em
		
					
				
ul.listado-filtros
	position fixed
	bottom 0px
	padding 0px 0px 0px 18px
	height 75px
	width 100%
	list-style none
	margin 0 auto
	> li
		display inline-block
		vertical-align top
		& .btn
			height 60px		
			margin-top 8px
			padding 3px 5px
			width 120px
			background #575757
			color #fefefe
			& .rounded
				width 24px
				height 24px
				background #424242
				border-radius 14px
				padding 4px 5px
		& .dropdown-menu
			margin-bottom 6px
			min-width 120px
			background #575757
			li
				border-bottom 1px solid #727272
				a
					text-transform uppercase
					color #fefefe
					padding 6px 10px
			
ul.footer-floor
	height 75px
	list-style none
	margin 0
	padding 0
	li
		display inline-block
		float left
		padding 0
		margin 0
		& .btn			
			height 60px
			margin-top 8px
			padding 3px 5px
			width 100px
		&.ultimo-btn-right
			padding-right 410px
			& .dropdown-menu:not(.pull-right):not(.dropdown-menu-right)
				margin-right 410px
				background #f12929
				& .listado-table
					display table
					width 100%
					text-align center
					margin 0 auto
					& .listado-row
						display table-row
						& .listado-column
							display table-cell
							vertical-align middle
							width 42px
							height 44px
							padding 4px
							color #fff
							cursor pointer
							font-weight bold
							font-size 1.9em
							border 1px solid #dc4d4d
							background #f12929
			& .dropdown-menu
				margin-bottom 6px
				min-width 130px
			& .btn
				width 130px
				font-weight bold
				border-radius 2px
		&.logotipo-footer
			width 45px
			height 70px
			padding 8px 4px 4px 4px
			margin 0px 25px 0px 6px
			img
				width 100%
	.f-btn-notas
		list-style none
		margin 0
		padding 0
		display inline
		.box-tab-notas
			width 340px
			min-height 200PX
		
li.divider
	width 2px
	background #575757
	height 50px


	
.load-parent
	background #FFF
	position absolute
	top 0
	left 0
	right 0
	height 100%
	z-index 2

.load-child
	position absolute
	top 0
	bottom 0
	left 0
	right 0
	height 0
	margin auto
	width 40px

.pos-r
	position relative

.container
	position relative
	
.size-default
	width 40px !important
	
.xs
	width 20px !important

.sm
	width 30px !important

.lg
	width 50px !important

.xl
	width 80px !important

.xxl
	width 100px !important
	
.xs .pl-xs
	top -10px

.sm .sm
	top -15px

.lg .pl-lg
	top -25px

.xl .pl-xl
	top -40px

.xxl .pl-xxl
	top -50px

.fc-past
	background: rgba(228, 228, 228, 0.5);
	
.t-20-i
	top -20px

.form-drag
	background #454545
	& .form-control
		background #454545
		color #fff 
	& .form-control option
		background #FFF
		color #454545
	& .form-group
		& .select:before
			background-color: transparent
			background-image url(../../../img/selectDrag.png)
		& select
			margin-top 12px
		& input
			margin-top 12px
		& textarea
			margin-top 12px 
	& .card
		background #454545
		box-shadow none
	& label
		color #FFF
	& .drag-border
		border-left: 1px solid #fff;
		border-right: 1px solid #fff;
		border-bottom: 1px solid  #fff
	& > .card-body
		margin 10px
	& .form-group
		margin-left 0
		margin-right 0
		height 45px
		line-height 45px
		border-top: 1px #FFF solid;
		

/* ----------- Footer Floor */

.btn-default-red
	background-color #d32f2f
	color white
	border-radius 10px
	font-size 13px
	text-transform none
	padding-bottom 10px
	padding-top 10px
	padding-right 10px
	padding-left 10px
	&:hover
		background-color #f12929
		color #fff
		
.btn-default-blue
	background-color #01567f
	color white
	border-radius 10px
	font-size 13px
	text-transform none
	/*padding-bottom 10px
	padding-top 10px
	padding-right 10px
	padding-left 10px*/
	&:hover
		background-color #0b618a
		color #fff
.sin-borde
	border-radius 0px

.button-size-pagination-date
	padding-top 7px
	padding-bottom 8px
	width 40px
	height 84px

.container-non-responsive
	margin-left auto
	margin-right auto
	padding-left 15px
	padding-right 15px
	width 100%

@media screen and (min-width 10px) and (max-width 1058px)
	.container-non-responsive
		width 1058px
.reservation-content-header
	padding 10px 10px 0 10px
	display table
	width 100%
.itext-left
	text-align left !important
	
.scrolltablef
	overflow-y auto
	overflow-x hidden
	height 70%
	width 100%
	position absolute
	
@media only screen and (max-height: 700px)
	.scrolltablef
		height 60%