<div class="card">

        <div class="card-body card-padding p-t-0" data-ng-controller="DatepickerDemoCtrl">

            <br/>
            <br/>

            <div class="row">
                <div class="col-sm-3">

                    <div class="date-picker input-group" ng-class="{ 'is-opened': opened == true }">
                        <span class="input-group-addon"><i class="zmdi zmdi-calendar ma-icon"></i></span>
                        <div class="fg-line" ng-class="{ 'fg-toggled': opened == true }">
                            <input ng-click="open($event, 'opened')" type="text" class="form-control" uib-datepicker-popup="MM-dd-yyyy" show-weeks="false" ng-model="sm.filtro.fecha_inicio" is-open="opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" placeholder="Seleccione fecha de inicio" />
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">  
                    <div class="date-picker input-group dp-blue" ng-class="{ 'is-opened': opened2 == true }">
                        <span class="input-group-addon"><i class="zmdi zmdi-calendar ma-icon"></i></span>
                        <div class="fg-line" ng-class="{ 'fg-toggled': opened2 == true }">
                            <input ng-click="open($event, 'opened2')" ng-keypress="($event.which === 13)?sm.filtrar():0" type="text" class="form-control" uib-datepicker-popup="MM-dd-yyyy" show-weeks="false" ng-model="sm.filtro.fecha_fin" is-open="opened2"  datepicker-options="dateOptions" ng-required="true" close-text="Close" placeholder="Seleccione fecha de fin" />
                        </div>          
                    </div>              
                </div>                  

                <div class="col-sm-4">
                    <div class="s input-group dp-red" ng-class="{ 'is-opened': opened3 == true }">
                        <span class="input-group-addon"><i class="zmdi zmdi-search ma-icon"></i></span>
                        <div class="fg-line" ng-class="{ 'fg-toggled': opened3 == true }">
                            <input type="text" class="form-control"  ng-keypress="($event.which === 13)?sm.filtrar():0" ng-model="sm.filtro.texto" placeholder="Buscar registro 2" />
                        </div>
                    </div>
                </div>

                <div class="col-sm-2">
                    <div class="s input-group dp-red pull-right" ng-class="{ 'is-opened': opened3 == true }">
                        <button class="btn btn-success" ng-click="sm.filtrar()" >Buscar</button>
                        <button class="btn btn-error" ng-click="sm.reloadRoute()" ng-disabled="!flag">Limpiar</button>
                    </div>
                </div>

            </div>

            </div>
        </div>
    </div>