<header id="header" data-current-skin={{mactrl.currentSkin}} data-ng-include="'/template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>

<section id="main">
    <aside id="sidebar" data-ng-include="'/template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>

    <aside id="chat" data-ng-include="'/template/chat.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.right === true }"></aside>

    <section id="content">
        <div class="container">
            <div class="card wrapper-promotion" id="turno-main">


<div class="card-header">
<h2>{{titulo}}<small></small></h2>
</div>
<div class="card-body card-padding">
	<div class="row" >
    	<div class="col-md-8 fileinput fileinput-new" data-provides="fileinput">
     
            <div class="m-b-10">

                <div class="fileinput fileinput-new">
                    <span class="btn btn-info btn-file">
                        <span ngf-select ngf-change='uploadImageFlyer(coleccion.fileimg)' ng-model="coleccion.fileimg" name="fileimg" ngf-pattern="'image/*'" ngf-accept="'image/*'">Seleccionar imagen</span>
                    </span>
                    <span href="#" class="btn btn-danger" ng-click="clearImageFlyer()" ng-show="coleccion.fileimg">Cancelar</span>
                </div>

            </div>
    		
    		<div class="svgArea">
		    	<div class="thumbnail imgLienzo" ng-click="noEditar()">
                    <img ngf-background="coleccion.fileimg" ngf-src="coleccion.fileimg" ngf-no-object-url="true">
                </div>   
                <div ng-repeat="obj in textFlyer" class="text-flyer" ng-draggable>
                    <div class="{{obj.typography.name}}" style="font-size: {{obj.font_size}}; color:{{obj.color}};" ng-click="selectedText($index)">{{obj.label.name}}</div>  
                </div>
		    </div>

    	</div>
    	<div class="col-md-4">
            <!--
            <p class="c-black f-500 m-b-15">Estado de Flyer</p>
            <label class="radio radio-inline m-b-30" ng-repeat="estado in flyer.states">
                <input type="radio" ng-model="flyer.stateSelected.value" name="state" ng-value="{{estado.value}}">
                <i class="input-helper"></i>
                {{estado.name}}
            </label>
            -->
            <div class="m-b-30">&nbsp;</div>
            <div class="form-group">
                <label class="col-sm-2 control-label c-black f-500">Texto:</label>
                <div class="col-sm-10">
                    <div class="fg-line">
                        <select chosen disable-search="true" ng-change="changeFunction()" ng-model="flyer.labelSelected" ng-options="l as l.name for l in flyer.labels track by l.label_id" class="w-100" name="texto">
                        </select>
                    </div>
                </div>
            </div>
            <div class="m-b-10">&nbsp;</div>
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label c-black f-500">Fuente:</label>
                <div class="col-sm-10">
                    <div class="fg-line">
                        <select chosen disable-search="true" ng-change="changeFunction()" ng-model="flyer.fontSelected" ng-options="f as f.name for f in flyer.fonts track by f.typography_id" class="w-100" name="fuente">
                        </select>
                    </div>
                </div>
            </div>
            <div class="m-b-10">&nbsp;</div>

            <div class="cp-container">
                <div class="input-group form-group">
                    <span class="input-group-addon">Color: </span>
                    <div class="fg-line dropdown" uib-dropdown>
                        <input type="text" class="form-control cp-value" ng-model="flyer.colorSelected.color" uib-dropdown-toggle>
                        <div class="dropdown-menu">
                            <ng-farbtastic ng-model="flyer.colorSelected.color" ng-value="autoPropiedad()"></ng-farbtastic>
                        </div>
                        <i class="cp-value" style="background-color: {{ flyer.colorSelected.color }}"></i>
                    </div>
                </div>
            </div>

            <div class="m-b-10">&nbsp;</div>
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label c-black f-500">Tamaño:</label>
                <div class="col-sm-10">
                    <div class="fg-line p-l-15">
                        <div slider class="input-slider" ng-model="flyer.sizeSelected.id" start=10 end=52 ng-value="autoPropiedad()"></div>
                        <br>
                        <small class="c-gray">Valor actual: {{ flyer.sizeSelected.id }}</small>
                    </div>
                </div>
            </div> 
            <br>
            <button class="btn btn-primary" ng-click="addText()" ng-show="textActive==false">Agregar</button>
            <!--<button class="btn btn-primary" ng-click="updateText()" ng-show="textActive==true">Modificar</button> -->
            <button class="btn btn-primary" ng-click="deleteText()" ng-show="textActive==true">Eliminar</button>

    	</div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <button class="btn btn-primary" ng-click="saveFlyer()">Generar flyer</button>
        </div>
    </div>
</div>


            </div>
        </div>
    </section>
</section>

<footer id="footer" data-ng-include="'/template/footer.html'"></footer>
