<div class="configuration-reservation-form">
    <div class="card-header p-l-0 p-r-0">
        <h2>
            Configuración de campos de formulario
            <small>
            </small>
        </h2>
    </div>
    <div class="card-body">
        <form name="configurationBasicForm" novalidate="">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group fg-line">
                        <label>
                            Campos de formularios
                        </label>
                        <div class="checkbox">
                            <label>
                                <input ng-false-value="0" ng-model="vm.configuration.status_people_1" ng-true-value="1" type="checkbox">
                                    <i class="input-helper">
                                    </i>
                                    Hombres
                                </input>
                            </label>
                        </div>
                        <!-- <div class="checkbox">
                            <label>
                                <input ng-false-value="0" ng-model="vm.configuration.status_people_2" ng-true-value="1" type="checkbox">
                                    <i class="input-helper">
                                    </i>
                                    Mujeres
                                </input>
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input ng-false-value="0" ng-model="vm.configuration.status_people_3" ng-true-value="1" type="checkbox">
                                    <i class="input-helper">
                                    </i>
                                    Niños
                                </input>
                            </label>
                        </div> -->
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 m-b-20 form-group">
                    <button class="btn btn-primary btn-sm m-t-10 waves-effect" ng-click="vm.configurationUpdate(vm.configuration.ms_microsite_id,vm.configuration)" ng-disabled="configurationBasicForm$valid || vm.flagSaveConfiguration || vm.loadingConfiguration">
                        <i class="zmdi zmdi-floppy zmdi-hc-fw m-r-5">
                        </i>
                        Guardar Cambios
                        <loading-box bg="blue" pls="white" size="xs" time="5000" wait="vm.flagSaveConfiguration">
                        </loading-box>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
