<div class="w-100 p-0" style="background-color: #424242;">
    <ul class="footer-floor footer-blook">
        <li class="logotipo-footer">
            <img class="img-responsive" src="/images/icon-bookersnap.png">
            </img>
        </li>
        <li>
            <button class="btn btn-default-red btn-sm text-center pull-left" type="button" ui-sref="mesas.reservation-new({date : '{{vm.fecha_actual}}'})">
                <i class="tm-icon zmdi zmdi-notifications zmdi-hc-2x">
                </i>
                <div class="f-12">
                    Reservación
                </div>
            </button>
            <ul class="f-btn-notas">
                <li class="dropdown dropup" uib-dropdown="">
                    <button aria-expanded="false" aria-haspopup="true" class="btn btn-default-blue btn-sm text-center dropdown-toggle m-l-5 m-r-5" ng-click="vm.openNotes()" type="button">
                        <span class="zmdi zmdi-book zmdi-hc-2x" ng-style="{'color' : vm.notesNotification ? '#ffc107':'#fff'}">
                        </span>
                        <div class="f-12">
                            Notas turnos
                        </div>
                    </button>
                    <div class="box-tab-notas" ng-show="vm.notesBox">
                        <tabset active="activeJustified">
                            <tab disable="turn.turn==null" heading="{{turn.name}}" index="$index" ng-repeat="turn in vm.typeTurns">
                                <textarea class="form-control" ng-keyup="vm.saveNotes(turn)" ng-model="turn.notes.texto" placeholder="Notas" rows="8">
                                </textarea>
                            </tab>
                        </tabset>
                    </div>
                </li>
            </ul>
            <button class="btn btn-default-blue btn-sm text-center" type="button" ui-sref="mesas.floor.block({date : '{{vm.fecha_actual}}'})">
                <span class="zmdi zmdi-lock-open zmdi-hc-2x">
                </span>
                <div class="f-12">
                    Bloqueos  mesas
                </div>
            </button>
            <button class="btn btn-default-blue btn-sm text-center" type="button">
                <span class="zmdi zmdi-calendar-alt zmdi-hc-2x">
                </span>
                <div class="f-12">
                    Admin Fechas
                </div>
            </button>
        </li>
        <li class="pull-left box-footer-date">
            <div class="col-md-12 col-md-offset-6 col-sm-offset-0">
                <h5>
                    Mie, Setiembre del 2016 todos los turnos - 126 PAX
                </h5>
            </div>
        </li>
        <li class="pull-right">
            <button class="btn btn-default-blue btn-sm text-center" type="button">
                <span class="zmdi zmdi-alert-circle-o zmdi-hc-2x">
                </span>
                <div class="f-12">
                    Leyenda
                </div>
            </button>
            <button class="btn btn-default-blue btn-sm text-center" type="button">
                <span class="zmdi zmdi-local-printshop zmdi-hc-2x">
                </span>
                <div class="f-12">
                    Imprimir
                </div>
            </button>
            <button class="btn btn-default-blue btn-sm text-center" type="button">
                <span class="zmdi zmdi-settings zmdi-hc-2x">
                </span>
                <div class="f-12">
                    Ajustes
                </div>
            </button>
        </li>
    </ul>
</div>
