<ul class="nav">
    <li class="item-logo">
        <img class="img-responsive" src="/images/icon-bookersnap.png">
        </img>
    </li>
    <li class="item-nav">
        <button class="item-action btn btn-default-red btn-sm" type="button" ui-sref="mesas.book-reservation-add({date : '{{vm.fecha_actual}}'})">
            <div class="icon tm-icon zmdi zmdi-notifications zmdi-hc-2x">
            </div>
            <div class="title">
                Reservación
            </div>
        </button>
    </li>
    <li class="item-nav f-btn-notas">
        <button aria-expanded="false" aria-haspopup="true" bs-close="vm.listenNotes()" bs-open="vm.readNotes()" bs-toggle-click="" class="item-action btn btn-default-blue btn-sm text-center dropdown-toggle waves-effect">
            <span class="icon zmdi zmdi-book zmdi-hc-2x" ng-style="{'color' : vm.notesNotification ? '#ffc107':'#fff'}">
            </span>
            <div class="title">
                Notas turnos
            </div>
        </button>
        <div bs-toggle-show="" class="box-tab-notas">
            <tabset active="activeJustified">
                <tab disable="turn.turn==null" heading="{{turn.name}}" index="$index" ng-repeat="turn in vm.turns">
                    <textarea class="form-control" ng-change="vm.saveNotes(turn)" ng-model="turn.notes.texto" placeholder="Notas" rows="8">
                    </textarea>
                </tab>
            </tabset>
        </div>
    </li>
    <li class="item-nav">
        <button class="item-action btn btn-default-blue btn-sm text-center" type="button" ui-sref="mesas.book.block({date : '{{vm.fecha_actual}}'})">
            <span class="icon zmdi zmdi-lock-open zmdi-hc-2x">
            </span>
            <div class="title">
                Bloqueos  mesas
            </div>
        </button>
    </li>
    <li class="item-nav">
        <button class="item-action btn btn-default-blue btn-sm text-center" type="button" ui-sref="mesas.calendar">
            <span class="icon zmdi zmdi-calendar-alt zmdi-hc-2x">
            </span>
            <div class="title">
                Admin Fechas
            </div>
        </button>
    </li>
    <li class="item-date">
        <div class="m-l-15" ng-class="{'pull-left' : vm.bookView}" ng-hide="vm.bookView">
            <div class="day text-uppercase">
                {{ vm.datesText.start_date | date : 'EEEE d' : 'America/Lima'}}
            </div>
            <div class="month text-uppercase">
                {{ vm.datesText.start_date | date : ' MMMM y' : 'America/Lima'}}
            </div>
        </div>
        <!-- <div class="pull-right m-r-15" ng-if="vm.bookView">
            <div class="day">
                {{ vm.datesText.end_date | date : 'EEEE d' : 'America/Lima'}}
            </div>
            <div class="month">
                {{ vm.datesText.end_date | date : ' MMMM y' : 'America/Lima'}}
            </div>
        </div> -->
    </li>
    <li class="item-nav pull-right dropdown dropup" uib-dropdown="">
        <button  class="item-action btn btn-default-blue btn-sm text-center" aria-expanded="false" aria-haspopup="true" type="button" uib-dropdown-toggle="">
            <span class="icon zmdi zmdi-settings zmdi-hc-2x">
            </span>
            <div class="title">
                Ajustes
            </div>
        </button>        
        <ul class="dropdown-menu setings">
            <li>
                <a ng-click="$event.stopPropagation()" class="" ><strong>AJUSTES</strong></a>
            </li>
            <li>
                <a ng-click="$event.stopPropagation()">
                    <div class="toggle-switch toggle-switch-demo">
                    <label class="ts-label reservation" for="ts100">
                        Reservas Liberadas
                    </label>
                    <input hidden="hidden" id="ts100"  ng-model="vm.bookFilter.options.noStatusFree" type="checkbox" />
                    <label class="ts-helper" for="ts100" ng-click="vm.filterAjustes('free')" ></label>
                    </div>
                </a>
            </li>
            <li>
                <a class="toggle-switch toggle-switch-demo" ng-click="$event.stopPropagation()" >
                    <label class="ts-label reservation" for="ts101">
                        Reservas Cancelada
                    </label>
                    <input hidden="hidden" id="ts101" ng-model="vm.bookFilter.options.noStatusCancel" type="checkbox">
                        <label class="ts-helper" for="ts101" ng-click="vm.filterAjustes('cancel')">
                        </label>
                    </input>
                </a>
            </li>
            <li>
                <a class="toggle-switch toggle-switch-demo" ng-click="$event.stopPropagation()" >
                    <label class="ts-label reservation" for="ts102">
                        Bloqueos
                    </label>
                    <input hidden="hidden" id="ts102" ng-model="vm.bookFilter.options.blocks" type="checkbox">
                        <label class="ts-helper" for="ts102" ng-click="vm.filterAjustes('blocks')">
                        </label>
                    </input>
                </a>
            </li>
            <li>
                <a class="toggle-switch toggle-switch-demo" ng-click="$event.stopPropagation()" >
                    <label class="ts-label reservation" for="ts103">
                        Origen de reservación
                    </label>
                    <input hidden="hidden" id="ts103" ng-change="!vm.liberada" ng-model="vm.liberada" type="checkbox">
                        <label class="ts-helper" for="ts103">
                        </label>
                    </input>
                </a>
            </li>
            <li>
                <a class="toggle-switch toggle-switch-demo" ng-click="$event.stopPropagation()" >
                    <label class="ts-label reservation" for="ts104">
                        Consumo de reservación
                    </label>
                    <input hidden="hidden" id="ts104" ng-change="!vm.liberada" ng-model="vm.liberada" type="checkbox">
                        <label class="ts-helper" for="ts104">
                        </label>
                    </input>
                </a>
            </li>
            <li>
                <a class="toggle-switch toggle-switch-demo" ng-click="$event.stopPropagation()" >
                    <label class="ts-label reservation" for="ts105">
                        Mensajes Enviados
                    </label>
                    <input hidden="hidden" id="ts105" ng-change="!vm.liberada" ng-model="vm.liberada" type="checkbox">
                        <label class="ts-helper" for="ts105">
                        </label>
                    </input>
                </a>
            </li>
            <li>
                <a class="toggle-switch toggle-switch-demo" ng-click="$event.stopPropagation()" >
                    <label class="ts-label reservation" for="ts100">
                        Lista de invitados
                    </label>
                    <input hidden="hidden" id="ts100" ng-change="!vm.liberada" ng-model="vm.liberada" type="checkbox">
                        <label class="ts-helper" for="ts100">
                        </label>
                    </input>
                </a>
            </li>
        </ul>
    </li>
    <li class="item-nav pull-right" >
        <button class="item-action btn btn-default-blue btn-sm text-center" type="button">
            <span class="icon zmdi zmdi-local-printshop zmdi-hc-2x">
            </span>
            <div class="title">
                Imprimir
            </div>
        </button>
    </li>
    <li class="item-nav pull-right dropdown dropup" uib-dropdown="">
        <button class="item-action btn btn-default-blue btn-sm text-center" aria-expanded="false" aria-haspopup="true" type="button" uib-dropdown-toggle="">
            <span class="icon zmdi zmdi-alert-circle-o zmdi-hc-2x">
            </span>
            <div class="title">
                Leyenda
            </div>
        </button>
        <ul class="dropdown-menu">          
            <li>
                <a><strong>LEYENDA</strong></a>
            </li>
            <li>
                <a><i class="zmdi zmdi-male-alt zmdi-hc-fw  zmdi-hc-lg" style="color:#ffa829"></i> Hombres</a>
            </li>
            <li>
                <a><i class="zmdi zmdi-female zmdi-hc-fw  zmdi-hc-lg" style="color:#ffa829"></i> Mujeres</a>
            </li>
            <li>
                <a><i class="zmdi zmdi-face zmdi-hc-fw zmdi-hc-lg" style="color:#ffa829"></i> Niños</a>
            </li>
            <li>
                <a><i class="tm-icon zmdi zmdi-email zmdi-hc-fw  zmdi-hc-lg"></i> Mensajes enviados</a>
            </li>
            <li>
                <a><i class="zmdi zmdi-file-text zmdi-hc-fw  zmdi-hc-lg"></i> Lista de invitados</a>
            </li>
            <li>
                <a><i class="zmdi zmdi-local-parking zmdi-hc-fw zmdi-hc-lg" style="color:red"></i> Reservas de PIE</a>
            </li>
        </ul>
    </li>
</ul>
