<section class="bgm-gray-win menu-section" id="content">
    <div class="container w-100 menu-book">
        <div class="box-option">
            <div class="card">
                <div class="card-body card-padding c-white">
                    <i class="zmdi zmdi-chart zmdi-hc-fw">
                    </i>
                    RES
                    <span>
                        19
                    </span>
                </div>
            </div>
        </div>
        <div class="box-option">
            <div class="card">
                <div class="card-body card-padding c-white">
                    <i class="zmdi zmdi-chart zmdi-hc-fw">
                    </i>
                    PAX
                    <span>
                        19
                    </span>
                </div>
            </div>
        </div>
        <div class="box-option">
            <div class="card">
                <div class="card-body card-padding c-white">
                    <i class="zmdi zmdi-chart zmdi-hc-fw">
                    </i>
                    PAX INGRESO
                    <span>
                        19
                    </span>
                </div>
            </div>
        </div>
        <div class="box-option">
            <div class="card">
                <div class="card-body card-padding c-white">
                    <i class="zmdi zmdi-chart zmdi-hc-fw">
                    </i>
                    CONVERSION
                    <span>
                        %4.65
                    </span>
                </div>
            </div>
        </div>
        <div class="box-option">
            <div class="card">
                <div class="card-body card-padding c-white">
                    <i class="zmdi zmdi-chart zmdi-hc-fw">
                    </i>
                    MDS
                    <span>
                        120/121
                    </span>
                </div>
            </div>
        </div>
        <div class="box-option">
            <div class="card bg-transparent no-box-shadow">
                <div class="card-body card-padding c-white bg-transparent p-0">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="zmdi zmdi-accounts zmdi-hc-fw">
                            </i>
                        </span>
                        <div class="fg-line">
                            <input class="form-control bg-transparent" placeholder="Nombre / Apellido" type="text">
                            </input>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="box-option">
            <div class="card bg-transparent no-box-shadow">
                <div class="card-body card-padding c-white bg-transparent p-0">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="zmdi zmdi-calendar-note zmdi-hc-fw">
                            </i>
                        </span>
                        <div class="fg-line">
                            <input class="form-control bg-transparent" placeholder="28/09/2016 - 29/09/2016" type="text">
                            </input>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="box-option">
            <div class="card">
                <div class="card-body card-padding c-white dropdown-item">
                    <div class="input-group">
                        <span class="input-group-addon p-0">
                            <i class="zmdi zmdi-time zmdi-hc-fw">
                            </i>
                        </span>
                        <div class="dropdown" uib-dropdown="">
                            <a aria-expanded="false" aria-haspopup="true" class=" dropdown-toggle waves-effect" uib-dropdown-toggle="">
                                TURNOS
                                <span class="caret">
                                </span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="#">
                                        Dropdown link
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Dropdown link
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="box-option">
            <div class="card">
                <div class="card-body card-padding c-white dropdown-item">
                    <div class="input-group">
                        <span class="input-group-addon p-0">
                            <i class="zmdi zmdi-account zmdi-hc-fw">
                            </i>
                        </span>
                        <div class="dropdown" uib-dropdown="">
                            <a aria-expanded="false" aria-haspopup="true" class=" dropdown-toggle waves-effect" uib-dropdown-toggle="">
                                COLABORADOR
                                <span class="caret">
                                </span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="#">
                                        Dropdown link
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Dropdown link
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="box-option">
            <div class="card">
                <div class="card-body card-padding c-white dropdown-item">
                    <div class="input-group">
                        <span class="input-group-addon p-0">
                            <i class="zmdi zmdi-local-offer zmdi-hc-fw">
                            </i>
                        </span>
                        <div class="dropdown" uib-dropdown="">
                            <a aria-expanded="false" aria-haspopup="true" class=" dropdown-toggle waves-effect" uib-dropdown-toggle="">
                                ZONAS
                                <span class="caret">
                                </span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="#">
                                        Dropdown link
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Dropdown link
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
