<section class="header-book">
    <ul class="stadistics">
        <li>
            <div class="box">
                <i class="icon zmdi zmdi-chart zmdi-hc-fw">
                </i>
                <span class="title">
                    RES
                </span>
                <span class="title-short">
                    RES
                </span>
                <span class="count">
                    {{ vm.resumenBook.reservations }}
                </span>
            </div>
        </li>
        <li>
            <div class="box">
                <i class="icon zmdi zmdi-chart zmdi-hc-fw">
                </i>
                <span class="title">
                    PAX
                </span>
                <span class="title-short">
                    PAX
                </span>
                <span class="count">
                    {{ vm.resumenBook.pax }}
                </span>
            </div>
        </li>
        <li>
            <div class="box">
                <i class="icon zmdi zmdi-chart zmdi-hc-fw">
                </i>
                <span class="title">
                    PAX INGRESO
                </span>
                <span class="title-short">
                    PAXI
                </span>
                <span class="count">
                    {{ vm.resumenBook.ingresos }}
                </span>
            </div>
        </li>
        <li>
            <div class="box">
                <i class="icon zmdi zmdi-chart zmdi-hc-fw">
                </i>
                <span class="title">
                    CONVERSIÓN
                </span>
                <span class="title-short">
                    CONV
                </span>
                <span class="count">
                    {{ vm.resumenBook.conversion }}%
                </span>
            </div>
        </li>
        <li>
            <div class="box">
                <i class="icon zmdi zmdi-chart zmdi-hc-fw">
                </i>
                <span class="title">
                    MDS
                </span>
                <span class="title-short">
                    MDS
                </span>
                <span class="count">
                    120/121
                </span>
            </div>
        </li>
    </ul>
    <ul class="filters">
        <li>
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="zmdi zmdi-accounts zmdi-hc-fw">
                    </i>
                </span>
                <div class="fg-line">
                    <input class="form-control bg-transparent" ng-model="vm.bookFilter.text" placeholder="Nombre / Apellido" type="text">
                    </input>
                </div>
            </div>
        </li>
        <li>
            <div class="input-group form-group">
                <span class="input-group-addon">
                    <i class="zmdi zmdi-calendar-note zmdi-hc-fw"></i>
                </span>
                <div class="fg-line">
                    <input class="form-control bg-transparent" type="text" placeholder="{{ vm.startDate | date:'dd-MM-yyyy'}} - {{  vm.endDate | date:'dd-MM-yyyy' }}" ng-model="vm.date_info" ng-change="vm.clearDateInfo()" bs-toggle-click></input>
                </div>
                <div class="date-picker dp-range-book" bs-toggle-show>
                    <div class="dp-custom-date">
                        <div class="dp-content">
                            <datepicker ng-model="vm.startDate" max-date="vm.endDate" show-weeks="false" starting-day="1" ng-show="vm.dp_range"></datepicker>
                            <datepicker ng-model="vm.endDate" max-date="vm.maxDate" show-weeks="false" starting-day="1" ng-show="vm.dp_range" ng-change="vm.changeDateEnd(1)"></datepicker>
                            <div class="dp-menu">
                                <div class="list-group">
                                    <a href="javascript:void(0)" class="list-group-item active" ng-click="vm.changeDateCustom(0, 0, $event)">Hoy<i class="zmdi zmdi-check zmdi-hc-fw pull-right"></i></a>
                                    <a href="javascript:void(0)" class="list-group-item" ng-click="vm.changeDateBlock('week',$event)">Esta Semana</a>
                                    <a href="javascript:void(0)" class="list-group-item" ng-click="vm.changeDateCustom(0, -7, $event)">Ultimos 7 días</a>
                                    <a href="javascript:void(0)" class="list-group-item" ng-click="vm.changeDateCustom(0, -30, $event)">Ultimos 30 días</a>
                                    <a href="javascript:void(0)" class="list-group-item" ng-click="vm.changeDateBlock('month',$event)">Este mes</a>
                                    <a href="javascript:void(0)" class="list-group-item" ng-click="vm.changeDateLastMonth($event)">Mes pasado</a>
                                    <a href="javascript:void(0)" class="list-group-item" ng-click="vm.showDateRange($event)">Rango de fechas</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="input-group">
                <span class="input-group-addon p-0">
                    <i class="zmdi zmdi-time zmdi-hc-fw">
                    </i>
                </span>
                <div class="dropdown" uib-dropdown="">
                    <a aria-expanded="false" aria-haspopup="true" class=" dropdown-toggle waves-effect" uib-dropdown-toggle="">
                        TURNOS
                        <span class="caret">
                        </span>
                    </a>
                    <ul class="dropdown-menu pull-right" role="menu">
                        <li ng-class="{ 'active' : vm.bookFilter.options.turnAll }">
                            <a href="" ng-click="vm.filterBook('turn','all')">
                                TODOS
                                <i class="zmdi zmdi-check zmdi-hc-fw pull-right" ng-show="vm.bookFilter.options.turnAll">
                                </i>
                            </a>
                        </li>
                        <li ng-class="[{'active' : item.checked },{'disabled' : item.turn==null}]" ng-repeat="item in vm.turns">
                            <a href="" ng-click="vm.filterBook('turn',item)">
                                {{ item.name }}
                                <i class="zmdi zmdi-check zmdi-hc-fw pull-right" ng-show="item.checked">
                                </i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </li>
        <li>
            <div class="input-group">
                <span class="input-group-addon p-0">
                    <i class="zmdi zmdi-account zmdi-hc-fw">
                    </i>
                </span>
                <div class="dropdown" uib-dropdown="">
                    <a aria-expanded="false" aria-haspopup="true" class=" dropdown-toggle waves-effect" uib-dropdown-toggle="">
                        COLABORADOR
                        <span class="caret">
                        </span>
                    </a>
                    <ul class="dropdown-menu pull-right" role="menu">
                        <li ng-class="{ 'active' : vm.bookFilter.options.sourcesAll }">
                            <a href="" ng-click="vm.filterBook('source','all')">
                                TODOS
                                <i class="zmdi zmdi-check zmdi-hc-fw pull-right" ng-show="vm.bookFilter.options.sourcesAll">
                                </i>
                            </a>
                        </li>
                        <li ng-class="{'active' : item.checked}" ng-repeat="item in vm.sources">
                            <a href="" ng-click="vm.filterBook('source',item)">
                                {{ item.name }}
                                <i class="zmdi zmdi-check zmdi-hc-fw pull-right" ng-show="item.checked">
                                </i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </li>
        <li>
            <div class="input-group">
                <span class="input-group-addon p-0">
                    <i class="zmdi zmdi-local-offer zmdi-hc-fw">
                    </i>
                </span>
                <div class="dropdown" uib-dropdown="">
                    <a aria-expanded="false" aria-haspopup="true" class=" dropdown-toggle waves-effect" uib-dropdown-toggle="">
                        ZONAS
                        <span class="caret">
                        </span>
                    </a>
                    <ul class="dropdown-menu pull-right" role="menu">
                        <li ng-class="{ 'active' : vm.bookFilter.options.zonesAll }">
                            <a href="" ng-click="vm.filterBook('zones','all')">
                                TODOS
                                <i class="zmdi zmdi-check zmdi-hc-fw pull-right" ng-show="vm.bookFilter.options.zonesAll">
                                </i>
                            </a>
                        </li>
                        <li ng-class="{'active' : item.checked}" ng-repeat="item in vm.zones">
                            <a href="" ng-click="vm.filterBook('zones',item)">
                                {{ item.name }}
                                <i class="zmdi zmdi-check zmdi-hc-fw pull-right" ng-show="item.checked">
                                </i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </li>
    </ul>
</section>
