<header data-current-skin="{{mactrl.currentSkin}}" data-ng-controller="headerCtrl as hctrl" data-ng-include="'/template/header.html'" id="header"></header>

<section id="main">
    <aside data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }" data-ng-include="'/template/sidebar-left.html'" id="sidebar"></aside>
    <aside data-ng-class="{ 'toggled': mactrl.sidebarToggle.right === true }" data-ng-include="'/template/chat.html'" id="chat"></aside>
    <div data-ng-include="'/template/config-menu-tables.html'"></div>

    <section id="content">
            <div class="container pos-r zone-containe">

                    <div class="card">
                        <div class="card-body card-padding box-zone-create">
                            <div class="row">

                                <div class="col-xs-9 box-lienzo-zone">
                                    <div class="lienzo" id="lienzo" ng-click="onLienzo()" ng-drop="true" ng-drop-success="onDropComplete($data,$event)">
                                        <div class="item-drag-table rt{{obj.rotate}}" id="tb-item{{$index}}" left="{{obj.left}}" ng-drag="false" ng-drag-data="obj" ng-drag-table="" ng-repeat="obj in itemTables" on-click-fn="activarTableOptions($index,this)" rotate="{{obj.rotate}}" shape="{{obj.shape}}" size="{{obj.size}}" style="position: absolute;top:{{ obj.top }}px;left:{{obj.left}}px" top="{{obj.top}}">
                                            <div>
                                                {{obj.name}}
                                            </div>
                                            <div class="border shape-table {{obj.shape}} {{obj.size}}">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-3 box-tables">

                                </div>

                            </div>
                        </div>
                    </div>
                    
            </div>
    </section>

</section>