<header data-current-skin="{{mactrl.currentSkin}}" data-ng-controller="headerCtrl as hctrl" data-ng-include="'/template/header.html'" id="header">
</header>
<section class="h-100vh" id="main">
    <aside data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }" data-ng-include="'/template/sidebar-left.html'" id="sidebar">
    </aside>
    <aside data-ng-class="{ 'toggled': mactrl.sidebarToggle.right === true }" data-ng-include="'/template/chat.html'" id="chat">
    </aside>
    <section id="content">
        <div class="container w-100 p-section-reservation p-r-0">
            <div class="reservation-content-header">
                <div class="pull-left">
                    <button class="btn bgm-bluegray" ng-click="prevZone()"><i class="zmdi zmdi-arrow-back"></i></button>
                    <button class="btn bgm-bluegray" ng-click="nextZone()"><i class="zmdi zmdi-arrow-forward"></i></button>
                    <label class="control-label">{{ zoneName }}</label>
                </div>
                <div class="pull-right">
                    <button class="btn bgm-bluegray" ng-click="selectTableAllOrNone('all')">Seleccionar todo</button>
                    <button class="btn bgm-bluegray" ng-click="selectTableAllOrNone('none')">Seleccionar niguno</button>
                </div>
            </div>
            <div class="box-zone-create p-t-15 p-b-15">
                <div class="box-lienzo-zone-v2">
                    <div id="lienzo" class="lienzo-v2" ng-drop="true" ng-drop-success="onDropComplete($data,$event)" ng-style="{width: size, height: size}"
                        ng-repeat="zone in zones" ng-show="$index == zoneIndex">
                            <div class="item-drag-table rt{{obj.rotate}} shape-table table-zone" ng-class="[obj.shape, obj.size]" ng-style="{top: obj.top, left: obj.left}" ng-click="selectTable(obj, $index, $event)" ng-repeat="obj in zone.tables">
                                <div class="table-label top" ng-click="$event.stopPropagation()">{{obj.name}}</div>
                                <div class="item-drag-cover" ng-click="$event.stopPropagation()" ng-hide="obj.suggested">{{ obj.minCover }}-{{ obj.maxCover }}</div>
                                <div class="item-suggested" ng-click="$event.stopPropagation()" ng-show="obj.suggested"></div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
<section class="section-left-reservation">
    <div class="card form-drag" style="height: 100%; overflow-y:scroll;">
        <div class="card-header" style="text-align: center; line-height: 30px; color: #FFF;">
            <button class="btn btn-danger pull-left">
                Cancelar
            </button>
            Agregar reservacion
            <button class="btn btn-primary pull-right">
                Guardar
            </button>
        </div>
        <div class="card-body">
            <div class="card m-b-5">
                <form class="form-horizontal" role="form">
                    <div class="card-body drag-border">
                        <div class="form-group">
                            <label class="col-xs-2 control-label" for="status">
                                Estado
                            </label>
                            <div class="col-xs-10">
                                <div class="fg-line">
                                    <div class="select">
                                        <select class="form-control" id="status" ng-model="reservation.status_id" ng-options="status.id as status.name for status in statuses">
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-2 control-label" for="covers">
                                Invitados
                            </label>
                            <div class="col-xs-10">
                                <div class="fg-line">
                                    <div class="select">
                                        <select class="form-control" id="covers" ng-model="reservation.covers" ng-options="cover.id as cover.name for cover in covers" ng-change="tablesSuggested(reservation.covers)">
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-2 control-label" for="date">
                                Fecha
                            </label>
                            <div class="col-xs-10">
                                <div class="fg-line">
                                    <input class="form-control" id="date" ng-model="reservation.date" type="date"/>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="border-right">
                                <label class="col-xs-2 control-label" for="hour">
                                    Hora
                                </label>
                                <div class="col-xs-4">
                                    <div class="fg-line">
                                        <div class="select">
                                            <select class="form-control" id="hour" ng-model="reservation.hour" ng-options="hour.time as hour.name group by hour.turn for hour in hours">
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <label class="col-xs-2 control-label" for="duration">
                                Duracion
                            </label>
                            <div class="col-xs-4">
                                <div class="fg-line">
                                    <div class="select">
                                        <select class="form-control" id="duration" ng-model="reservation.duration" ng-options="duration.time as duration.name for duration in durations">
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-2 control-label" for="server">
                                Mozo
                            </label>
                            <div class="col-xs-10">
                                <div class="fg-line">
                                    <div class="select">
                                        <select class="form-control" id="server" ng-model="reservation.server_id" ng-options="server.id as server.name for server in servers">
                                            <option selected="true" value="">
                                                Ninguno
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" style="display: table;">
                            <label class="col-xs-2 control-label" for="server">
                                Mesas
                            </label>
                            <div class="col-xs-10">
                                <label class="control-label" for="server" ng-if="!tablesSelected" style="color: #8c8c8c;">{{ tableSuggested }}</label>
                                <label class="control-label p-r-5" for="server" ng-repeat="table in  reservation.tables track by $index">{{ table.name }}</label>
                                <a class="a-title pull-right" href="#" style="padding-top: 7px">
                                    Sugerido
                                </a>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <div class="fg-line">
                                    <textarea class="form-control input-sm" placeholder="Introducir notas acerca de esta reserva aquí">
                                    </textarea>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-7 control-label itext-left" for="server">
                                Etiquetas de reservación
                            </label>
                            <div class="col-xs-5">
                                <a class="pull-right" href="#" style="padding-top: 7px">
                                    Editar Etiquetas
                                </a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

<!--       
            <div class="card">
                <div class="card-header bgm-amber" style="margin-bottom: 5px;" ng-repeat="conflict in conflicts">
                    <h5>Conflicto en mesa - {{ conflict.name }}</h5><span>mesa  demasiado grande</span>
                </div>
            </div>
 -->
            <div class="popover-demo">
                <div class="popover right bgm-amber" ng-repeat="conflict in conflicts track by $index"
                    style="display: block; margin: 0 0 5px 0 !important;  /*max-width: 100%;*/">
                    <div class="arrow"></div>
                    <h3 class="popover-title" style="padding: 5px; background: transparent;">Conflicto en mesa - {{ conflict.name }}</h3>
                    <div class="popover-content" style="padding: 0 0 5px 5px;">
                        <p>mesa  demasiado grande.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
