<header id="header" data-current-skin={{mactrl.currentSkin}} data-ng-include="'/template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>

<section id="main">
    <aside id="sidebar" data-ng-include="'/template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>

    <aside id="chat" data-ng-include="'/template/chat.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.right === true }"></aside>

    <section id="content">
        <div class="container" ng-controller="TurnCreateCtrl">
            <div class="block-header" style="padding-bottom: 15px">
                <ul class="actions">
                    <li>
                        <button class="btn btn-default waves-effect" onclick="historyBack()">Cancel</button>
                    </li>
                    <li>
                        <button class="btn btn-primary waves-effect" ng-click="validateSaveTurn('create')">Save New Turn</button>
                    </li>
                </ul>
            </div>
            <div class="card">
                <div class="card-header">
                <h2>New Turn<small></small></h2>
                </div>

                <div class="card-body card-padding">
                    <form role="form" class="ng-pristine ng-valid" name="turnForm">
                        <div class="row">
                            <div class="col-xs-3">
                                <div class="form-group fg-line">
                                    <label>Name</label>
                                    <input  type="text" class="form-control input-sm" placeholder="Name" ng-model="turnData.name" required>
                                </div>
                            </div>

                            <div class="col-xs-3">
                                <div class="form-group fg-line">
                                    <label>Hour ini</label>
                                    <input  type="time" class="form-control input-sm"  placeholder="HH:mm:ss" ng-model="turnForm.hour_ini" required>
                                </div>

                            </div>

                            <div class="col-xs-3">
                                <div class="form-group fg-line">
                                    <label>Hour end</label>
                                    <input type="time" class="form-control input-sm" placeholder="HH:mm:ss" ng-model="turnForm.hour_end" required>
                                </div>   
                            </div>

                            <div class="col-xs-3">
                                <div class="form-group fg-line">
                                    <label>Shift</label>
                                    <div class="select">
                                        <select next-on-enter class="form-control" ng-options="item as item.name for item in typeTurns.data track by item.id" ng-model="turnData.type" <!--ng-change="getDaysTypeTurn()"--> ></select>
                                    </div>
                                
                                </div>   
                            </div>
                        </div>
                        <!--
                        <div class="row">
                            <div class="col-xs-12">
                                <p class="c-black f-500 m-b-20">Selected Days</p>
                            </div>
                            <div class="col-xs-12">
                               <label class="checkbox checkbox-inline m-r-20" ng-repeat="dayItem in days">
                                    <input type="checkbox" value="{{dayItem.id}}" ng-model="turnData.days[$index]" ng-disabled="dayItem.disabled">
                                    <i class="input-helper"></i> {{dayItem.label}}
                                </label>

                            </div>
                        </div>-->
                    </form>
                </div>
            </div>

        </div>
    </section>
</section>

<footer id="footer" data-ng-include="'/template/footer.html'"></footer>