<div class="pmb-block">
    <div class="pmbb-header">
          	<div class="card-body table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Zone Name</th>
                            <th>Zone Tables</th>
                            <th>Zone Price</th>
                            <th>Zone Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Zone 1</td>
                            <td>3</td>
                            <td>45</td>
                            <td>Active</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Zone 1</td>
                            <td>3</td>
                            <td>45</td>
                            <td>Active</td>
                        </tr>
                      
                 
                    </tbody>
                </table>
            </div>
    </div>
</div>