<header id="header" data-current-skin={{mactrl.currentSkin}} data-ng-include="'/template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>

<section id="main">
    <aside id="sidebar" data-ng-include="'/template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>

    <aside id="chat" data-ng-include="'/template/chat.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.right === true }"></aside>

    <section id="content">
        <div class="container">
            <div class="block-header" style="padding-bottom: 15px">
                <ul class="actions">
                    <li>
                        <button class="btn btn-default waves-effect" onclick="historyBack()">Cancelar</button>
                    </li>
                    <li>
                        <button class="btn btn-primary waves-effect" ng-click="validateSaveTurn('edit')">Editar turno</button>
                    </li>
                </ul>
            </div>
            <div class="card box-turno-create">
                <div class="card-header">
                <h2>Nuevo Turno<small></small></h2>
                </div>

                <div class="card-body card-padding">
                    <form role="form" class="ng-pristine ng-valid" name="turnForm">
                        <div class="row">
                            <div class="col-xs-3">
                                <div class="form-group fg-line">
                                    <label>Nombre</label>
                                    <input  type="text" class="form-control input-sm" placeholder="Name" ng-model="turnData.name" required>
                                </div>
                            </div>

                            <div class="col-xs-3">
                                <div class="form-group fg-line">
                                    <label>Hora inicio</label>
                                    <input  type="time" class="form-control input-sm"  placeholder="HH:mm:ss" ng-model="turnForm.hours_ini" step="900" required>
                                </div>

                            </div>

                            <div class="col-xs-3">
                                <div class="form-group fg-line">
                                    <label>Hora cierre</label>
                                    <input type="time" class="form-control input-sm" placeholder="HH:mm:ss" ng-model="turnForm.hours_end" step="900"required>
                                </div>   
                            </div>

                            <div class="col-xs-3">
                                <div class="form-group fg-line">
                                    <label>Tipo turno</label>
                                    <div class="select">
                                        <select next-on-enter class="form-control" ng-options="item as item.name for item in typeTurns.data track by item.id" ng-model="turnForm.type_turn" <!--ng-change="getDaysTypeTurn()"--> ></select>
                                    </div>
                                
                                </div>   
                            </div>
                        </div>

                        <!--
                        
                        <div class="row">
                            <div class="col-xs-12">
                                <p class="c-black f-500 m-b-20">Seleccionar dias</p>
                            </div>
                            <div class="col-xs-12">
                               <label class="checkbox checkbox-inline m-r-20" ng-repeat="dayItem in days">
                                    <input type="checkbox" value="{{dayItem.id}}" ng-model="turnData.days[$index]" ng-disabled="dayItem.disabled">
                                    <i class="input-helper"></i> {{dayItem.label}}
                                </label>

                            </div>
                        </div>
                       
                        <hr>
                        <br>-->
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="text-center">
                                    <button type="button" class="btn bgm-orange" ng-click="showZones()"> <i class="zmdi zmdi-assignment-check zmdi-hc-fw"></i> Asignar zonas</button>
                                </div>
                                
                            </div>
                            <div class="col-xs-12">
                                <hr>
                            </div>
                        </div>
                        <div class="row m-t-10">
                
                               <div class="col-xs-12 box-zones" ng-hide="zonesTable">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>Nombre Zona</th>
                                                <th>Mesas</th>
                                                <th>Fecha</th>
                                                <th>Turnos asignados</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="zone in turnZoneAdd.zones_data">
                                             <td>{{ zone.name }}</td>
                                             <td><label class="label bgm-lightgreen"> {{ zone.tables.length || 0 }} </label> </td>
                                             <td>{{ zone.date_add }}</td>
                                             <td>{{ zone.turns_asign}}</td>
                                             <td>
                                                 
                                                 <button type="button" class="btn btn-info waves-effect" ng-click="showTables(zone)"><i class="zmdi zmdi-open-in-new zmdi-hc-fw"></i> Mesas</button>
                                                 <button type="button" class="btn btn-danger waves-effect" ng-click="deleteZone(zone.id)"><i class="zmdi zmdi-close"></i></button>
                                             </td>
                                         </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <div class="col-xs-12 box-tables" ng-show="zonesTable">

                                    <div class="row m-b-10">
                                        <div class="col-xs-8 text-left">
                                            <div class="row">
                                                <div class="col-md-3"><h4>{{ zoneSelected.name}}</h4></div>
                                                <div class="col-md-9 header-rule">
                                                    
                                                    <label class="m-r-20">Aplicar a todos : </label>
                                                    <label class="checkbox checkbox-inline m-r-20">
                                                        <input type="checkbox" value="option1">
                                                        <i class="input-helper"></i>
                                                        Online
                                                    </label>
                                                    <label class="checkbox checkbox-inline m-r-20">
                                                        <input type="checkbox" value="option2">
                                                        <i class="input-helper"></i>
                                                        Solo en local
                                                    </label>
                                                    <label class="checkbox checkbox-inline m-r-20">
                                                        <input type="checkbox" value="option3">
                                                        <i class="input-helper"></i>
                                                        No disponible
                                                    </label>
                                                  
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-xs-4 text-right">
                                            

                                            <button type="button" class="btn btn-danger waves-effect" ng-click="zonesTable=false"><i class="zmdi zmdi-arrow-back"></i> Regresar</button>
                                            <button type="button" class="btn btn-info waves-effect" ng-click="editTableAvailability()"><i class="zmdi zmdi-edit zmdi-hc-fw"></i> Editar disponibilidad</button>
                                        </div>  

                                    </div>

                                    <div class="row">
                                        <div class="col-xs-12">
                                        <hr>
                                            <table class="table table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>  
                                                            <label class="checkbox checkbox-inline m-r-20">
                                                                <input type="checkbox" value="" ng-click="selectedAllTables()" ng-model="mesasCheckAll">
                                                                <i class="input-helper"></i>
                                                            </label>
                                                        </th>
                                                        <th>Mesa</th>
                                                        <th>Mínimo</th>
                                                        <th>Máximo</th>
                                                        <th>Disponibilidad</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="tables in zoneSelected.tables">
                                                        <td>
                                                            <label class="checkbox checkbox-inline m-r-20">
                                                                <input type="checkbox" value="{{ tables.id }}" ng-checked="mesasCheckAll">
                                                                <i class="input-helper"></i>
                                                            </label>
                                                        </td>
                                                        <td>{{ tables.name }}</td>
                                                        <td>{{ tables.min_cover }}</td>
                                                        <td>{{ tables.max_cover }}</td>
                                                        <td> <span class="f-700">In-House-Only</span> {{ turnData.hours_ini }} - {{ turnData.hours_end }} </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div> 
                                    </div>
                                                             
                                </div>
                        </div>
                     
                    </form>
                </div>
            </div>

        </div>
    </section>
</section>

<script type="text/ng-template" id="myModalZones.html">
    <div class="modal-header">
        <h3 class="modal-title">Listado de zonas</h3>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-xs-12">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Nombre Zona</th>
                            <th>Mesas</th>
                            <th>Fecha</th>
                            <th>Turnos asignados</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="zone in zonesList">
                            <td>{{ zone.name }}</td>
                            <td><label class="label bgm-lightgreen"> {{ zone.tables.length }} </label> </td>
                            <td>{{ zone.date_add }}</td>
                            <td>{{ zone.turns_asign}}</td>
                            <td>
                               <div class="checkbox m-b-15">
                                    <label>
                                        <input type="checkbox" value="{{zone.id}}" ng-click="asignZone(zone)" ng-checked="{{zone.checked}}">
                                        <i class="input-helper"></i>    
                                    </label>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cerrar</button>
    </div>
</script>

<script type="text/ng-template" id="myModalTableTime.html">
    <div class="modal-header">
        <h3 class="modal-title">Tabla de disponibilidad</h3>
    </div>

    <div class="modal-body">
    </div>

    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="cancel()">Guardar</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cerrar</button>
    </div>
</script>

<footer id="footer" data-ng-include="'/template/footer.html'"></footer>