  <div class="card-body table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Tables</th>
                            <th>Created</th>
                            <th>Status</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in zonesInactive">
                            <td>{{ item.id }}</td>
                            <td>{{ item.name }}</td>
                            <td>{{ item.tables_count }}</td>
                            <td>{{ item.created_at }}</td>
                            <td>{{ item.status }}</td>
                            <td>
                            <button class="btn btn-default btn-icon-text waves-effect"><i class="zmdi zmdi-check"></i> Clone zone</button> <button class="btn btn-default btn-icon-text waves-effect"><i class="zmdi zmdi-check"></i> Edit zone</button></td>
                      </tr>

                    </tbody>
                </table>
  </div>