<div class="card-body table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>
                    #
                </th>
                <th>
                    Nombre
                </th>
                <th class="text-center">
                    Mesas
                    <span class="f-10" ng-bind="zones.numTablesActive">
                    </span>
                </th>
                <th class="text-center">
                    Min covers
                    <span class="f-10" ng-bind="zones.minCoversActive">
                    </span>
                </th>
                <th class="text-center">
                    Max covers
                    <span class="f-10" ng-bind="zones.maxCoversActive">
                    </span>
                </th>
                <th>
                    Creación
                </th>
                <th class="text-right">
                    <button class="btn btn-primary waves-effect" data-ui-sref="mesas.zone.create">
                        Crear Zona
                    </button>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in zonesActive">
                <td>
                    {{ item.id }}
                </td>
                <td>
                    {{ item.name }}
                </td>
                <td class="text-center">
                    {{ item.tables_count }}
                </td>
                <td class="text-center">
                    {{ item.min_covers }}
                </td>
                <td class="text-center">
                    {{ item.max_covers }}
                </td>
                <td>
                    {{ item.date_add }}
                </td>
                <td class="text-right">
                    <button class="btn btn-default btn-icon-text waves-effect" ui-sref="mesas.zone.clone({id : '{{item.id}}'})">
                        <i class="zmdi zmdi-collection-item-1 zmdi-hc-fw">
                        </i>
                        Clonar
                    </button>
                    <button class="btn btn-info btn-icon-text waves-effect" ui-sref="mesas.zone.edit({id : '{{item.id}}'})">
                        <i class="zmdi zmdi-edit zmdi-hc-fw">
                        </i>
                        Editar
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>