<header data-current-skin="{{mactrl.currentSkin}}" data-ng-controller="headerCtrl as hctrl" data-ng-include="'/template/header.html'" id="header">
</header>
<section id="main">
    <aside data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }" data-ng-include="'/template/sidebar-left.html'" id="sidebar">
    </aside>
    <aside data-ng-class="{ 'toggled': mactrl.sidebarToggle.right === true }" data-ng-include="'/template/chat.html'" id="chat">
    </aside>
    <section class="w-100 p-0" id="content">
        <div data-ng-include="'/template/config-menu-tables.html'">
        </div>
        <div class="container zone-container" ng-controller="ZoneCreateCtrl">
            <div class="card">
                <div class="card-body card-padding box-zone-create">
                    <div class="row header-zone-create">
                        <div class="col-md-12 p-0">
                            <div class="col-xs-3 padding-left-none">
                                <div class="fg-line">
                                    <input class="form-control" id="zone_name" placeholder="Nombre de zona" type="text">
                                    </input>
                                </div>
                            </div>
                            <div class="col-xs-2">
                                <div class="input-group fg-float">
                                    <label class="fg-label">
                                        <span class="label label-danger m-r-5">
                                            {{ headerZone.tables}}
                                        </span>
                                        Mesas
                                    </label>
                                </div>
                            </div>
                            <div class="col-xs-2">
                                <div class="input-group fg-float">
                                    <label class="fg-label">
                                        <span class="label label-danger m-r-5">
                                            {{ headerZone.maxCovers}}
                                        </span>
                                        Max Covers
                                    </label>
                                </div>
                            </div>
                            <div class="col-xs-2">
                                <div class="input-group fg-float">
                                    <label class="fg-label">
                                        <span class="label label-danger m-r-5">
                                            {{ headerZone.minCovers}}
                                        </span>
                                        Min Covers
                                    </label>
                                </div>
                            </div>
                            <div class="col-xs-3 p-r-0">
                                <div class="input-group fg-float float-right">
                                    <div class="btn-group">
                                        <button class="btn btn-primary waves-effect col-lg-12" ng-click="saveZone('create')" ng-disabled="saveClick">
                                            Guardar zona
                                        </button>
                                        <!--<button class="btn btn-primary waves-effect" ng-click="saveZone('create')" ng-disabled="saveClick">
                                            Guardar zona
                                        </button>
                                        
                                        <button class="btn bgm-gray waves-effect" type="button">
                                            Layout
                                        </button>
                                        <button class="btn btn-default waves-effect" type="button">
                                            Combine tables
                                        </button>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-9 box-lienzo-zone">
                            <div class="lienzo" id="lienzo" ng-click="onLienzo()" ng-drop="true" ng-drop-success="onDropComplete($data,$event)">
                                <div class="item-drag-table rt{{obj.rotate}} border shape-table {{obj.shape}} {{obj.size}} table-zone" id="tb-item{{$index}}" left="{{obj.left}}" ng-drag="false" ng-drag-data="obj" ng-drag-table="" ng-repeat="obj in itemTables" on-click-fn="activarTableOptions($index,this)" on-drag-fn="draggableTable()" rotate="{{obj.rotate}}" shape="{{obj.shape}}" size="{{obj.size}}" style="position: absolute;top:{{ obj.top }}px;left:{{obj.left}}px" top="{{obj.top}}">
                                    <div class="table-label top">
                                        <span ng-bind="obj.name">
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-3 box-tables">
                            <div class="box-tables-items" ng-show="boxTables.items">
                                <div class="row item descripcion">
                                    <h3>
                                        Añadir mesas
                                    </h3>
                                    <p>
                                        Solo tiene que arrastrar y soltar las mesas
                                    </p>
                                </div>
                                <div class="row item title">
                                    Mesas circulares
                                </div>
                                <div class="row item-table-box">
                                    <div class="col-md-4">
                                        <div class="title-table">
                                            Barra
                                        </div>
                                        <div class="table-box" ng-if="true">
                                            <div class="border round small" data-allow-transform="true" ng-center-anchor="true" ng-drag="true" ng-drag-data="{name:'1-2 top',shape:'round',size:'small',minCover:'1',maxCover:'2',rotate:'0'}" ng-drag-success="onDragComplete($data,$event,'r1')">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="title-table">
                                            2-4
                                        </div>
                                        <div class="table-box" ng-if="true">
                                            <div class="border round medium" data-allow-transform="true" ng-center-anchor="true" ng-drag="true" ng-drag-data="{name:'1-2 top',shape:'round',size:'medium',minCover:'1',maxCover:'2',rotate:'0'}" ng-drag-success="onDragComplete($data,$event,'r2')">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="title-table">
                                            4-6+
                                        </div>
                                        <div class="table-box" ng-if="true">
                                            <div class="border round large" data-allow-transform="true" ng-center-anchor="true" ng-drag="true" ng-drag-data="{name:'1-2 top',shape:'round',size:'large',minCover:'1',maxCover:'2',rotate:'0'}" ng-drag-success="onDragComplete($data,$event,'r3')">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row item title">
                                    Mesas cuadradas
                                </div>
                                <div class="row item-table-box draggable-objects">
                                    <div class="col-md-4">
                                        <div class="title-table">
                                            1-2
                                        </div>
                                        <div class="table-box" ng-if="true">
                                            <div class="border square small" data-allow-transform="true" ng-center-anchor="true" ng-drag="true" ng-drag-data="{name:'1-2 top',shape:'square',size:'small',rotate:'0',minCover:'1',maxCover:'2'}" ng-drag-success="onDragComplete($data,$event,'s1')">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="title-table">
                                            2-4
                                        </div>
                                        <div class="table-box" ng-if="true">
                                            <div class="border square medium" data-allow-transform="true" ng-center-anchor="true" ng-drag="true" ng-drag-data="{name:'2-4 top',shape:'square',size:'medium',rotate:'0',minCover:'1',maxCover:'2'}" ng-drag-success="onDragComplete($data,$event,'s2')">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="title-table">
                                            4-6+
                                        </div>
                                        <div class="table-box" ng-if="true">
                                            <div class="border square large" data-allow-transform="true" ng-center-anchor="true" ng-drag="true" ng-drag-data="{name:'4-6 top',shape:'square',size:'large',rotate:'0',minCover:'1',maxCover:'2'}" ng-drag-success="onDragComplete($data,$event,'s3')">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row item title">
                                    Mesas rectangulares
                                </div>
                                <div class="row item-table-box last">
                                    <div class="col-md-4">
                                        <div class="title-table">
                                            1-2
                                        </div>
                                        <div class="table-box" ng-if="true">
                                            <div class="border recta small" data-allow-transform="true" ng-center-anchor="true" ng-drag="true" ng-drag-data="{name:'4-6 top',shape:'recta',size:'small',rotate:'0',minCover:'1',maxCover:'2'}" ng-drag-success="onDragComplete($data,$event,'re1')">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="title-table">
                                            2-4
                                        </div>
                                        <div class="table-box" ng-if="true">
                                            <div class="border recta medium" data-allow-transform="true" ng-center-anchor="true" ng-drag="true" ng-drag-data="{name:'4-6 top',shape:'recta',size:'medium',rotate:'0',minCover:'1',maxCover:'2'}" ng-drag-success="onDragComplete($data,$event,'re2')">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="title-table">
                                            4-6+
                                        </div>
                                        <div class="table-box" ng-if="true">
                                            <div class="border recta large" data-allow-transform="true" ng-center-anchor="true" ng-drag="true" ng-drag-data="{name:'4-6 top',shape:'recta',size:'large',rotate:'0',minCover:'1',maxCover:'2'}" ng-drag-success="onDragComplete($data,$event,'re3')">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="box-tables-item-option" ng-show="boxTables.item">
                                <div class="row item title no-background">
                                    Mesa : Nombre
                                </div>
                                <div class="row item-table-box">
                                    <div class="col-md-6">
                                        <div class="form-group text-rotate fg-line">
                                            <label>
                                                Nombre
                                            </label>
                                            <input class="form-control input-sm" id="name-table" ng-keyup="editNameTable()" placeholder="Name" type="text">
                                            </input>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group text-rotate group-btn-rotate">
                                            <label>
                                                Rotación
                                            </label>
                                            <button class="btn btn-default waves-effect btn-lg btn-rotate" ng-click="rotateTextTable('left')">
                                                <i class="zmdi zmdi-rotate-left">
                                                </i>
                                            </button>
                                            <button class="btn btn-default waves-effect btn-lg btn-rotate" ng-click="rotateTextTable('right')">
                                                <i class="zmdi zmdi-rotate-right">
                                                </i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="row item title no-background">
                                    Mesa : Forma & Posición
                                </div>
                                <div class="row item-table-box">
                                    <div class="col-md-12">
                                        <div class="form-group text-rotate group-btn-rotate">
                                            <label>
                                                Forma
                                            </label>
                                            <div>
                                                <div class="btn-group btn-group-lg">
                                                    <button class="btn btn-default shape rounds" ng-click="changeShapeTable('round')" ng-model="radioModel" type="button" uib-btn-radio="'Left'">
                                                        <i class="round round-btn-shape">
                                                        </i>
                                                    </button>
                                                    <button class="btn btn-default shape squares" ng-click="changeShapeTable('square')" ng-model="radioModel" type="button" uib-btn-radio="'Middle'">
                                                        <i class="square-btn-shape">
                                                        </i>
                                                    </button>
                                                    <button class="btn btn-default shape rectas" ng-click="changeShapeTable('recta')" ng-model="radioModel" type="button" uib-btn-radio="'Right'">
                                                        <i class="recta-btn-shape">
                                                        </i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="col-xs-6">
                                                <div class="form-group text-rotate fg-line">
                                                    <label>
                                                        Tamaño
                                                    </label>
                                                    <div class="fg-line">
                                                        <div class="select">
                                                            <select class="form-control" ng-change="changeSizeTable()" ng-model="sizeTableList.selectedOption" ng-options="item as item.label for item in sizeTableList.data track by item.id">
                                                            </select>
                                                            <!--
                                                        <select class="form-control" ng-change="changeSizeTable()" ng-model="">
                                                            <option value="1">Small</option>
                                                            <option value="2">Medium</option>
                                                            <option value="3">Large</option>
                                                        </select>-->
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-6">
                                                <div class="form-group text-rotate group-btn-rotate">
                                                    <label>
                                                        Rotación
                                                    </label>
                                                    <button class="btn btn-default waves-effect btn-lg btn-rotate" ng-click="rotateShapeTable()">
                                                        <i class="zmdi zmdi-rotate-left">
                                                        </i>
                                                    </button>
                                                    <button class="btn btn-default waves-effect btn-lg btn-rotate" ng-click="rotateShapeTable()">
                                                        <i class="zmdi zmdi-rotate-right">
                                                        </i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row item title no-background">
                                    Mesa : Capacidad
                                </div>
                                <div class="row item-table-box last">
                                    <div class="col-md-6">
                                        <div class="form-group text-rotate fg-line">
                                            <label>
                                                Min covers
                                            </label>
                                            <div class="fg-line">
                                                <div class="select">
                                                    <select class="form-control" ng-change="tableCapacity('min')" ng-model="coversList.selectedMin" ng-options="item as item.label for item in coversList.dataMin track by item.id">
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group text-rotate fg-line">
                                            <label>
                                                Max covers
                                            </label>
                                            <div class="fg-line">
                                                <div class="select">
                                                    <select class="form-control" ng-change="tableCapacity('max')" ng-model="coversList.selectedMax" ng-options="item as item.label for item in coversList.dataMax track by item.id">
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="box-buttons-item-table">
                                        <div class="col-md-6">
                                            <button class="btn btn-danger waves-effect" ng-click="deleteSelectTableItem()">
                                                Eliminar mesa
                                            </button>
                                        </div>
                                        <div class="col-md-6">
                                            <button class="btn btn-primary waves-effect" ng-click="doneTableSelected()">
                                                Ok
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <script id="myModalDeleteTable.html" type="text/ng-template">
                <div class="modal-header">
                    <h3 class="modal-title">¿Estas seguro de eliminar esta mesa?</h3>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button class="btn btn-warning" type="button" ng-click="cancel()">No</button>
                    <button class="btn btn-primary" type="button" ng-click="ok()">Si</button>
                </div>
            </script>
        </div>
    </section>
</section>
<footer data-ng-include="'/template/footer.html'" id="footer">
</footer>
