  <div class="card-body table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Tables</th>
                            <th>Created</th>
                            <th>Status</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Zone 1</td>
                            <td>3</td>
                            <td>45</td>
                            <td>Active</td>
                            <td>
                            <button class="btn btn-default btn-icon-text waves-effect"><i class="zmdi zmdi-check"></i> Clone zone</button> <button class="btn btn-default btn-icon-text waves-effect"><i class="zmdi zmdi-check"></i> Edit zone</button>
                             <button class="btn btn-danger btn-icon-text waves-effect"><i class="zmdi zmdi-close"></i> Delete zone</button>
                            </td>
                        </tr>
              

                    </tbody>
                </table>
</div>