<section id="main">
    <section id="content">
        <div class="container zone-container" ng-controller="blockCtr">
            <div class="card">
                <div class="card-body card-padding box-zone-create">
                    <div class="row header-zone-create">
                        <div class="col-md-12">
                            <div class="col-xs-6 padding-left-none">
                                <div class="input-group fg-float">
                                    <select ng-change="selectZone(zone)" ng-model="zone" ng-options="item.name for item in zones ">
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-9 box-lienzo-zone">
                            <div class="lienzo" ng-click="onLienzo()" ng-drop="true" ng-drop-success="onDropComplete($data,$event)">
                                <div class="item-drag-table {{obj.class}} rt{{obj.rotate}}" id="tb-item{{$index}}" left="{{obj.left}}" ng-drag="false" ng-drag-data="obj" ng-repeat="obj in itemTables" ng-select-table="" on-click-fn="activarTableOptions($index,this)" on-deselect-fn="desactivarTable($index,obj)" on-selected-fn="activarTableOptions($index,obj)" option="edit" style="position: absolute;top:{{ obj.top }}px;left:{{obj.left}}px" top="{{obj.top}}">
                                    <div>
                                        {{obj.name}}
                                    </div>
                                    <div class="border shape-table {{obj.shape}} {{obj.size}}">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-3 box-tables">
                            <div class="box-tables-items" ng-show="boxTables.items">
                                <div class="row item descripcion">
                                    <h3 class="center">
                                        Add Block
                                    </h3>
                                </div>
                                <div class="space-24">
                                </div>
                                <div class="row item-table-box">
                                    <div class="col-md-12">
                                        <div class="title-table">
                                            Date
                                        </div>
                                        <div class="date-picker input-group" ng-class="{ 'is-opened': opened == true }">
                                            <span class="input-group-addon">
                                                <i class="zmdi zmdi-calendar ma-icon">
                                                </i>
                                            </span>
                                            <div class="fg-line" ng-class="{'fg-toggled': opened == true}">
                                                <input class="form-control" close-text="Close" datepicker-options="dateOptions" is-open="opened" min-date="minDate" ng-click="openCalendar($event, 'opened')" ng-model="fecha" ng-required="true" placeholder="Select Date" show-weeks="false" type="text" uib-datepicker-popup="{{format}}"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row item-table-box">
                                    <div class="col-md-12">
                                        <div class="title-table">
                                            Shift
                                        </div>
                                        <select ng-model="shift" ng-options="shift.name for shift in shifts">
                                        </select>
                                    </div>
                                </div>
                                <div class="row item-table-box">
                                    <div class="col-md-6">
                                        <div class="title-table">
                                            Start Time
                                        </div>
                                        <select ng-model="startTime" ng-options="startTime.hour12 for startTime in startTimes">
                                        </select>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="title-table">
                                            End Time
                                        </div>
                                        <select ng-model="endTime" ng-options="endTime.hour12 for endTime in endTimes">
                                        </select>
                                    </div>
                                </div>
                                <div class="row item-table-box">
                                    <div class="col-md-12">
                                        <div class="title-table">
                                            Tables
                                        </div>
                                        <p>
                                            {{mesasBloqueadas}}
                                        </p>
                                    </div>
                                </div>
                                <div class="row item-table-box">
                                    <div class="col-md-12">
                                        <button class="btn btn-primary waves-effect" ng-click="saveZone('create')">
                                            Save Zone
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <script id="myModalDeleteTable.html" type="text/ng-template">
                <div class="modal-header">
                    <h3 class="modal-title">Are you sure want to delete this table?</h3>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" type="button" ng-click="ok()">Yes</button>
                    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
                </div>
            </script>
        </div>
    </section>
</section>
