<header id="header" data-current-skin={{mactrl.currentSkin}} data-ng-include="'/template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>

<section id="main">
    <aside id="sidebar" data-ng-include="'/template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>

    <aside id="chat" data-ng-include="'/template/chat.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.right === true }"></aside>

    <section id="content">
        <div class="container">
            <div class="card wrapper-promotion">




<div class="card-header">
<h2>{{titulo}} <small></small></h2>
<div class="block-header" style="padding-bottom: 15px">
            <ul class="actions">
                <li>
                    <button class="btn btn-default waves-effect" data-ui-sref="promotion">Cancelar</button>
                </li>
                <li>
                    <button class="btn btn-primary waves-effect" ng-click="savePromotion('edit')">Actualizar promocion</button>
                </li>
            </ul>
        </div>
</div>

<div class="card-body card-padding">

<div class="row">
    <div class="col-xs-12 col-md-4">
        <div class="form-group fg-float m-b-30">
            <div class="fg-line">
                <label>Titulo</label>
                <input type="text" class="input-sm form-control fg-input" ng-model="promotion.title">
            </div>
        </div>
        <p class="c-black f-500 m-t-20 m-b-20">Descripción</p>
        <div class="form-group">
            <div class="fg-line">
            <text-angular placeholder="Redactar descripcion." ng-model="promotion.description" ta-toolbar="[['h1','h2','h3','h4','h5','h6','p','quote'],['bold','italics','underline','strikeThrough','ul','ol','clear'],['justifyLeft','justifyCenter','justifyRight','justifyFull','indent','outdent','insertLink','html']]">
                
            </text-angular>
            </div>

        </div>
        
        <div ng-bind-html="promotion.description | maxLength:23 | emoticons:{linkTarget:'_blank'}"></div> 
        
    </div>
    <div class="col-xs-12 col-md-4">


        <p class="f-500 c-black m-b-10">Turno</p>
        <div class="form-group">
            <div class="fg-line">
            <button class="btn btn-default btn-icon-text" ng-click="openModal('lg')"><i class="zmdi zmdi-apps"></i> Horarios de la promocion</button>
            </div>
        </div>

        <div class="m-b-20 m-t-30">
        <div class="toggle-switch" data-ts-color="blue">
            <label for="status_expire" class="ts-label">Ingresar fecha de caducidad</label>
            <input id="status_expire" type="checkbox" hidden="hidden" ng-model="promotion.status_expire" class="pull-right">
            <label for="status_expire" class="ts-helper"></label>
        </div>
        </div>
    
        <div ng-show="promotion.status_expire">
            <div class="date-picker input-group m-b-20" ng-class="{ 'is-opened': opened2 == true }">
                <span class="input-group-addon"><i class="zmdi zmdi-calendar ma-icon"></i></span>
                <div class="fg-line">
                    <input ng-click="open($event, 'opened2')" type="text" class="form-control" uib-datepicker-popup="{{format}}" show-weeks="false" ng-model="promotion.date_expire" is-open="opened2" min-date="minDate" datepicker-options="dateOptions" ng-required="true" close-text="Close" placeholder="Seleccione una fecha" />
                </div>
            </div>
        </div>    
     
        <div class="m-b-20">
        <div class="toggle-switch" data-ts-color="blue">
            <label for="publication" class="ts-label">Desea publicar en fanpage facebook o twitter.</label>
            <input id="publication" type="checkbox" hidden="hidden" ng-model="promotion.publication">
            <label for="publication" class="ts-helper"></label>
        </div>
        </div>

        <p class="c-black f-500">Tipo de promocion</p>
        <label class="radio radio-inline" ng-repeat="tipo in promotion.tipos">
            <input type="radio" ng-model="promotion.tipoSelected.type_event_id" name="tipo" ng-value="{{tipo.type_event_id}}">
            <i class="input-helper"></i>
            {{tipo.name}}
        </label>

        <div ng-show="promotion.tipoSelected.type_event_id == '4'">
        <!--
            <p class="f-500 c-black m-b-15">Zona disponible</p>
            <select chosen ng-model="promotion.zonaSelected" ng-options="z as z.title for z in promotion.zonas track by z.id" class="w-100" ng-change="invocarZonas(promotion.zonaSelected)">
            </select>
        -->    
            <br>
            <div class="form-group">
                <div class="fg-line">
                <button class="btn btn-default btn-icon-text" ng-click="invocarZonas(promotion.tipoSelected.type_event_id)"><i class="zmdi zmdi-apps"></i> Configurar Zonas disponibles</button>
                </div>
            </div>

        </div>

        <p class="c-black f-500 m-b-20 m-t-20">Estado de promocion</p>
        <label class="radio radio-inline m-r-20 m-b-20" ng-repeat="estado in promotion.status">
            <input type="radio" ng-model="promotion.statusSelected.value" name="estado" ng-value="{{estado.value}}">
            <i class="input-helper"></i>
             {{estado.name}}
        </label>    

   
    </div>
    <div class="col-xs-12 col-md-4">
        <p class="f-500 c-black m-b-20">Vista previa de promocion</p>
        <div class="fileinput fileinput-new">
            <span class="btn btn-info btn-file">
            <span ngf-select ng-model="promotion.myImage" name="myImage" ngf-pattern="'image/*'" ngf-accept="'image/*'" id="fileInput" ngf-min-height="300" ngf-change="validarImg(promotion.myImage)">Seleccionar imagen</span>
            </span>
            <span href="#" class="btn btn-danger" ng-click="clearImagePromotion()" ng-show="promotion.myImage">Cancelar</span>
        </div>
        
        <!--<div class="cropArea" ng-hide="promotion.myImage">
             <img-crop area-type="rectangle" image="urlimagen" area-coords="cropped" result-image="croppedDataUrl" init-max-area="true"></img-crop>
        </div>-->
        
        <div ngf-drop ng-model="promotion.myImage" ngf-pattern="image/*" class="cropArea">
            <img-crop area-type="rectangle" image="promotion.myImage" area-coords="cropped"                 
             area-init-size="{ w:cropped.cropWidth,h:cropped.cropHeight}" cropject="cropper" init-max-area="true" result-image="croppedDataUrl" ></img-crop>
        </div>
        
        
        <br>
        
        <!--<div><img ng-src="{{croppedDataUrl}}" ng-model="croppedDataUrl"/></div>-->

    </div>
    
</div>

</div>





</div>
        </div>
    </section>
</section>

<footer id="footer" data-ng-include="'/template/footer.html'"></footer>



<script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header">
        <h4 class="modal-title">Crear turnos</h4>
        <p>Definir horarios en que se aplicara la promocion</p>
    </div>
    <div class="modal-body">
        <form role="form" class="ng-pristine ng-valid" name="turnoFrm">
            <div class="row">
                <div class="col-xs-12 col-md-12">

                    <div class="radio m-b-15" ng-repeat="disposicion in turnos.disposiciones">
                        <label>
                            <input type="radio" ng-model="turnos.disposicionSelected.id" name="disposicion" ng-value="{{disposicion.id}}">
                            <i class="input-helper"></i>
                            {{disposicion.name}}
                        </label>
                    </div>

                </div>

                <div ng-show="turnos.disposicionSelected.id==2">

                    <div class="col-xs-12 col-md-12">
                        <div class="checkbox m-b-15">
                            <label class="m-r-5 m-b-10" ng-repeat="dia in turnos.semana">
                                <input type="checkbox" value="{{dia.id}}" ng-model="turnos.turnoSelected[$index]" ng-disabled="dia.disabled" ng-checked="dia.checked">
                                <i class="input-helper"></i> {{dia.label}}
                            </label>
                        </div>
                    </div>

                    <div class="col-xs-12 col-md-6">
                        <div class="form-group fg-line">
                            <label>Hora inicio</label>
                            <div class="select">
                                <select class="form-control" ng-model="horarios.hour_ini">
                                    <option value="1">01:00:00</option>
                                    <option value="2">02:00:00</option>
                                    <option value="3">03:00:00</option>
                                    <option value="4">04:00:00</option>
                                    <option value="5">05:00:00</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-md-6">
                        <div class="form-group fg-line">
                            <label>Hora final</label>
                            <div class="select">
                                <select class="form-control" ng-model="horarios.hour_end">
                                    <option value="1">01:00:00</option>
                                    <option value="2">02:00:00</option>
                                    <option value="3">03:00:00</option>
                                    <option value="4">04:00:00</option>
                                    <option value="5">05:00:00</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="text-center">
                        <button class="btn btn-primary btn-icon-text waves-effect" ng-click="addTurno()"><i class="zmdi zmdi-plus"></i> Añadir</button>
                    </div>

                    <div id="resultados" ng-show="existeTurno">
                        <div class="lv-header">
                            Turnos añadidos
                        </div>
                        <div class="clearfix"></div>
                        <div class="tl-body">
                            <div class="media" ng-repeat="turno in listTurnos track by $index">
                                <div class="pull-right">
                                    <ul class="actions">
                                        <li class="dropdown" uib-dropdown>
                                            <a href="" uib-dropdown-toggle>
                                                <i class="zmdi zmdi-more-vert"></i>
                                            </a>
                                            <ul class="dropdown-menu dropdown-menu-right">
                                                <li><a ng-click="deleteTurno($index,turno.turn_id)">Eliminar</a></li>
                                                <!--<li><a href="">Modificar</a></li>-->
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                                <div class="media-body">
                                    <div class="lv-title" ng-repeat="dia in turno.days">
                                        <span class="pull-left">- {{dia.day | diaSemana}}&nbsp;</span>
                                    </div>
                                    <div class="clearfix"></div>
                                    <small class="lv-small">{{turno.hours_ini | date:'h:mma'}} - {{turno.hours_end}}</small>
                                </div>

                            </div>

                        </div>
                    </div>


                </div>

            </div> 
        </form>


    </div>
    <div class="modal-footer">
        <!--<button class="btn btn-primary" ng-click="validateSaveTurno()">OK</button>-->
        <button class="btn btn-warning" ng-click="cancel()">Cerrar</button>
    </div>
</script>


<script type="text/ng-template" id="myModalContentZone.html">
    <div class="modal-header">
        <h4 class="modal-title">Zonas disponibles</h4>
        <p>Seleccione sus mesas y añada un precio</p>
    </div>
    <div class="modal-body">
        <tabset justified="true">
        <tab ng-repeat="tab in listZones" heading="{{tab.name}}" active="tab.active">
            <div class="zoneArea minheight" style="position:relative;">

                <div ng-select-table ng-repeat="obj in tab.table" ng-class="obj.price!='' ? 'definite-table item-active-table border {{obj.shape}} {{obj.size}} rt{{obj.rotate}}':'item-active-table border {{obj.shape}} {{obj.size}} rt{{obj.rotate}}'"  x="{{obj.left}}" y="{{obj.top}}" on-selected-fn="activarTableOptions($index,obj)" on-deselect-fn="desactivarTable($index,obj)" id="el{{obj.table_id}}">
                    <div class="txtcenter">{{obj.minCover}}</div>
                    <div class="txtmoneda" ng-show="obj.price">{{obj.price | currency:"S/.":2}} </div>
                </div>
                
            </div>
            
          </tab>
      </tabset>                
  </div>
  <div class="modal-footer">
    <div class="text-center" style="position:relative;">
        <button class="btn btn-primary btn-icon-text waves-effect" ng-click="addPrecio()"><i class="zmdi zmdi-plus"></i> Añadir precio</button>
        <button class="btn btn-warning" ng-click="cancel()">Cerrar</button>
    </div>
    <!--<button class="btn btn-primary" ng-click="validateSaveTurno()">OK</button>-->
    
</div>
</script>


<script type="text/ng-template" id="myModalContentPrice.html">
    <div class="modal-header">
        <h4 class="modal-title">Mesas seleccionadas</h4>
        <p>Ingresar precio para la lista de mesas</p>
    </div>
    <div class="modal-body">
        <div class="">
            <div class="media"  ng-repeat="item in itemTables">
                <div class="pull-right">
                    <ul class="actions">
                        <li class="dropdown" uib-dropdown>
                            <a href="" uib-dropdown-toggle>
                                <i class="zmdi zmdi-more-vert"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li><a ng-click="deleteTable(item,$index)">Eliminar</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div>
                    <div class="lv-title">
                        <div> {{item.name_zona}} 
                            <div class="zoneArea pull-right">
                                <div class="border {{item.shape}} {{item.size}} rt{{item.rotate}}">
                                    <div class="txtcenter">{{item.minCover}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>     
        </div>
    </div>
    <div class="modal-footer">
        <div class="text-center">
            <div class="form-group fg-float m-b-30">
                <div class="fg-line">
                    <input type="text" class="input-sm form-control fg-input" ng-model="precioDefault">
                    <label class="fg-label">Precio</label>
                </div>
            </div>

            <button class="btn btn-primary btn-icon-text waves-effect" ng-click="savePrecio()">Guardar</button>
            <button class="btn btn-warning" ng-click="cancel()">Cerrar</button>
        </div>
        <!--<button class="btn btn-primary" ng-click="validateSaveTurno()">OK</button>-->

    </div>
</script>

<script type="text/ng-template" id="myModalContentdesactivaPrice.html">
    <div class="modal-header">
        <h4 class="modal-title">Eliminar</h4>
    </div>
    <div class="modal-body">
        <div class="">
            <div class="media">
               
                <div>
                    <div class="lv-title">
                        <div>¿Desea eliminar el precio de la mesa?</div>
                    </div>
                </div>

            </div>     
        </div>
    </div>
    <div class="modal-footer">
        <div class="text-center">
            <button class="btn btn-primary btn-icon-text waves-effect" ng-click="cleanPrecio()">Si</button>
            <button class="btn btn-warning" ng-click="cancel()">No</button>
        </div>
        <!--<button class="btn btn-primary" ng-click="validateSaveTurno()">OK</button>-->

    </div>
</script>