<div class="card-header">
<h2>{{titulo}} <small></small></h2>
<div class="block-header" style="padding-bottom: 15px">
            <ul class="actions">
                <li>
                    <button class="btn btn-default waves-effect" data-ui-sref="promotion">Cancelar</button>
                </li>
                <li>
                    <button class="btn btn-primary waves-effect" ng-click="savePromotion()">Guardar promocion</button>
                </li>
            </ul>
        </div>
</div>

<div class="card-body card-padding">

<div class="row">
    <div class="col-xs-12 col-md-4">
        <div class="form-group fg-float m-b-30">
            <div class="fg-line">
                <input type="text" class="input-sm form-control fg-input" ng-model="promotion.titulo">
                <label class="fg-label">Titulo</label>
            </div>
        </div>
        <p class="c-black f-500 m-t-20 m-b-20">Descripción</p>
        <div class="form-group">
            <div class="fg-line">
            <text-angular placeholder="Redactar descripcion." ng-model="promotion.descripcion" ta-toolbar="[['h1','h2','h3','h4','h5','h6','p','quote'],['bold','italics','underline','strikeThrough','ul','ol','clear'],['justifyLeft','justifyCenter','justifyRight','justifyFull','indent','outdent','insertLink','html']]">
                
            </text-angular>
            </div>

        </div>
        
        <div ng-bind-html="promotion.descripcion | maxLength:23 | emoticons:{linkTarget:'_blank'}"></div> 
        
    </div>
    <div class="col-xs-12 col-md-4">


        <p class="f-500 c-black m-b-10">Turno</p>
        <div class="form-group">
            <div class="fg-line">
            <button class="btn btn-primary btn-icon-text" ng-click="openModal('lg')"><i class="zmdi zmdi-apps"></i> Intervalos de promocion</button>
            </div>
        </div>

        <div class="m-b-20 m-t-30">
        <div class="toggle-switch" data-ts-color="blue">
            <label for="caduca" class="ts-label">Ingresar fecha de caducidad</label>
            <input id="caduca" type="checkbox" hidden="hidden" ng-model="promotion.caduca" class="pull-right">
            <label for="caduca" class="ts-helper"></label>
        </div>
        </div>
    
        <div ng-show="promotion.caduca">
            <div class="date-picker input-group dp-blue m-b-20" ng-class="{ 'is-opened': opened2 == true }">
                <span class="input-group-addon"><i class="zmdi zmdi-calendar ma-icon"></i></span>
                <div class="fg-line" ng-class="{ 'fg-toggled': opened2 == true }">
                    <input ng-click="open($event, 'opened2')" type="text" class="form-control" uib-datepicker-popup="{{format}}" show-weeks="false" ng-model="promotion.fecha_caduca" is-open="opened2" min-date="minDate" datepicker-options="dateOptions" ng-required="true" close-text="Close" placeholder="Seleccione una fecha" />
                </div>
            </div>
        </div>    
     
        <div class="m-b-20">
        <div class="toggle-switch" data-ts-color="blue">
            <label for="publica" class="ts-label">Desea publicar en fanpage facebook o twitter.</label>
            <input id="publica" type="checkbox" hidden="hidden" ng-model="promotion.publica">
            <label for="publica" class="ts-helper"></label>
        </div>
        </div>

        <p class="c-black f-500 m-b-20">Tipo de promocion</p>
        <label class="radio radio-inline m-b-30" ng-repeat="tipo in promotion.tipos">
            <input type="radio" ng-model="promotion.tipoSelected.type_event_id" name="tipo" ng-value="{{tipo.type_event_id}}">
            <i class="input-helper"></i>
            {{tipo.name}}
        </label>

        <div class="m-b-20" ng-show="promotion.tipoSelected.type_event_id == '4'">
            <p class="f-500 c-black m-b-15">Zona disponible</p>
            <select chosen multiple ng-model="promotion.zonaSelected" ng-options="z as z.title for z in promotion.zonas track by z.id" class="w-100" ng-change="invocarZonas(z.id)">
            </select>
        </div>

        <p class="c-black f-500 m-b-20 m-t-20">Estado de promocion</p>
        <label class="radio radio-inline m-r-20 m-b-20" ng-repeat="estado in promotion.estados">
            <input type="radio" ng-model="promotion.estadoSelected.value" name="estado" ng-value="{{estado.value}}">
            <i class="input-helper"></i>
             {{estado.name}}
        </label>    

   
    </div>
    <div class="col-xs-12 col-md-4">
        <p class="f-500 c-black m-b-20">Vista previa de promocion</p>
        <div class="fileinput fileinput-new">
            <span class="btn btn-info btn-file">
            <span ngf-select ng-model="promotion.myImage" name="myImage" ngf-pattern="'image/*'" ngf-accept="'image/*'" id="fileInput" ngf-min-height="300" ngf-change="validarImg(promotion.myImage)">Seleccionar imagen</span>
            </span>
            <span href="#" class="btn btn-danger" ng-click="clearImagePromotion()" ng-show="promotion.myImage">Cancelar</span>
        </div>
        
        <div ngf-drop ng-model="promotion.myImage" ngf-pattern="image/*" class="cropArea">
            <img-crop area-type="rectangle" image="promotion.myImage  | ngfDataUrl" area-coords="cropped"                 
             area-init-size="{ w:cropped.cropWidth,h:cropped.cropHeight}" cropject="cropper" result-image="croppedDataUrl" init-max-area="true"></img-crop>
        </div>
        <br>
        
        <!--<div><img ng-src="{{croppedDataUrl}}" ng-model="croppedDataUrl"/></div>-->

    </div>
    
</div>

</div>

<script type="text/ng-template" id="myModalContent.html">
                <div class="modal-header">
                    <h4 class="modal-title">Crear turnos</h4>
                    <p>Definir horarios en que se aplicara la promocion</p>
                </div>
                <div class="modal-body">
                <form role="form" class="ng-pristine ng-valid" name="turnoFrm">
                    <div class="row">
                        <div class="col-xs-12 col-md-12">

                            <div class="radio m-b-15" ng-repeat="disposicion in turnos.disposiciones">
                                <label>
                                    <input type="radio" ng-model="turnos.disposicionSelected.id" name="disposicion" ng-value="{{disposicion.id}}">
                                    <i class="input-helper"></i>
                                    {{disposicion.name}}
                                </label>
                            </div>

                        </div>

                        <div ng-show="turnos.disposicionSelected.id==2">

                        <div class="col-xs-12 col-md-12">
                        <div class="checkbox m-b-15">
                            <label class="m-r-5 m-b-10" ng-repeat="dia in turnos.semana">
                                <input type="checkbox" value="{{dia.id}}" ng-model="turnos.turnoSelected[$index]" ng-disabled="dia.disabled" ng-checked="dia.checked">
                                <i class="input-helper"></i> {{dia.label}}
                            </label>
                        </div>
                        </div>

                        <div class="col-xs-12 col-md-6">
                            <div class="form-group fg-line">
                            <label>Hora inicio</label>
                            <input type="time" class="form-control input-sm" placeholder="HH:mm:ss" ng-model="horarios.hour_ini" required>
                            </div>
                        </div>

                        <div class="col-xs-12 col-md-6">
                            <div class="form-group fg-line">
                            <label>Hora final</label>
                            <input type="time" class="form-control input-sm" placeholder="HH:mm:ss" ng-model="horarios.hour_end" required>
                            </div>
                        </div>

                        <button class="btn btn-primary btn-icon-text waves-effect pull-right" ng-click="addTurno()"><i class="zmdi zmdi-plus"></i> Añadir</button>

                        <div id="resultados" ng-show="existeTurno">
                            <div class="lv-header">
                                Turnos añadidos
                            </div>
                            <div class="clearfix"></div>
                            <div class="tl-body">
                                <div class="media" ng-repeat="turno in listTurnos track by $index">
                                    <div class="pull-right">
                                        <ul class="actions">
                                            <li class="dropdown" uib-dropdown>
                                                <a href="" uib-dropdown-toggle>
                                                    <i class="zmdi zmdi-more-vert"></i>
                                                </a>

                                                <ul class="dropdown-menu dropdown-menu-right">
                                                    <li><a ng-click="deleteTurno($index)">Eliminar</a></li>
                                                    <!--<li><a href="">Modificar</a></li>-->
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="media-body">
                                        <div class="lv-title" ng-repeat="dia in turno.dias">
                                            <span class="pull-left">- {{dia.day | diaSemana}}&nbsp;</span>
                                        </div>
                                        <div class="clearfix"></div>
                                        <small class="lv-small">{{turno.hinicio | date:'h:mma'}} - {{turno.hfinal}}</small>
                                    </div>

                                </div>
                                
                            </div>
                        </div>


                        </div>

                    </div> 
                </form>

                
                </div>
                <div class="modal-footer">
                    <!--<button class="btn btn-primary" ng-click="validateSaveTurno()">OK</button>-->
                    <button class="btn btn-warning" ng-click="cancel()">Cerrar</button>
                </div>
</script>