  <div class="card-body table-responsive">

    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Tables</th>
                <th>Created</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in zonesInactive">
                <td>{{ item.id }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.tables_count }}</td>
                <td>{{ item.date_add }}</td>
                <td>
                    <button class="btn btn-default option btn-icon-text waves-effect" ui-sref="zone-clone({id : '{{item.id}}'})"><i class="zmdi zmdi-collection-item-1 zmdi-hc-fw"></i></button> <button class="btn btn-default option btn-icon-text waves-effect" ui-sref="zone-edit({id : '{{item.id}}'})"><i class="zmdi zmdi-edit zmdi-hc-fw"></i></button> 
                    <button class="btn btn-danger option btn-icon-text waves-effect" ng-click="deleteZoneConfirm(item.id,$index)"><i class="zmdi zmdi-close"></i> </button>
                    <button class="btn btn-default option btn-icon-text waves-effect" ui-sref="turn-create({id : '{{item.id}}'})"><i class="zmdi zmdi-hourglass-outline zmdi-hc-fw"></i></button>
                </td>
            </tr>

        </tbody>
    </table>
</div>